<gs-form id="form-main" class="flex-fill" novalidate="">
    <template>
    <gs-tab-group type="tabs" css-nav="fw-bold" css-pane="d-flex justify-content-center flex-fill p-2" data-css-active="text-bg-secondary">
        <gs-tab-header name="tab1" slot="tabs" title="General" active autofocus></gs-tab-header>
        <gs-tab-header name="tab2" slot="tabs" title="Display"></gs-tab-header>
        <gs-tab-header name="tab3" slot="tabs" title="Printer"></gs-tab-header>

        <gs-tab-panel slot="panels" name="tab1" template="//session/general.html" css-pane="flex-fill"></gs-tab-panel>
        <gs-tab-panel slot="panels" name="tab2" template="//session/display.html" css-pane="flex-fill" ></gs-tab-panel>
        <gs-tab-panel slot="panels" name="tab3" template="//session/printer.html" css-pane="flex-fill" ></gs-tab-panel>
    </gs-tab-group>
    </template>
</gs-form>
