<form slot="body" is="gs-ext-form" id="form-main" class="flex-fill" novalidate="">

    <gs-form-group css="m-1" name="license" label="License key" required autofocus
        css-field="text-uppercase" mask="XXXXXX-XXXXXX-XXXXXX"
        description="License key for IBM i server to be installed. Can be manually added with ADDLICKEY command.">
    </gs-form-group>

    <gs-form-group css="m-1" name="expdate" label="Expiration Date" required maxlength="8" mask="MM/DD/YY"
        description="License key expiration date - enter only if provided with license. Date format is MM/DD/YY.">
    </gs-form-group>

    <gs-form-group css="m-1" name="usglimit" label="Usage limit" required type="number" value="0" min="0" max="99999"
        maxlength="5" description="License usage limit. For *NOMAX set 0.">
    </gs-form-group>

    <hr class="text-secondary ms-4 me-4">

    <gs-form-group css="m-1" name="ipAddress" label="Remote location" readonly disabled>
    </gs-form-group>

    <gs-form-group css="m-1" name="user" label="User name" css-field="text-uppercase" maxlength="10" required 
        description="High permission user name to access AS/400 for license and product installation. This user and password are not saved.">
    </gs-form-group>

    <gs-form-group css="m-1" name="password" label="Password" required type="password" maxlength="64"
        description="Password for given user. Password and user are not saved.">
    </gs-form-group>

</form>