<gs-form-group css="m-1" name="user" label="User" data-cat="security" required 
    description="Connection user name.">
</gs-form-group>

<gs-form-group css="m-1" name="password" label="Password" data-cat="security" 
    reveal type="password" description="Connection user password.">
</gs-form-group>

<gs-form-group css="m-1" name="key" label="Access Key" data-cat="security" 
    type="text" rows="5" description="Base64 encoded PEM SSH private key.">
    <template>
    	<textarea clasS="form-control text-nowrap" rows="5" name="key" 
    		pattern=".*OPENSSH PRIVATE KEY.*"
    	></textarea>
    </template>
</gs-form-group>

<gs-form-group css="m-1" name="certificate" label="Certificate" data-cat="security" 
	pattern=".*-cert-v01@openssh\.com.*"
    type="text" description="SSH Certificate.">
</gs-form-group>

<gs-form-group css="m-1" name="signatures" label="Signatures" data-cat="security" 
    type="text" rows="5" description="Server SSH public key signatures.">
    <template>
        <textarea clasS="form-control text-nowrap" rows="5" name="signatures"></textarea>
    </template>    
</gs-form-group>