<gs-form-group css="m-1" name="user" label="User" data-cat="security" required 
    description="Connection user name.">
</gs-form-group>

<gs-form-group css="m-1" name="password" label="Pasword" data-cat="security"
    type="password" description="Connection user password. (optional)">
</gs-form-group>

<gs-form-group css="m-1" css-field="text-nowrap" name="key" label="Access Key" data-cat="security"
    type="text" rows="5" description="Base64 encoded PEM private key. (optional)">
</gs-form-group>

<gs-form-group css="m-1" css-field="text-nowrap" name="signatures" label="Signatures" data-cat="security"
    type="text" rows="5" description="Optional list of SSH server keys hashes to protect from MITM.">
</gs-form-group>