<div class="row form-group m-1">

    <div class="row form-group m-1">
        <div class="col-md-4 col-sm-4 col-xs-12 text-md-end ">
            <label class="control-label " for="key">API Key</label>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-11">
            <input class="form-control" id="key" name="key" type="text" disabled readonly>
        </div>      
    </div>   

    <div class="row form-group m-1">
        <div class="col-md-4 col-sm-4 col-xs-12 text-md-end ">
            <label class="control-label " for="uuid">UUID</label>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-11">
            <input class="form-control" id="uuid" name="uuid" type="text">
        </div>
        <div class="col-auto ">
            <gs-tooltip placement="right" title="IBM i server virtual group name as defined in host configurations."></gs-tooltip>
            <i class="bi bi-info-circle-fill text-primary me-2 fs-5"></i>
        </div>        
    </div>    

    <div class="row form-group m-1">
        <div class="col-md-4 col-sm-4 col-xs-12 text-md-end ">
            <label class="control-label " for="host">Host</label>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-11">
            <input class="form-control" id="host" name="host" type="text">
        </div>
        <div class="col-auto ">
            <gs-tooltip placement="right" title="IBM i server virtual name as defined in host configurations."></gs-tooltip>
            <i class="bi bi-info-circle-fill text-primary me-2 fs-5"></i>
        </div>        
    </div>  
    
    <div class="row form-group m-1">
        <div class="col-md-4 col-sm-4 col-xs-12 text-md-end ">
            <label class="control-label " for="ip">IP</label>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-11">
            <input class="form-control" id="ip" name="ip" type="text" pattern="^((25[0-5]|(2[0-4]|1\d|[1-9]|)\d)\.?\b){4}$">
        </div>
        <div class="col-auto ">
            <gs-tooltip placement="right" title="Remote client IP. Standard IP, CIDR format and wildcard IP mask are supported."></gs-tooltip>
            <i class="bi bi-info-circle-fill text-primary me-2 fs-5"></i>
        </div>        
    </div>      

    <div class="row form-group m-1">
        <div class="col-md-4 col-sm-4 col-xs-12 text-md-end ">
            <label class="control-label " for="active">Status</label>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-11">
            <select class="form-select" id="active" name="active" required>
                <option value="true">Enabled</option>
                <option value="false">Disabled</option>
            </select>
        </div>
        <div class="col-auto ">
            <gs-tooltip placement="right" title="Enable or disable this key."></gs-tooltip>
            <i class="bi bi-info-circle-fill text-primary me-2 fs-5"></i>
        </div>
    </div>
</div>