<!DOCTYPE html>
<html lang="en">

<head>
    <title>Layouts test</title>
    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="viewport"
        content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">

    <meta name="subject" content="Green Scereens Ltd.">
    <meta name="author" content="www.greenscreens.ltd">
    <meta name="keywords" content="JavaScript,WebComponents">
    <meta name="robots" content="index, follow">
    <meta name="revisit-after" content="3 month">
    <meta name="description" content="WebComponents UI library based on Bootstrap.">

    <script type="text/javascript">
        self.GS_TEMPLATE_URL = './templates';
    </script>
    <script type="module" src="/webcomponents/release/esm/io.greenscreens.components.all.esm.min.js"></script>
    <gs-css url="/webcomponents/assets/css/io.greenscreens.bootstrap.min.css"></gs-css>

    <template id="sidebar">sidebar</template>

</head>

<body>

    <!-- left-sidebar main right-sidebar -->
    <gs-layout type="horizontal">
        <gs-item css="text-bg-secondary" id="left-sidebar" resizable="true" min="60" max="280" template="#sidebar">
        </gs-item>
        <gs-item css="text-bg-primary" id="content" v-pos="top" h-pos="center">
            <template>content</template>
        </gs-item>
        <gs-item css="text-bg-secondary" id="right-sidebar" resizable="true" min="60" max="280" template="#sidebar">
        </gs-item>
    </gs-layout>

</body>

</html>
