<!DOCTYPE html>
<html lang="en">
<head>
    <title>test</title>
    <script type="module" src="/modules/index.mjs"></script>
    <gs-css  url="/assets/css/custom_5.2.0.css" ></gs-css>
</head>

<body >

    <div class="d-flex justify-content-center align-items-center p-1 border-bottom shadow-sm text-bg-light">
        <div><img src="/assets/img/logo.png" height="32"></div>        
    </div>

    <div class="m-4 p-1 bg-light border shadow-sm">
        <a class="btn btn-primary m-1" target="_blank" href="vertical.html">Vertical</a>
        <a class="btn btn-primary m-1" target="_blank" href="horizontal.html">Horizontal</a>
        <a class="btn btn-primary m-1" target="_blank" href="nested.html">Nested</a>
        <a class="btn btn-primary m-1" target="_blank" href="bootstrap.html">Bootstrap</a>
      </div>

</body>

</html>