<!DOCTYPE html>
<html lang="en">
<head>
    <title>test</title>
    <script type="module" src="/modules/index.mjs"></script>
    <gs-css active="true" global="true" url="/assets/css/custom_5.2.0.css" rel="stylesheet"></gs-css>
</head>

<body >

    <div class="d-flex justify-content-center align-items-center p-1 border-bottom shadow-sm text-bg-light">
        <div><img src="/assets/img/logo.png" height="32"></div>        
    </div>

    <div class="m-4 p-1 bg-light border shadow-sm">
        <a class="btn btn-primary m-1" href="vertical.html">Vertical</a>
        <a class="btn btn-primary m-1" href="horizontal.html">Horizontal</a>
        <a class="btn btn-primary m-1" href="nested.html">Nested</a>
        <a class="btn btn-primary m-1" href="dashboard.html">Dashboard</a>
        <a class="btn btn-primary m-1" href="dashboard1.html">Dashboard 1</a>
        <a class="btn btn-primary m-1" href="dashboard2.html">Dashboard 2</a>
        <a class="btn btn-primary m-1" href="bootstrap.html">Bootstrap</a>
      </div>

</body>

</html>