<!DOCTYPE html>
<html lang="en">

<head>
    <title>test</title>
    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="viewport"
        content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">

    <meta name="subject" content="Green Scereens Ltd.">
    <meta name="author" content="www.greenscreens.ltd">
    <meta name="keywords" content="JavaScript,WebComponents">
    <meta name="robots" content="index, follow">
    <meta name="revisit-after" content="3 month">
    <meta name="description" content="WebComponents UI library based on Bootstrap.">

    <script type="text/javascript">
        self.GS_TEMPLATE_URL = '../demos/layout/templates';
    </script>
    <script type="module" src="/webcomponents/modules/index.mjs"></script>
    <script type="module" src="/webcomponents/modules/components/GSSplitter.mjs"></script>

    <gs-css url="/webcomponents/assets/css/io.greenscreens.bootstrap_5.2.0.css"></gs-css>
</head>

<body class="text-bg-dark vh-100 p-0 m-0 overflow-hidden">
    <div class="">
        <header class="text-bg-light">header</header>
        <aside class="text-bg-secondary">sidebar</aside>
        <gs-splitter split="vertical" resize="start"></gs-splitter>
        <main class="text-bg-primary">main</main>
        <footer class="text-bg-dark">footer</footer>
    </div>
</body>

</html>
