<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap-Lit</title>
    <meta charset="utf-8">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">

    <meta name="subject" content="Green Scereens Ltd.">
    <meta name="author" content="www.greenscreens.ltd">
    <meta name="keywords" content="JavaScript,WebComponents">
    <meta name="robots" content="index, follow">
    <meta name="revisit-after" content="3 month">
    <meta name="description" content="WebComponents UI library based on Bootstrap.">

    <script>
        globalThis.GS_TEMPLATE_URL = '/bootstrap-lit/demos/templates/';
    </script>

    <!-- Optimized CSS loading -->
    <link rel="preload" href="/bootstrap-lit/assets/css/bootstrap.css" as="style"  data-adoptable="true" data-id="1">
    <link rel="preload" href="/bootstrap-lit/assets/themes/default.css" as="style" data-adoptable="true" data-id="2">
    <link rel="preload" href="/bootstrap-lit/assets/icons/bootstrap-icons.css" as="style" data-adoptable="true" data-id="4">

    <script type="module" src="/bootstrap-lit/modules/base/GSAdoptedEngine.mjs"></script>
    <script type="module" src="/bootstrap-lit/modules/base/GSTheme.mjs"></script>
    <script type="module" src="/bootstrap-lit/modules/components/Layout.mjs"></script>
    <script type="module" src="/bootstrap-lit/modules/components/Splitter.mjs"></script>
    <script type="module" src="/bootstrap-lit/modules/components/Template.mjs"></script>

</head>
<body>

    <!-- header main footer -->
    <gs-layout type="horizontal">

        <!-- header - tries to load template, if not found, show text-->
        <gs-item css="text-bg-light" name="hdr1" v-pos="center" h-pos="center" resizable template="#tplhdr">
            <template id="tplhdr">(header)</template>
        </gs-item>

        <!-- main - central panel containing another elements as template or child components  -->
        <gs-item css="text-bg-info" type="vertical">

            <!-- left sidebar panel -->
            <gs-item css="text-bg-secondary" name="sb1" min="60" max="281" resizable template="#tpllsb">
                <template id="tpllsb">(left-sidebar)</template>
            </gs-item>

            <!-- central panel -->
            <gs-item css="text-bg-primary" name="content" v-pos="top" h-pos="center" template="//tpl.html">

            </gs-item>

            <!-- right sidebar panel -->
            <gs-item css="text-bg-secondary overflow-hidden" name="sb2" min="60" max="280" resizable  v-pos="top" h-pos="end" template="#tplrsb">
                <template id="tplrsb"><div>(right-sidebar)</div></template>
            </gs-item>
        </gs-item>

        <!-- footer - tries to load template, if not found, show text-->
        <gs-item css="text-bg-dark" name="ftr1" v-pos="center" h-pos="center" min="5" resizable >
            <template>(footer)</template>
        </gs-item>

        <div slot="hdr1">header named slot</div>
        <div slot="sb1">left sidebar named slot</div>
        <div slot="sb2">right sidebar named slot</div>
        <div slot="content">content named slot</div>
        <div slot="ftr1">footer named slot</div>
    </gs-layout>

</body>

</html>