<gs-form beep block slot="body" css="flex-fill" autocomplete="off">
    <template>
        <gs-formui-handler></gs-formui-handler>
        <input id="id" name="id" type="hidden">
        <gs-tab-group type="tabs" css-tab="fw-bold" css-panel="p-2" data-css-item="">
            <gs-item title="General" template="//forms/configuration/general.html" active></gs-item>
            <gs-item title="Connection" template="//forms/configuration/connection.html"></gs-item>
            <gs-item title="Display" template="//forms/configuration/display.html"></gs-item>
            <gs-item title="Printer" template="//forms/configuration/printer.html"></gs-item>
            <!-- 
                Enable when become available
                <gs-item title="GUI" template="//forms/configuration/gui.html" css-pane="flex-fill" ></gs-item>
            -->
            <gs-item title="Security" template="//forms/configuration/security.html"></gs-item>
            <gs-item title="Sso" template="//forms/configuration/sso.html"></gs-item>
            <gs-item title="Cert" template="//forms/configuration/cert.html"></gs-item>
            <gs-item title="System" template="//forms/configuration/system.html"></gs-item>        
        </gs-tab-group>
    </template>
</gs-form>
