<gs-form beep block slot="body" css="flex-fill">
    <input id="id" name="id" type="hidden">
    <gs-tab-group type="tabs" css-tab="fw-bold" css-panel="p-2">
        <gs-item title="General" template="//forms/configuration/general.html" active></gs-item>
        <gs-item title="Device" template="//forms/configuration/device.html"></gs-item>
        <gs-item title="Connection" template="//forms/configuration/connection.html"></gs-item>
        <!-- 
            Enable when become available
            <gs-item title="GUI" template="//forms/configuration/gui.html" css-pane="flex-fill" ></gs-item>
        -->
        <gs-item title="Security" template="//forms/configuration/security.html"></gs-item>
        <gs-item title="SSO" template="//forms/configuration/sso.html"></gs-item>
        <gs-item title="SSL" template="//forms/configuration/ssl.html"></gs-item>
        <gs-item title="System" template="//forms/configuration/system.html"></gs-item>        
    </gs-tab-group>
</gs-form>
