<gs-form beep block slot="body" css="flex-fill" >
    <template>
        <gs-formui-handler data-disable="active" data-value="false"></gs-formui-handler>
        <input id="id" name="id" type="hidden">
    
        <gs-form-group  selectable required
            css="m-1" name="active" label="Active"
            description="Enable or disable this rule.">
            <gs-item value="true" name="Enabled"></gs-item>
            <gs-item value="false" name="Disabled"></gs-item>
        </gs-form-group>
    
        <gs-form-group  selectable required
            css="m-1" name="rule" label="Rule"
            description="Allow or deny network access based on matched criteria.">
            <gs-item value="0" name="Allow"></gs-item>
            <gs-item value="1" name="Deny"></gs-item>
        </gs-form-group>
    
        <gs-form-group  selectable required
            css="m-1" name="type" label="Type"
            description="Select filter type.
            IP: Single IP address to match.
            MASK: CIDR format of IP range.
            EXPR: Expression for more complex ranges such as * or 10.*.*.10-30 or 192.168.1.* etc.">
            <gs-item selected value="0" name="IP"></gs-item>
            <gs-item value="1" name="Mask"></gs-item>
            <gs-item value="2" name="Expression"></gs-item>
        </gs-form-group>
    
        <gs-form-group css="m-1" name="value" label="Value"
            autocomplete="off" required
            description="Rule value to match IP address.">
            <gs-item data-type="0" data-pattern1="^((?:(?:[0-9]{1,2})|(?:1[0-9]{2,2})|(?:2[0-4][0-9])|(?:25[0-5])|\*)\.){3}(?:(?:[0-9]{1,2})|(?:1[0-9]{2,2})|(?:2[0-4][0-9])|(?:25[0-5])|\*)$"></gs-item>
            <gs-item data-type="1" data-pattern1="^((?:(?:[0-9]{1,2})|(?:1[0-9]{2,2})|(?:2[0-4][0-9])|(?:25[0-5])|\*)\.){3}(?:(?:[0-9]{1,2})|(?:1[0-9]{2,2})|(?:2[0-4][0-9])|(?:25[0-5])|\*)(?:/[1-9]{1,2})$"></gs-item>
            <gs-item data-type="2" data-pattern1="^((?:(?:[0-9]{1,2})|(?:1[0-9]{2,2})|(?:2[0-4][0-9])|(?:25[0-5])|\*)(?:-(?:(?:[0-9]{1,2})|(?:1[0-9]{2,2})|(?:2[0-4][0-9])|(?:25[0-5])|\*))?\.){3}(?:(?:[0-9]{1,2})|(?:1[0-9]{2,2})|(?:2[0-4][0-9])|(?:25[0-5])|\*)(?:-(?:(?:[0-9]{1,2})|(?:1[0-9]{2,2})|(?:2[0-4][0-9])|(?:25[0-5])|\*))?$"></gs-item>        
        </gs-form-group>
    </template>
</gs-form>