<form slot="body" is="gs-ext-form" class="flex-fill py-3" novalidate="" autocomplete="off">

    <input id="id" name="id" type="hidden" defaultValue="0">

    <gs-form-group css="m-1" name="uuid" label="UUID" readony disabled></gs-form-group>

    <gs-form-group css="m-1" name="host" label="Host" readony disabled></gs-form-group>

    <gs-form-group css="m-1" name="user" label="User" readony disabled></gs-form-group>

    <gs-form-group css="m-1" name="status" label="Status"
        description="Enable or disable this account.">
        <template>
            <select class="form-select" id="status" name="status"  autofocus required>
                <option value="1" selected>Enabled</option>
                <option value="0">Disabled</option>
            </select>            
        </template>
    </gs-form-group>
   
</form>