<gs-form beep block slot="body" css="flex-fill" autocomplete="off">
    <template>

        <gs-form-group selectable required 
            toggling data-gsf-attribute="disabled" data-gsf-value="false"
            css="m-1" name="active" label="Status"
            description="Enable or disable this printer.">
            <gs-item value="true" name="Enabled" selected></gs-item>
            <gs-item value="false" name="Disabled"></gs-item>        
        </gs-form-group>
        
        <gs-form-group css="m-1" name="uuid" label="UUID" required 
            maxlength="64" pattern="[a-zA-Z0-9-_]+" css-field="text-uppercase"
            description="Configuration group. Used on login form along with virtual host name.">
        </gs-form-group>

        <gs-form-group css="m-1" name="host" label="Host" required 
            maxlength="64" pattern="[a-zA-Z0-9-_]+" css-field="text-uppercase"
            description="Virtual server name used on login screen. It is an alias for server IP address.">
        </gs-form-group>
        
        <gs-form-group css="m-1" name="library" label="Library" 
            maxlength="10" pattern="[a-zA-Z0-9-_]+"
            description="Spool OUTQ library.">
        </gs-form-group>

        <gs-form-group css="m-1" name="outq" label="Outq"  
            maxlength="10" pattern="[a-zA-Z0-9-_]+"
            description="Spool OUTQ source.">
        </gs-form-group>

        <gs-form-group css="m-1" name="spoolName" label="Spool" 
            maxlength="10" pattern="[a-zA-Z0-9-_]+"
            description="Spool name.">
        </gs-form-group> 

        <gs-form-group css="m-1" name="userName" label="User" 
            maxlength="10" pattern="[a-zA-Z0-9-_]+"
            description="Spool user name.">
        </gs-form-group>

        <gs-form-group selectable required
            css="m-1" name="driver" label="Driver" 
            description="Spool driver.">
            <gs-item value="0" name="PDF" selected></gs-item>
            <gs-item value="1" name="HTML"></gs-item>
            <gs-item value="2" name="TEXT"></gs-item>
            <gs-item value="3" name="JSON"></gs-item>
            <gs-item value="4" name="RAW"></gs-item>

            <gs-item value="6" name="JSX"></optiogs-item>
            <gs-item value="7" name="HPT"></gs-item>
            <gs-item value="8" name="ZPL"></gs-item>
            <gs-item value="9" name="POS"></gs-item>
            <gs-item value="11" name="SVG"></gs-item>
        </gs-form-group>    
        
        <gs-form-group css="m-1" name="printerName" label="Printer" 
            description="Local printer name.">
        </gs-form-group>
    </template>
</gs-form>