<form slot="body" is="gs-ext-form" id="form-main" class="flex-fill" novalidate="">

    <div class="row form-group m-1">
        <div class="col-md-4 col-sm-4 col-xs-12 text-md-end">
            <label class="control-label" for="active">Status</label>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-11">
            <select class="form-select" id="active" name="active" required>
                <option selected value="true">Enabled</option>
                <option value="false">Disabled</option>
            </select>
        </div>
        <div class="col-auto">
            <gs-tooltip placement="right" title="Enable or disable this printer."></gs-tooltip>
            <i class="bi bi-info-circle-fill text-primary me-2 fs-5"></i>
        </div>
    </div>

    <div class="row form-group m-1">
        <div class="col-md-4 col-sm-4 col-xs-12 text-md-end">
            <label class="control-label" for="uuid">UUID</label>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-11">
            <input class="form-control  text-uppercase" id="uuid" name="uuid" type="text" maxlength="64" pattern="[a-zA-Z0-9-_]+" required>
        </div>
        <div class="col-auto">
            <gs-tooltip placement="right" title="Configuration group. Used on login form along with virtual host name."></gs-tooltip>
            <i class="bi bi-info-circle-fill text-primary me-2 fs-5"></i>
        </div>
    </div>

    <div class="row form-group m-1">
        <div class="col-md-4 col-sm-4 col-xs-12 text-md-end">
            <label class="control-label" for="host">Host</label>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-11">
            <input class="form-control  text-uppercase" id="host" name="host" type="text" maxlength="64" pattern="[a-zA-Z0-9-_]+" required>
        </div>
        <div class="col-auto">
            <gs-tooltip placement="right" title="Virtual server name used on login screen. It is an alias for server IP address."></gs-tooltip>
            <i class="bi bi-info-circle-fill text-primary me-2 fs-5"></i>
        </div>
    </div>  
    
    <div class="row form-group m-1">
        <div class="col-md-4 col-sm-4 col-xs-12 text-md-end">
            <label class="control-label" for="library">Library</label>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-11">
            <input class="form-control  text-uppercase" id="library" name="library" type="text" maxlength="10" pattern="[a-zA-Z0-9-_]+">
        </div>
        <div class="col-auto">
            <gs-tooltip placement="right" title="Spool OUTQ library."></gs-tooltip>
            <i class="bi bi-info-circle-fill text-primary me-2 fs-5"></i>
        </div>
    </div>    
    
    <div class="row form-group m-1">
        <div class="col-md-4 col-sm-4 col-xs-12 text-md-end">
            <label class="control-label" for="outq">Outq</label>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-11">
            <input class="form-control  text-uppercase" id="outq" name="outq" type="text" maxlength="10" pattern="[a-zA-Z0-9-_]+">
        </div>
        <div class="col-auto">
            <gs-tooltip placement="right" title="Spool OUTQ source."></gs-tooltip>
            <i class="bi bi-info-circle-fill text-primary me-2 fs-5"></i>
        </div>
    </div>    

    <div class="row form-group m-1">
        <div class="col-md-4 col-sm-4 col-xs-12 text-md-end">
            <label class="control-label" for="spoolName">Spool</label>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-11">
            <input class="form-control  text-uppercase" id="spoolName" name="spoolName" type="text" maxlength="10" pattern="[a-zA-Z0-9-_]+">
        </div>
        <div class="col-auto">
            <gs-tooltip placement="right" title="Spool name."></gs-tooltip>
            <i class="bi bi-info-circle-fill text-primary me-2 fs-5"></i>
        </div>
    </div>    

    <div class="row form-group m-1">
        <div class="col-md-4 col-sm-4 col-xs-12 text-md-end">
            <label class="control-label" for="userName">User</label>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-11">
            <input class="form-control  text-uppercase" id="userName" name="userName" type="text" maxlength="10" pattern="[a-zA-Z0-9-_]+">
        </div>
        <div class="col-auto">
            <gs-tooltip placement="right" title="Spool user name."></gs-tooltip>
            <i class="bi bi-info-circle-fill text-primary me-2 fs-5"></i>
        </div>
    </div>    

    <div class="row form-group m-1">
        <div class="col-md-4 col-sm-4 col-xs-12 text-md-end">
            <label class="control-label" for="driver">Driver</label>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-11">
            <select class="form-select" id="driver" name="driver" required>
                <option selected value="0">PDF</option>
                <option value="1">HTML</option>
                <option value="2">TEXT</option>
                <option value="3">JSON</option>
                <option value="4">RAW</option>

                <option value="6">JSX</option>
                <option value="7">HPT</option>
                <option value="8">ZPL</option>
                <option value="9">POS</option>
                <option value="11">SVG</option>
            </select>
        </div>
        <div class="col-auto">
            <gs-tooltip placement="right" title="Spool driver."></gs-tooltip>
            <i class="bi bi-info-circle-fill text-primary me-2 fs-5"></i>
        </div>
    </div>

    <div class="row form-group m-1">
        <div class="col-md-4 col-sm-4 col-xs-12 text-md-end">
            <label class="control-label" for="printerName">Printer</label>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-11">
            <input class="form-control" id="printerName" name="printerName" type="text" >
        </div>
        <div class="col-auto">
            <gs-tooltip placement="right" title="Local printer name."></gs-tooltip>
            <i class="bi bi-info-circle-fill text-primary me-2 fs-5"></i>
        </div>
    </div>   

</form>