<form slot="body" is="gs-ext-form" id="form-main" class="flex-fill" novalidate="">

    <input type="text" class="form-control d-none" id="id" name="id" readonly>

    <gs-form-group css="m-1" name="status" label="Status" required     
        description="Enable or disable this task.">
        <template>
            <select class="form-select" id="status" name="status" required>
                <option selected value="true">Enabled</option>
                <option value="false">Disabled</option>
            </select>            
        </template>
    </gs-form-group>

    <gs-form-group css="m-1" name="type" label="Type" required     
        description="Task type.">
        <template>
            <select class="form-select" id="type" name="type">
                <option value="1">Service Event</option>
                <option value="2">Web Access On</option>
                <option value="3">Web Access Off</option>
                <option value="4">Server Restart</option>
                <option value="6">Central Management</option>
            </select>            
        </template>
    </gs-form-group>

    <gs-form-group css="m-1" name="name" label="Name" required     
        description="Task name">
    </gs-form-group>   

    <gs-form-group css="m-1" name="day" label="Day" required     
        description="Trigger day.">
        <template>
            <select class="form-select" id="day" name="day" required>
                <option value="0">Every</option>
                <option value="1">Monday</option>
                <option value="2">Tuesday</option>
                <option value="3">Wednesday</option>
                <option value="4">Thursday</option>
                <option value="5">Friday</option>
                <option value="6">Saturday</option>
                <option value="7">Sunday</option>
                <option value="8">Work days</option>
                <option value="9">Weekends</option>
            </select>            
        </template>
    </gs-form-group>    

    <gs-form-group css="m-1" name="time" label="Time" type="time" required     
        description="Trigger time.">
    </gs-form-group>    

    <gs-form-group css="m-1" name="data" label="Data"     
        description="Extra data to send to service.">
    </gs-form-group>    

</form>