<gs-form beep block slot="body" css="flex-fill" autocomplete="off">
    <template>
        <gs-formui-handler></gs-formui-handler>
        <gs-tab-group type="tabs" css-tab="fw-bold" css-panel="p-2" data-css-item="">
            <gs-item title="General" template="//forms/tunnel/general.html" active></gs-item>
            <gs-item title="Security" template="//forms/tunnel/security.html"></gs-item>
            <gs-item title="Options" template="//forms/tunnel/options.html"></gs-item>
        </gs-tab-group>
    </template>
</gs-form>