<form slot="body" is="gs-ext-form" id="form-main" class="flex-fill" novalidate="">
    
    <gs-form-group css="m-1" name="enabled" label="Status" required     
        description="Enable or disable network tunnel.">
        <template>
            <select class="form-select" id="enabled" name="enabled" required>
                <option value="true">Enabled</option>
                <option value="false">Disabled</option>
            </select>            
        </template>
    </gs-form-group>

    <gs-form-group css="m-1" name="type" label="Type" required     
        description="Select network tunnel type.">
        <template>
            <select class="form-select" id="type" name="type" required>
                <option value="0">SOCK5</option>
                <option selected value="2">SSH</option>
                <option value="1">VPN</option>
            </select>            
        </template>
    </gs-form-group>
    
    <gs-form-group css="m-1" name="unix" label="Protocol" required     
        description="Select network connection type.">
        <template>
            <select class="form-select" id="unix" name="unix" required>
                <option selected value="false">AF_TCP</option>
                <option value="true">AF_UNIX</option>
            </select>            
        </template>
    </gs-form-group>  
    
    <gs-form-group css="m-1" name="name" label="Name" required     
        description="Configuration name. Used it inside host settings as a reference.">
    </gs-form-group>    
    
    <gs-form-group css="m-1" name="ip" label="IP Address" required    
        pattern="^((25[0-5]|(2[0-4]|1\d|[1-9]|)\d)\.?\b){4}$" 
        _mask="NNN.NNN.NNN.NNN"
        description="Remote tunnel address.">
    </gs-form-group>
    
    <gs-form-group css="m-1" name="port" label="Port" required  
        type="number" min="1" max="65535"   
        description="Remote tunnel port.">
    </gs-form-group>

</form>