<gs-form beep block slot="body" css="flex-fill">
    <template>
        <gs-formui-handler></gs-formui-handler>
        <gs-tab-group type="tabs" css-tab="fw-bold" css-panel="p-2">
            <gs-item title="General" template="//forms/user/general.html" active></gs-item>
            <gs-item title="Device" template="//forms/user/device.html"></gs-item>  
            <gs-item title="Options" template="//forms/user/options.html"></gs-item>  
        </gs-tab-group>
    </template>    
</gs-form>
