<div class="d-flex  align-items-center">
    
        <gs-router url="//header.json"></gs-router>

        <gs-button id="restart" css="shadow-none fs-3" icon="arrow-repeat" tooltip="Restart server" text="secondary" url="#restart"></gs-button>

        <gs-button id="explorer" css="shadow-none fs-3" icon="folder-symlink" tooltip="Open resource explorer" text="secondary" data-gs-action="explorer" data-gs-src="/admin/explorer/"></gs-button>
        <gs-dropdown simple auto dark group="header" icon="download fs-3" id="menu1" css="px-1" tooltip="Downloads">
            <gs-item name="Download Configuration" data-gs-action="download-config"></gs-item>
            <gs-item name="Download Logs" data-gs-action="download-logs"></gs-item>
        </gs-dropdown>

        <gs-button id="migrate" css="shadow-none fs-3" icon="database" tooltip="Migrate Storage from previous version" text="secondary" url="#migrate"></gs-button>
        <gs-dropdown simple auto dark group="header" icon="postcard fs-3" id="menu2" css="px-1" tooltip="Digital Certificate Tools">
            <gs-item name="Regenerate Terminal Keys" data-gs-action="cert-gen-term"></gs-item>
            <gs-item></gs-item>
            <gs-item name="Generate Timestamp Cert" data-gs-action="cert-gen-tsp"></gs-item>
            <gs-item name="Generate Server Cert" data-gs-action="cert-gen-svr"></gs-item>
            <gs-item name="Generate Client Cert" url="#certclient"></gs-item>
            <gs-item name="Revoke Client" url="#certrevoke"></gs-item>
            <gs-item></gs-item>
            <gs-item name="Generate Server Req" data-gs-action="cert-gen-req"></gs-item>
            <gs-item></gs-item>                
            <gs-item name="Export Root CA" data-gs-action="cert-export"></gs-item>
            <gs-item name="Import PFX/PEM" url="#cert-import"></gs-item>
            <gs-item></gs-item>                
            <gs-item name="Toggle Client Verification" data-gs-action="cert-client-verify" title="Turn ON/OFF client certificate security."></gs-item>
            <gs-item name="Reload certificates" data-gs-action="cert-server-refresh" title="Reload all certificates from storage to the server"></gs-item>
            <gs-item name="Options" url="#cert-options"></gs-item>                
        </gs-dropdown>
        <gs-dropdown simple auto dark group="header" icon="shield-lock fs-3" id="menu4" css="px-1" tooltip="Single sign-on Tools (SSO)">
            <gs-item name="Autoconfigure" url="#kerbinit"></gs-item>
            <gs-item name="Kerberos" url="#kerberos"></gs-item>
            <gs-item name="SSO Lite" url="#kerblite" tooltip="SSO based on LDAP"></gs-item>
        </gs-dropdown>
        <gs-dropdown simple auto dark group="header" icon="gear fs-3" dark id="menu3" css="px-1" tooltip="General preferences">
            <gs-item name="Admin Login" url="#login-admin"></gs-item>
            <gs-item name="Login Defaults" url="#login-defaults"></gs-item>
            <gs-item></gs-item>
            <gs-item name="Register Biometric" url="#register-biometric"></gs-item>
            <gs-item name="Register OTP" url="#register-otp"></gs-item>
            <gs-item name="OTP Options" url="#otp-options"></gs-item>
            <gs-item></gs-item>
            <gs-item name="Syslog" url="#syslog"></gs-item>
            <gs-item name="Network" url="#network"></gs-item>
            <gs-item name="System" url="#system"></gs-item>
        </gs-dropdown>
        <gs-button id="logout" css="shadow-none fs-3" icon="box-arrow-right fs-3" tooltip="Logout from Web Admin Console" text="secondary" data-gs-action="logout"></gs-button>
</div>