<gs-form beep block slot="body" css="flex-fill">

    <div class="row form-group m-1">
        <div class="col-3"></div>
        <div class="col-6">
            <input class="form-control" id="password"  name="password" type="password" autocomplete="off" placeholder="...enter password" autofocus required disabled>
        </div>
    </div>
    
    <div class="row form-group m-1">
        <div class="col-3"></div>
        <div class="col-6">
            <input class="form-control" id="otp" name="otp" type="number" autocomplete="off" maxlength="6" min="0" max="999999"  required disabled placeholder="...enter OTP">
        </div>
    </div>
        
    <gs-notification id="notification"></gs-notification>
</gs-form>