<gs-offcanvas css="border-end shadow-sm" css-head="p-0 border-bottom" css-body="overflow-hidden" 
    visible="false" closable="false" autoclose="true" min="65" max="260">

    <div slot="header" class="flex-fill">
        <a href="https://webcomponents.greenscreens.ltd" target="_blank"
            class="m-3 d-flex justify-content-start align-items-center fs-5">
            <span><img src="/webcomponents/assets/img/icon.png" height="26"></span>
            <span class="d-flex ms-4 overflow-hidden text-nowrap"><b>Admin Panel</b></span>
        </a>
    </div>

    <gs-list slot="body" css="" selectable="false">

        <gs-item css="border-0 p-1 d-flex align-items-center fs-5 text-nowrap" 
                icon="bi-card-list fs-4 pe-4" title="Configurations" 
                inject="gs-admin-view-configuration" target="#content">
        </gs-item>

        <gs-item css="border-0 p-1 d-flex align-items-center fs-5 text-nowrap"
                icon="bi-code-slash fs-4 pe-4" title="Customization" 
                inject="gs-admin-view-customization" target="#content">
        </gs-item>
    
    </gs-list>

    <hr slot="body">

    <gs-list slot="body" css="" selectable="false">

        <gs-item css="border-0 p-1 d-flex align-items-center fs-5 text-nowrap"
                icon="bi-shield-shaded fs-4 pe-4" title="IP Filter" 
                inject="gs-admin-view-filterip" target="#content">
        </gs-item>

        <gs-item css="border-0 p-1 d-flex align-items-center fs-5 text-nowrap" 
                icon="bi-phone fs-4 pe-4" title="Mobile Filter" 
                inject="gs-admin-view-filtermobile" target="#content">
        </gs-item>

    </gs-list>

    <hr slot="body">

    <gs-list slot="body" css="" selectable="false">

        <gs-item css="border-0 p-1 d-flex align-items-center fs-5 text-nowrap" 
                icon="bi-lock-fill fs-4 pe-4" title="API Keys" 
                inject="gs-admin-view-apikeys" target="#content">
        </gs-item>

        <gs-item css="border-0 p-1 d-flex align-items-center fs-5 text-nowrap" 
                icon="bi-key-fill fs-4 pe-4" title="OTP Keys" 
                inject="gs-admin-view-otp" target="#content">
        </gs-item>

        <gs-item css="border-0 p-1 d-flex align-items-center fs-5 text-nowrap" 
                icon="bi-fingerprint fs-4 pe-4" title="Biometrics" 
                inject="gs-admin-view-biometrics" target="#content">
        </gs-item>
    
    </gs-list>

    <hr slot="body">

    <gs-list slot="body" css="" selectable="false">

        <gs-item css="border-0 p-1 d-flex align-items-center fs-5 text-nowrap" 
                icon="bi-printer-fill fs-4 pe-4" title="Printing" 
                inject="gs-admin-view-printing" target="#content">
        </gs-item>
        
        <gs-item css="border-0 p-1 d-flex align-items-center fs-5 text-nowrap" 
                icon="bi-hourglass-split fs-4 pe-4" title="Scheduler" 
                inject="gs-admin-view-scheduler" target="#content">
        </gs-item>

        <gs-item css="border-0 p-1 d-flex align-items-center fs-5 text-nowrap" 
                icon="bi-fan fs-4 pe-4" title="Services" 
                inject="gs-admin-view-services" target="#content">
        </gs-item>

        <gs-item css="border-0 p-1 d-flex align-items-center fs-5 text-nowrap" 
                icon="bi-people-fill fs-4 pe-4" title="Users" 
                inject="gs-admin-view-users" target="#content">
        </gs-item>
        
        <gs-item css="border-0 p-1 d-flex align-items-center fs-5 text-nowrap" 
                icon="bi-display fs-4 pe-4" title="Workstations" 
                inject="gs-admin-view-workstations" target="#content">
        </gs-item>
        
        <gs-item css="border-0 p-1 d-flex align-items-center fs-5 text-nowrap" 
                icon="bi-x-diamond-fill fs-4 pe-4" title="Web Modules" 
                inject="gs-admin-view-webmodules" target="#content">
        </gs-item>
          
    </gs-list>    

    <hr slot="body">
    
    <gs-list slot="body" css="" selectable="false">
        
        <gs-item css="border-0 p-1 d-flex align-items-center fs-5 text-nowrap" 
                icon="bi-question-circle-fill fs-4 pe-4" title="Documentation" 
                href="https://github.com/greenscreens-io/webcomponents/blob/main/manual/index.md" _href="/doc" target="_blank">
        </gs-item>
        
        <gs-item css="border-0 p-1 d-flex align-items-center fs-5 text-nowrap" 
                icon="bi-info-circle-fill fs-4 pe-4" title="About" 
                inject="gs-admin-dialog-about" target="#dialogs">
        </gs-item>        
    </gs-list>  

</gs-offcanvas>