<gs-drawer css="border-end shadow-sm" 
	css-head="p-0 border-bottom user-select-none" 
	css-body="p-0 overflow-hidden user-select-none" 
        autoclose min="65" max="260">
        
        <gs-router url="//sidebar.json"></gs-router>

    <div slot="header" class="flex-fill p-0 m-0">
        <a href="https://webcomponents.greenscreens.ltd" target="_blank"
            class="m-3 d-flex justify-content-start align-items-center fs-6 text-secondary text-decoration-none">
            <span><img src="/webcomponents/assets/img/icon.png" height="26" alt="Application icon"></span>
            <span class="d-flex ms-4 overflow-hidden text-nowrap"><b>Admin Panel</b></span>
        </a>
    </div>

    <gs-list slot="body" group="sidebar" selectable 
        data-css-active="text-bg-secondary"
        -data-css-inactive="bg-transparent"
        data-css-item="d-flex w-100 justify-content-start align-items-center border-0 text-nowrap">

        <gs-list-item size="5" icon="card-list pe-4 ps-1" title="Configurations" url="#configurations">
        </gs-list-item>

        <gs-list-item size="5" icon="diagram-3 pe-4 ps-1" title="Tunnel" url="#tunnel">
        </gs-list-item>

        <gs-list-item size="5" icon="code-slash pe-4 ps-1" title="Customization" url="#customization">
        </gs-list-item>
    </gs-list>

    <hr slot="body">

    <gs-list slot="body" group="sidebar" selectable
        data-css-active="text-bg-secondary"
        -data-css-inactive="bg-transparent"
        data-css-item="d-flex w-100 justify-content-start align-items-center border-0 text-nowrap">
        
        <gs-list-item size="5" icon="pc pe-4 ps-1" title="FIDO Filter" url="#filter-fido">
        </gs-list-item>

        <gs-list-item size="5" icon="shield-shaded pe-4 ps-1" title="IP Filter" url="#filter-ip">
        </gs-list-item>

        <gs-list-item size="5" icon="phone pe-4 ps-1" title="Mobile Filter" url="#filter-mobile">
        </gs-list-item>

    </gs-list>

    <hr slot="body">

    <gs-list slot="body" group="sidebar" selectable
        data-css-active="text-bg-secondary"
        -data-css-inactive="bg-transparent"
        data-css-item="d-flex w-100 justify-content-start align-items-center border-0 text-nowrap">

        <gs-list-item size="5" icon="lock-fill pe-4 ps-1" title="API Keys" url="#key-api">
        </gs-list-item>

        <gs-list-item size="5" icon="key-fill pe-4 ps-1" title="OTP Keys" url="#key-otp">
        </gs-list-item>

        <gs-list-item size="5" icon="fingerprint pe-4 ps-1" title="Biometrics" url="#key-bio">
        </gs-list-item>
    
    </gs-list>

    <hr slot="body">

    <gs-list slot="body" group="sidebar" selectable
        data-css-active="text-bg-secondary"
        -data-css-inactive="bg-transparent"
        data-css-item="d-flex w-100 justify-content-start align-items-center border-0 text-nowrap">

        <gs-list-item size="5" icon="printer-fill pe-4 ps-1" title="Printing" url="#printing">
        </gs-list-item>

        <gs-list-item size="5" icon="hourglass-split pe-4 ps-1" title="Scheduler" url="#scheduler">
        </gs-list-item>

        <gs-list-item size="5" icon="people-fill pe-4 ps-1" title="Users" url="#users">
        </gs-list-item>
                  
    </gs-list>    

    <hr slot="body">

    <gs-list slot="body" group="sidebar" selectable
        data-css-active="text-bg-secondary"
        -data-css-inactive="bg-transparent"
        data-css-item="d-flex w-100 justify-content-start align-items-center border-0 text-nowrap">

        <gs-list-item size="5" icon="fan pe-4 ps-1" title="Services" url="#services">
        </gs-list-item>

        <gs-list-item size="5" icon="display pe-4 ps-1" title="Workstations" url="#workstations">
        </gs-list-item>

        <gs-list-item size="5" icon="x-diamond-fill pe-4 ps-1" title="Web Modules" url="#webmodules">
        </gs-list-item>

    </gs-list>  

    <hr slot="body">
    
    <gs-list slot="body" group="sidebar"  
        data-css-active="text-bg-secondary"
        -data-css-inactive="bg-transparent"
        data-css-item="d-flex w-100 justify-content-start align-items-center border-0 text-nowrap">

        <gs-list-item size="5" icon="question-circle-fill pe-4 ps-1" title="Documentation" disabled
                target="_blank" url="/doc">
        </gs-list-item>

        <gs-list-item size="5" icon="info-circle-fill pe-4 ps-1" title="About" disabled url="#about">
        </gs-list-item>       
        
    </gs-list>  

</gs-drawer>