<gs-drawer css="border-end shadow-sm" 
	css-head="p-0 border-bottom user-select-none" 
	css-body="p-0 overflow-hidden user-select-none" 
        autoclose min="65" max="260">

    <div slot="header" class="flex-fill p-0 m-0">
        <a href="https://webcomponents.greenscreens.ltd" target="_blank"
            class="m-3 d-flex justify-content-start align-items-center fs-6 text-secondary text-decoration-none">
            <span><img src="/webcomponents/assets/img/icon.png" height="26" alt="Application icon"></span>
            <span class="d-flex ms-4 overflow-hidden text-nowrap"><b>Admin Panel</b></span>
        </a>
    </div>

    <gs-list slot="body" group="sidebar" selectable 
        data-gs-target="#content"
        data-css-active="text-bg-secondary"
        -data-css-inactive="bg-transparent"
        data-css-item="d-flex w-100 justify-content-start align-items-center border-0 text-nowrap">

        <gs-list-item size="5" icon="card-list pe-4 ps-1" title="Configurations"
                data-gs-swap="gs-admin-view-configuration">
        </gs-list-item>

        <gs-list-item size="5" icon="diagram-3 pe-4 ps-1" title="Tunnel"
                data-gs-swap="gs-admin-view-tunnel">
        </gs-list-item>

        <gs-list-item size="5" icon="code-slash pe-4 ps-1" title="Customization"
                data-gs-swap="gs-admin-view-customization">
        </gs-list-item>
    
    </gs-list>

    <hr slot="body">

    <gs-list slot="body" group="sidebar" selectable
        data-gs-target="#content"
        data-css-active="text-bg-secondary"
        -data-css-inactive="bg-transparent"
        data-css-item="d-flex w-100 justify-content-start align-items-center border-0 text-nowrap">
        
        <gs-list-item size="5" icon="pc pe-4 ps-1" title="FIDO Filter"
                data-gs-swap="gs-admin-view-filterfido">
        </gs-list-item>

        <gs-list-item size="5" icon="shield-shaded pe-4 ps-1" title="IP Filter"
                data-gs-target="#content" data-gs-swap="gs-admin-view-filterip">
        </gs-list-item>

        <gs-list-item size="5" icon="phone pe-4 ps-1" title="Mobile Filter"
                data-gs-target="#content" data-gs-swap="gs-admin-view-filtermobile">
        </gs-list-item>

    </gs-list>

    <hr slot="body">

    <gs-list slot="body" group="sidebar" selectable
        data-gs-target="#content"
        data-css-active="text-bg-secondary"
        -data-css-inactive="bg-transparent"
        data-css-item="d-flex w-100 justify-content-start align-items-center border-0 text-nowrap">

        <gs-list-item size="5" icon="lock-fill pe-4 ps-1" title="API Keys"
                data-gs-swap="gs-admin-view-apikeys">
        </gs-list-item>

        <gs-list-item size="5" icon="key-fill pe-4 ps-1" title="OTP Keys"
                data-gs-swap="gs-admin-view-otp">
        </gs-list-item>

        <gs-list-item size="5" icon="fingerprint pe-4 ps-1" title="Biometrics"
                data-gs-swap="gs-admin-view-biometrics">
        </gs-list-item>
    
    </gs-list>

    <hr slot="body">

    <gs-list slot="body" group="sidebar" selectable
        data-gs-target="#content"
        data-css-active="text-bg-secondary"
        -data-css-inactive="bg-transparent"
        data-css-item="d-flex w-100 justify-content-start align-items-center border-0 text-nowrap">

        <gs-list-item size="5" icon="printer-fill pe-4 ps-1" title="Printing"
                data-gs-swap="gs-admin-view-printing">
        </gs-list-item>

        <gs-list-item size="5" icon="hourglass-split pe-4 ps-1" title="Scheduler"
                data-gs-swap="gs-admin-view-scheduler">
        </gs-list-item>

        <gs-list-item size="5" icon="people-fill pe-4 ps-1" title="Users"
                data-gs-swap="gs-admin-view-users">
        </gs-list-item>
                  
    </gs-list>    

    <hr slot="body">

    <gs-list slot="body" group="sidebar" selectable
        data-gs-target="#content"
        data-css-active="text-bg-secondary"
        -data-css-inactive="bg-transparent"
        data-css-item="d-flex w-100 justify-content-start align-items-center border-0 text-nowrap">

        <gs-list-item size="5" icon="fan pe-4 ps-1" title="Services"
                data-gs-swap="gs-admin-view-services">
        </gs-list-item>

        <gs-list-item size="5" icon="display pe-4 ps-1" title="Workstations"
                data-gs-swap="gs-admin-view-workstations">
        </gs-list-item>

        <gs-list-item size="5" icon="x-diamond-fill pe-4 ps-1" title="Web Modules"
                data-gs-swap="gs-admin-view-webmodules">
        </gs-list-item>

    </gs-list>  

    <hr slot="body">
    
    <gs-list slot="body" group="sidebar"  
        data-css-active="text-bg-secondary"
        -data-css-inactive="bg-transparent"
        data-css-item="d-flex w-100 justify-content-start align-items-center border-0 text-nowrap">

        <gs-list-item size="5" icon="question-circle-fill pe-4 ps-1" title="Documentation" disabled
                target="_blank" href="/doc">
        </gs-list-item>

        <gs-list-item size="5" icon="info-circle-fill pe-4 ps-1" title="About"  disabled
                data-gs-target="#dialogs" data-gs-attribute="{visible:true}" data-gs-swap="gs-admin-dialog-about">
        </gs-list-item>        
        
    </gs-list>  

</gs-drawer>