<div class="d-flex justify-content-between align-items-center p-1">

    <gs-search class="w-50" name="search"></gs-search>
    <div>
        <gs-button action="export" select="false" comment="Export table data" css="text-bg-light"
            icon="bi bi-download fs-4 fw-bold"></gs-button>         
        <gs-button id="refresh" action="refresh" select="false" comment="Refresh data" css="text-bg-light"
            icon="bi bi-arrow-repeat fs-4 fw-bold"></gs-button>
    </div>
</div>
