<gs-form-group css="m-1" name="ipAddress" label="Server address" required
    _pattern="^((25[0-5]|(2[0-4]|1\d|[1-9]|)\d)\.?\b){4}$" 
    description="Remote host to configure web access to terminal access.">
</gs-form-group>

<gs-form-group css="m-1" name="port" label="Server port" required
    type="number" min="1" max="65535" value="23"
    description="Remote host port. Default is 23 or 922 for SSL.">
</gs-form-group>

<gs-form-group css="m-1" css-field="text-uppercase" name="proxyName" label="Tunnel name"
    description="Reference to network tunnel configuration if tunneling used.">
</gs-form-group>

<gs-form-group selectable required css="m-1" name="secured" label="Secured connection" 
    description="Disable or enable secured network layer. (If enabled, default port is 992, otherwise 23).">
    <gs-item value="false" name="No" selected></gs-item>
    <gs-item value="true" name="Yes"></gs-item>  
</gs-form-group>
