<div class="row form-group m-1">
    <div class="col-md-4 col-sm-4 col-xs-12 text-md-end">
        <label class="control-label" for="displayPrefix">Display Name Prefix</label>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-11">
        <input class="form-control  text-uppercase" id="displayPrefix" name="displayPrefix" type="text" maxlength="9" pattern="[a-zA-Z10-9_]{0,9}">
    </div>
    <div class="col-auto">
        <gs-tooltip placement="right" title="Prefix to add to Display Name value on login screen. For example, WEB + given to detect users connecting with web terminal at the AS/400 side."></gs-tooltip>
        <i class="bi bi-info-circle-fill text-primary me-2 fs-5"></i>
    </div>
</div>

<div class="row form-group m-1">
    <div class="col-md-4 col-sm-4 col-xs-12 text-md-end">
        <label class="control-label" for="autoconf">Display auto configure</label>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-11">
        <select class="form-select" id="autoconf" name="autoconf">
            <option selected="" value="">None</option>
            <option value="0">This workstation</option>
            <option value="1">Other workstations</option>
            <option value="2">All workstations</option>	
        </select>
    </div>
    <div class="col-auto">
        <gs-tooltip placement="right" title="Auto configure display name to avoid duplicate names. 
        NOTE 1: For this option to work, QAUTOCFG must be on or workstation devices must exist on remote system.        
        NOTE 2: User can override this through browser extension tool."></gs-tooltip>
        <i class="bi bi-info-circle-fill text-primary me-2 fs-5"></i>
    </div>
</div>

<div class="row form-group m-1">
    <div class="col-md-4 col-sm-4 col-xs-12 text-md-end">
        <label class="control-label" for="blockPrinter">Virtual Printer</label>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-11">
        <select class="form-select" id="blockPrinter" name="blockPrinter" required>
            <option value="false">Enabled</option>
            <option value="true">Disabled</option>
        </select>
    </div>
    <div class="col-auto">
        <gs-tooltip placement="right" title="Disable or enable users to start virtual printer."></gs-tooltip>
        <i class="bi bi-info-circle-fill text-primary me-2 fs-5"></i>
    </div>
</div>

<div class="row form-group m-1">
    <div class="col-md-4 col-sm-4 col-xs-12 text-md-end">
        <label class="control-label" for="createPrinter">Auto create printer</label>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-11">
        <select class="form-select" id="createPrinter" name="createPrinter" required>
            <option value="true">Enabled</option>
            <option value="false">Disabled</option>
        </select>
    </div>
    <div class="col-auto">
        <gs-tooltip placement="right" title="Automatic printer device and writer creation on request. Service user must have *IOSYSCFG authority."></gs-tooltip>
        <i class="bi bi-info-circle-fill text-primary me-2 fs-5"></i>
    </div>
</div>

<div class="row form-group m-1">
    <div class="col-md-4 col-sm-4 col-xs-12 text-md-end">
        <label class="control-label" for="verifyPrinter">Verify Printer</label>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-11">
        <select class="form-select" id="verifyPrinter" name="verifyPrinter" required>
            <option value="true">Enabled</option>
            <option value="false">Disabled</option>
        </select>
    </div>
    <div class="col-auto">
        <gs-tooltip placement="right" title="Disable virtual printer on sign-on screen."></gs-tooltip>
        <i class="bi bi-info-circle-fill text-primary me-2 fs-5"></i>
    </div>
</div>

<div class="row form-group m-1">
    <div class="col-md-4 col-sm-4 col-xs-12 text-md-end">
        <label class="control-label" for="drawer1">Dawer 1</label>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-11">
        <select class="form-select" id="drawer1" name="drawer1" required>
            <option value="1">LETTER</option>
            <option value="2">LEGAL</option>
            <option value="3">EXECUTIVE</option>
            <option value="4">A4</option>
            <option value="5">A5</option>
            <option value="6">B5</option>
            <option value="9" selected>LEDGER</option>
            <option value="10">A3</option>
            <option value="11">B4</option>
            <option value="12">NONE</option>
        </select>
    </div>
    <div class="col-auto">
        <gs-tooltip placement="right" title="Default paper size for printer sessions for drawer 2. When user select DEFAULT, this option will be used."></gs-tooltip>
        <i class="bi bi-info-circle-fill text-primary me-2 fs-5"></i>
    </div>
</div>

<div class="row form-group m-1">
    <div class="col-md-4 col-sm-4 col-xs-12 text-md-end">
        <label class="control-label" for="drawer2">Dawer 2</label>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-11">
        <select class="form-select" id="drawer2" name="drawer2" required>
            <option value="1">LETTER</option>
            <option value="2">LEGAL</option>
            <option value="3">EXECUTIVE</option>
            <option value="4">A4</option>
            <option value="5">A5</option>
            <option value="6">B5</option>
            <option value="9" selected>LEDGER</option>
            <option value="10">A3</option>
            <option value="11">B4</option>
            <option value="12">NONE</option>
        </select>
    </div>
    <div class="col-auto">
        <gs-tooltip placement="right" title="Default paper size for printer sessions for drawer 2. When user select DEFAULT, this option will be used."></gs-tooltip>
        <i class="bi bi-info-circle-fill text-primary me-2 fs-5"></i>
    </div>
</div>
