<gs-form-group selectable css="m-1" name="modernization" label="Modernization"
    description="Enable automatic screen conversion to GUI interface. NOTE: Requires definition and screen templates.">
    <gs-item value="true" name="Yes" ></gs-item>
    <gs-item value="false" name="No" selected></gs-item>    
</gs-form-group>

<gs-form-group selectable css="m-1" name="editing" label="Editing"
    description="Enable template editing.">
    <gs-item value="true" name="Yes" ></gs-item>
    <gs-item value="false" name="No" selected></gs-item>    
</gs-form-group>

<gs-form-group selectable css="m-1" name="cacheTimeout" label="Cache Timeout"
    description="Cache value type.">
    <gs-item value="0" name="HOURS" selected></gs-item>
    <gs-item value="1" name="DAYS"></gs-item>    
    <gs-item value="1" name="WEEKS"></gs-item>    
    <gs-item value="1" name="MONTHS"></gs-item>    
</gs-form-group>

<gs-form-group css="m-1" name="cacheValue" label="Cache Value"
    type="number" min="0" value="0"
    description="Cache value.Set 0 to unlimited (default).">
</gs-form-group>
