<gs-form-group css="m-1" name="bypass" label="Enforce bypass"
    description="Require users to use web login screen instead on 5250 sign-on.
    This will enable mandatory encrypted password exchange with remote host.
    Restrict mode will obey QRMTSIGN SYSVAL.
    Flexible will try to detect Sign_on screen and auto enter credentials even if QRMTSIGN=*REJECT 
    NOTE: Generated URLs must contain login username and password..">
    <template>
        <select class="form-select" id="bypass" name="bypass">
            <option value="0">Disabled</option>
            <option value="1">Strict</option>
            <option value="2">Flexible</option>
        </select>
    </template>
</gs-form-group>

<gs-form-group css="m-1" name="expiration" label="Link expiration" required 
    value="0" list="expirations"
    description="Timeout in seconds when generated URL link will expire.">
</gs-form-group>
<datalist id="expirations">
    <option value="0">Disabled</option>
    <option value="15">15 Seconds</option>
    <option value="30">30 Seconds</option>
    <option value="60">1 Minute</option>
    <option value="900">15 Minutes</option>
    <option value="1800">30 Minutes</option>
    <option value="3600">60 Minutes</option>
    <option value="43200">1/2 Day</option>
    <option value="86400">1 Day</option>
    <option value="604800">1 Week</option>
</datalist>

<gs-form-group css="m-1" name="mobileAccess" label="Mobile Access"
    description="Allow use by mobile application.">
    <template>
        <select class="form-select" id="mobileAccess" name="mobileAccess">
            <option selected value="false">Disabled</option>
            <option value="true">Enabled</option>
        </select>        
    </template>
</gs-form-group>

<gs-form-group css="m-1" name="localOnly" label="Network access"
    description="Allow access from all networks or local network only address range.">
    <template>
        <select class="form-select" id="localOnly" name="localOnly">
            <option selected value="false">All networks</option>
            <option value="true">Local network only</option>
        </select>        
    </template>
</gs-form-group>

<gs-form-group css="m-1" name="fingerprintFilter" label="Prevent URL Sharing"
    description="Prevents sharing of encrypted URL between browsers by validating browser fingerprint.">
    <template>
        <select class="form-select" id="fingerprintFilter" name="fingerprintFilter">
            <option selected value="false">Disabled</option>
            <option value="true">Enabled</option>
        </select>        
    </template>
</gs-form-group>

<gs-form-group css="m-1" name="screenLog" label="Screen logging"
    description="Enable user to initiate screen binary logging. (used for debugging or for screen saving for modernization).">
    <template>
        <select class="form-select" id="screenLog" name="screenLog">
            <option selected value="false">Disabled</option>
            <option value="true">Enabled</option>
        </select>        
    </template>
</gs-form-group>

<gs-form-group css="m-1" name="sharing" label="Screen Sharing"
    description="Enable or disable screen sharing feature.">
    <template>
        <select class="form-select" id="sharing" name="sharing" selected="0">
            <option selected value="false">Disabled</option>
            <option value="true">Enabled</option>
        </select>        
    </template>
</gs-form-group>

<gs-form-group css="m-1" name="sql" label="SQL"
    description="Enable SQL execution for data import/export.">
    <template>
        <select class="form-select" id="sql" name="sql">
            <option selected value="false">Disabled</option>
            <option value="true">Enabled</option>
        </select>        
    </template>
</gs-form-group>

<gs-form-group css="m-1" name="verification" label="Verification"
    description="NONE - Standard login mode
    OTP - Enable 2FA (2-factor authentication) with TOTP token
    FIDO - Authentication with FIDO1/FIDO2 devices as mobile fingerprint scan or security key.">
    <template>
        <select class="form-select" id="verification" name="verification">
            <option selected value="0">NONE</option>
            <option value="1">OTP</option>
            <option value="2">FIDO 1</option>
            <option value="3">FIDO 2</option>
        </select>        
    </template>
</gs-form-group>
