<gs-form-group selectable required
    css="m-1" name="bypass" label="Enforce bypass"
    description="Require users to use web login screen instead on 5250 sign-on.
    This will enable mandatory encrypted password exchange with remote host.
    Restrict mode will obey QRMTSIGN SYSVAL.
    Flexible will try to detect Sign_on screen and auto enter credentials even if QRMTSIGN=*REJECT 
    NOTE: Generated URLs must contain login username and password..">
    <gs-item value="0" name="Disabled" selected></gs-item>    
    <gs-item value="1" name="Strict"></gs-item>
    <gs-item value="2" name="Flexible"></gs-item>
</gs-form-group>

<gs-form-group selectable required
    css="m-1" name="transfer" label="File transfer"
    description="Select which transfer types are allowed. Default is NONE.">
    <gs-item value="0" name="None" selected></gs-item>    
    <gs-item value="1" name="Both"></gs-item>
    <gs-item value="2" name="Download"></gs-item>
    <gs-item value="3" name="Upload"></gs-item>
</gs-form-group>

<gs-form-group 
    css="m-1" name="expiration" label="Link expiration" required 
    value="0" list="expirations"
    description="Timeout in seconds when generated URL link will expire.">
</gs-form-group>
<datalist id="expirations">
    <option value="0">Disabled</option>
    <option value="15">15 Seconds</option>
    <option value="30">30 Seconds</option>
    <option value="60">1 Minute</option>
    <option value="900">15 Minutes</option>
    <option value="1800">30 Minutes</option>
    <option value="3600">60 Minutes</option>
    <option value="43200">1/2 Day</option>
    <option value="86400">1 Day</option>
    <option value="604800">1 Week</option>
</datalist>

<!--
    <gs-form-group selectable required
    css="m-1" name="mobileAccess" label="Mobile Access"
    description="Allow use by mobile application.">
    <gs-item value="true" name="Enabled"></gs-item>
    <gs-item value="false" name="Disabled" selected></gs-item>    
</gs-form-group>
-->

<gs-form-group selectable required
    css="m-1" name="localOnly" label="Network access"
    description="Allow access from all networks or local network only address range.">
    <gs-item value="true" name="Local network only"></gs-item>
    <gs-item value="false" name="All networks" selected></gs-item>        
</gs-form-group>

<gs-form-group selectable required
    css="m-1" name="fingerprintFilter" label="Prevent URL Sharing"
    description="Prevents sharing of encrypted URL between browsers by validating browser fingerprint.">
    <gs-item value="true" name="Enabled"></gs-item>
    <gs-item value="false" name="Disabled" selected></gs-item>    
</gs-form-group>

<gs-form-group selectable required
     css="m-1" name="screenLog" label="Screen logging"
    description="Enable user to initiate screen binary logging. (used for debugging or for screen saving for modernization).">
    <gs-item value="true" name="Enabled"></gs-item>
    <gs-item value="false" name="Disabled" selected></gs-item>
</gs-form-group>

<gs-form-group selectable required 
    css="m-1" name="sharing" label="Screen Sharing"
    description="Enable or disable screen sharing feature.">
    <gs-item value="true" name="Enabled"></gs-item>
    <gs-item value="false" name="Disabled" selected></gs-item>    
</gs-form-group>

<gs-form-group selectable required
    css="m-1" name="signon" label="Signon Screen"
    description="Block automated access to 5250 sign-on screen optional input fields.">
    <gs-item value="0" name="Default" selected></gs-item>    
    <gs-item value="1" name="Block Program"></gs-item>
    <gs-item value="2" name="Block Menu"></gs-item>
    <gs-item value="3" name="Block Menu & Program"></gs-item>
</gs-form-group>

<gs-form-group selectable required 
    css="m-1" name="sql" label="SQL"
    description="Enable SQL execution for data import/export.">
    <gs-item value="true" name="Enabled"></gs-item>
    <gs-item value="false" name="Disabled" selected></gs-item>
</gs-form-group>

<gs-form-group selectable required 
    css="m-1" name="verification" label="Verification"
    description="NONE - Standard login mode
    OTP - Enable 2FA (2-factor authentication) with TOTP token
    FIDO - Authentication with FIDO1/FIDO2 devices as mobile fingerprint scan or security key.">
    <gs-item value="0" name="NONE" selected></gs-item>    
    <gs-item value="1" name="OTP"></gs-item>    
    <gs-item value="2" name="FIDO 1"></gs-item>
    <gs-item value="3" name="FIDO 2"></gs-item>
</gs-form-group>
