<gs-form-group css="m-1" name="sslUserVerification" label="SSL User Verification"
    description="If enabled, verifies that client SSL Certificate UID contains a valid sign-on user name.">
    <template>
        <select class="form-select" id="sslUserVerification" name="sslUserVerification">
            <option selected value="false">Disabled</option>
            <option value="true">Enabled</option>
        </select>        
    </template>
</gs-form-group>

<gs-form-group css="m-1" name="sslVerification" label="SSL Verification"
    description="If enabled, verifies that client SSL Certificate GROUP/NAME extension matches to the UUID/HOST.">
    <template>
        <select class="form-select" id="sslVerification" name="sslVerification">
            <option selected value="false">Disabled</option>
            <option value="true">Enabled</option>
        </select>        
    </template>
</gs-form-group>

