<gs-form-group selectable required css="m-1" name="sslUserVerification" label="SSL User Verification"
    description="If enabled, verifies that client SSL Certificate UID contains a valid sign-on user name.">
    <gs-item value="true" name="Enabled" ></gs-item>
    <gs-item value="false" name="Disabled" selected></gs-item>    
</gs-form-group>

<gs-form-group selectable required css="m-1" name="sslVerification" label="SSL Verification"
    description="If enabled, verifies that client SSL Certificate GROUP/NAME extension matches to the UUID/HOST.">
    <gs-item value="true" name="Enabled" ></gs-item>
    <gs-item value="false" name="Disabled" selected></gs-item>    
</gs-form-group>

