<gs-form-group css="m-1" name="lparUsers" label="Partition limit" css-field="text-uppercase"
    type="number" min="0" value="0" required
    description="License concurrent user limit for partition. If partitions not used, set to 0 or to Usage Limit value.">
</gs-form-group>

<gs-form-group css="m-1" name="user" label="User name" css-field="text-uppercase"
    maxlength="10" required
    description="User name to access AS/400 for licensing request. It is recommended that this profile is limited only to use as-svrmap, as-central, as-rmtcmd, as-signon services with limited permissions.">
</gs-form-group>

<gs-form-group css="m-1" name="password" label="User password" css-field="text-uppercase"
    type="password" required maxlength="128"
    description="Password for given user. Password are saved in encrypted form at server configuration file.">
</gs-form-group>
