<form slot="body" is="gs-ext-form" id="form-main" class="flex-fill" novalidate="">
    
    <input class="d-none" id="id"  name="id" type="text" readonly>

    <gs-form-group css="m-1" name="active" label="Status" required
        description="Enable or disable this rule.">
        <template>
            <select class="form-select" id="active" name="active" required>
                <option value="true">Enabled</option>
                <option value="false">Disabled</option>
            </select>            
        </template>
    </gs-form-group>

    <gs-form-group css="m-1" name="rule" label="Rule" required
        description="Allow or deny network access based on matched criteria.">
        <template>
            <select class="form-select" id="rule" name="rule" required>
                <option value="0">Allow</option>
                <option value="1">Deny</option>
            </select>            
        </template>
    </gs-form-group>

    <gs-form-group css="m-1" name="deviceID" label="Application UUID" required 
            maxlength="36" mask="XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX"
            _pattern="^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
        description="Mobile phone owner">
    </gs-form-group>
    
    <gs-form-group css="m-1" name="mobile" label="Mobile number"
        description="Mobile phone number">
    </gs-form-group>

    <gs-form-group css="m-1" name="fullname" label="Owner name" autocomplete="off"
        description="Mobile phone owne">
    </gs-form-group>

</form>