<gs-inject template="icons.svg"></gs-inject>
<div class="d-flex flex-column flex-shrink-0 bg-white shadow-sm border  h-100 overflow-hidden" style="width: 4.5rem;">
  <a href="/" class="d-block p-2 link-dark text-decoration-none" title="" data-bs-toggle="tooltip"
    data-bs-placement="right" data-bs-original-title="Green Screens Ltd.">
    <svg class="bi" width="40" height="32">
      <use xlink:href="#bootstrap"></use>
    </svg>
    <span class="visually-hidden">Green Screens Ltd.</span>
  </a>
  <hr class="mt-0">
  <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
    <li class="nav-item">
      <a href="#" class="nav-link py-3 " data-view="gs-home" title="" data-bs-toggle="tooltip" data-bs-placement="right"
        data-bs-original-title="Home">
        <svg class="bi" width="20" height="20" role="img" aria-label="Home">
          <use xlink:href="#home"></use>
        </svg>
      </a>
    </li>
    <li>
      <a href="#" class="nav-link py-3 " data-view="gs-dash" title="" data-bs-toggle="tooltip" data-bs-placement="right"
        data-bs-original-title="Dashboard">
        <svg class="bi" width="24" height="24" role="img" aria-label="Dashboard">
          <use xlink:href="#speedometer2"></use>
        </svg>
      </a>
    </li>
    <li>
      <a href="#" class="nav-link py-3 " data-view="gs-orders" title="" data-bs-toggle="tooltip"
        data-bs-placement="right" data-bs-original-title="Orders">
        <svg class="bi" width="24" height="24" role="img" aria-label="Orders">
          <use xlink:href="#table"></use>
        </svg>
      </a>
    </li>
    <li>
      <a href="#" class="nav-link py-3 " data-view="gs-products" title="" data-bs-toggle="tooltip"
        data-bs-placement="right" data-bs-original-title="Products">
        <svg class="bi" width="24" height="24" role="img" aria-label="Products">
          <use xlink:href="#grid"></use>
        </svg>
      </a>
    </li>
    <li>
      <a href="#" class="nav-link py-3 " data-view="gs-customers" title="" data-bs-toggle="tooltip"
        data-bs-placement="right" data-bs-original-title="Customers">
        <svg class="bi" width="24" height="24" role="img" aria-label="Customers">
          <use xlink:href="#people-circle"></use>
        </svg>
      </a>
    </li>
  </ul>

</div>