<gs-inject template="icons.svg"></gs-inject>
<div class="d-flex flex-column flex-shrink-0 p-3 bg-white border shadow-sm h-100 overflow-hidden position-absolute"
  style="width: 280px;transition: width 250ms ease-out 0s;">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
    <svg class="bi me-2" width="40" height="32">
      <use xlink:href="#bootstrap"></use>
    </svg>
    <span class="fs-4">Sidebar</span>
  </a>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a href="#" class="nav-link link-dark d-flex ps-1" data-view="gs-home" title="">
        <svg class="bi me-2" width="24" height="24">
          <use xlink:href="#home"></use>
        </svg>
        <div class="ps-3">Home</div>
      </a>
    </li>
    <li>
      <a href="#" class="nav-link link-dark d-flex ps-1" data-view="gs-dash">
        <svg class="bi me-2" width="24" height="24">
          <use xlink:href="#speedometer2"></use>
        </svg>
        <div class="ps-3">Dashboard</div>
      </a>
    </li>
    <li>
      <a href="#" class="nav-link link-dark d-flex ps-1" data-view="gs-orders">
        <svg class="bi me-2" width="24" height="24">
          <use xlink:href="#table"></use>
        </svg>
        <div class="ps-3">Orders</div>
      </a>
    </li>
    <li>
      <a href="#" class="nav-link link-dark d-flex ps-1" data-view="gs-products">
        <svg class="bi me-2" width="24" height="24">
          <use xlink:href="#grid"></use>
        </svg>
        <div class="ps-3">Products</div>
      </a>
    </li>
    <li>
      <a href="#" class="nav-link link-dark d-flex ps-1" data-view="gs-customers">
        <svg class="bi me-2" width="24" height="24">
          <use xlink:href="#people-circle"></use>
        </svg>
        <div class="ps-3">Customers</div>
      </a>
    </li>
  </ul>


</div>