<gs-inject template="icons.svg"></gs-inject>
<header>

	<nav class="navbar navbar-expand-md navbar-light bg-white border shadow-sm sticky-top">
		<div class="navbar-collapse collapse w-100">

		</div>
		<div class="mx-auto">
			<a href="/">
				<svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
					<use xlink:href="#bootstrap"></use>
				</svg>
			</a>
		</div>
		<div class="navbar-collapse collapse w-100 justify-content-end">

			<ul class="nav col-12 col-lg-auto justify-content-center text-small">
				<li>
					<a href="#" class="nav-link link-light" data-view="gs-home">
						<svg class="bi d-block mx-auto mb-1" width="24" height="24">
							<use xlink:href="#home"></use>
						</svg></a>
				</li>
				<li>
					<a href="#" class="nav-link link-light" data-view="gs-dash">
						<svg class="bi d-block mx-auto mb-1" width="24" height="24">
							<use xlink:href="#speedometer2"></use>
						</svg></a>
				</li>
				<li>
					<a href="#" class="nav-link link-light" data-view="gs-orders">
						<svg class="bi d-block mx-auto mb-1" width="24" height="24">
							<use xlink:href="#table"></use>
						</svg></a>
				</li>
				<li>
					<a href="#" class="nav-link link-light" data-view="gs-products">
						<svg class="bi d-block mx-auto mb-1" width="24" height="24">
							<use xlink:href="#grid"></use>
						</svg></a>
				</li>

				<li>
					<div class="dropdown" style="">

						<a href="#" class="nav-link link-light dropdown-toggle" data-bs-toggle="dropdown"
							data-bs-auto-close="true" aria-expanded="false">
							<svg class="bi d-block mx-auto mb-1" width="24" height="24">
								<use xlink:href="#people-circle"></use>
							</svg>
						</a>

						<ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2" style="">
							<li><a class="dropdown-item" href="#">New project...</a></li>
							<li><a class="dropdown-item" href="#">Settings</a></li>
							<li><a class="dropdown-item" href="#">Profile</a></li>
							<li>
								<hr class="dropdown-divider">
							</li>
							<li><a class="dropdown-item" href="#">Sign out</a></li>
						</ul>
					</div>

				</li>
			</ul>

		</div>
	</nav>
</header>
