<gs-form-group css="m-1" name="acmeStatus" label="ACME Status"
    description="Enable to activate auto registration. Reset will deactivate account and create a new one.">
    <template>
        <select class="form-select" id="acmeStatus" name="acmeStatus">
            <option value="0">Disabled</option>
            <option value="1">Enabled</option>
            <option value="2">Reset</option>
        </select>
    </template>
</gs-form-group>

<gs-form-group css="m-1" name="acmeRestart" label="Auto restart"
    description="Enable to auto restart server after certificate renewal.">
    <template>
        <select class="form-select col-md-7 col-xs-12" id="acmeRestart" name="acmeRestart">
            <option value="false">Disabled</option>
            <option value="true">Enabled</option>
        </select>
    </template>
</gs-form-group>
