<gs-form-group css="m-1" name="acmeStatus" label="ACME Status" selectable
    description="Enable to activate auto registration. Reset will deactivate account and create a new one.">
    <gs-item value="0">Disabled</gs-item>
    <gs-item value="1">Enabled</gs-item>
    <gs-item value="2">Reset</gs-item>
</gs-form-group>

<gs-form-group name="acmeRestart" label="Auto restart" selectable
    css="m-1" css-field="col-md-7 col-xs-12"
    description="Enable to auto restart server after certificate renewal.">
    <gs-item value="false" name="Disabled"></gs-item>
    <gs-item value="true" name="Enabled"></gs-item>
</gs-form-group>
