<div class="row form-group m-1">
    <div class="col-md-4 col-sm-4 col-xs-12 text-md-end ">
        <label class="control-label " for="keySize">Key Size</label>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-11">
        <select class="form-select col-md-7 col-xs-12" id="keySize" name="keySize">
            <option value="0">RSA-1024</option>
            <option value="1">RSA-2048</option>
            <option value="2">RSA-4096</option>
            <option value="3">ECDSA-160</option>
            <option value="4">ECDSA-224</option>
            <option value="5">ECDSA-256</option>
            <option value="6">ECDSA-384</option>
            <option value="7">ECDSA-512</option>
        </select>
    </div>
    <div class="col-auto ">
        <gs-tooltip placement="right" title="Select Key size. (ECDSA requires Java 11+)"></gs-tooltip>
        <i class="bi bi-info-circle-fill text-primary me-2 fs-5"></i>
    </div>
</div>

<div class="row form-group m-1">
    <div class="col-md-4 col-sm-4 col-xs-12 text-md-end ">
        <label class="control-label " for="tlsType">Key Type</label>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-11">
        <select class="form-select col-md-7 col-xs-12" id="tlsType" name="tlsType">
            <option value="TLSv1.3">TLSv1.3</option>
            <option value="TLSv1.2">TLSv1.2</option>
        </select>
    </div>
    <div class="col-auto ">
        <gs-tooltip placement="right" title="Select TLS encryption mode."></gs-tooltip>
        <i class="bi bi-info-circle-fill text-primary me-2 fs-5"></i>
    </div>
</div>