<gs-form-group css="m-1" name="keySize" label="Key Size"
    description="Select Key size. (ECDSA requires Java 11+)">
    <template>
        <select class="form-select" id="keySize" name="keySize">
            <option value="0">RSA-1024</option>
            <option value="1">RSA-2048</option>
            <option value="2">RSA-4096</option>
            <option value="3">ECDSA-160</option>
            <option value="4">ECDSA-224</option>
            <option value="5">ECDSA-256</option>
            <option value="6">ECDSA-384</option>
            <option value="7">ECDSA-512</option>
        </select>
    </template>
</gs-form-group>

<gs-form-group css="m-1" name="tlsType" label="Key Type"
    description="Select TLS encryption mode.">
    <template>
        <select class="form-select" id="tlsType" name="tlsType">
            <option value="TLSv1.3">TLSv1.3</option>
            <option value="TLSv1.2">TLSv1.2</option>
        </select>
    </template>
</gs-form-group>