<gs-form-group css="m-1" name="keySize" label="Key Size" selectable
    description="Select Key size. (ECDSA requires Java 11+)">
    <gs-item value="0" name="RSA-1024"></gs-item>
    <gs-item value="1" name="RSA-2048" selected></gs-item>
    <gs-item value="2" name="RSA-4096"></gs-item>
    <gs-item value="3" name="ECDSA-160"></gs-item>
    <gs-item value="4" name="ECDSA-224"></gs-item>
    <gs-item value="5" name="ECDSA-256"></gs-item>
    <gs-item value="6" name="ECDSA-384"></gs-item>
    <gs-item value="7" name="ECDSA-512"></gs-item>
</gs-form-group>

<gs-form-group css="m-1" name="tlsType" label="Key Type" selectable
    description="Select TLS encryption mode.">
    <gs-item value="TLSv1.3" name="TLSv1.3"></gs-item>
    <gs-item value="TLSv1.2" name="TLSv1.2" selected></gs-item>
</gs-form-group>

<hr>

<gs-form-group css="m-1" name="authorityDomain" label="Authority Domain" autocomplete="off" rows="5"
    description="Domains for OCSP/CRL. Optional port can be used (localhost,localhost:8080).If not set, OCSP/CA flags does not apply.">
</gs-form-group>

<gs-form-group css="m-1" name="urlCA" label="Authority CA" selectable
    description="Add CA download URL to certificate.">
    <gs-item value="true" name="Enabled"></gs-item>
    <gs-item value="false" name="Disabled" selected></gs-item>
</gs-form-group>

<gs-form-group css="m-1" name="urlOCSP" label="Authority OCSP" selectable
    description="Add OCSP certificate verification URL.">
    <gs-item value="true" name="Enabled"></gs-item>
    <gs-item value="false" name="Disabled" selected></gs-item>
</gs-form-group>

<gs-form-group css="m-1" name="urlCRL" label="CRL" selectable
    description="Add CRL certificate verification URL.">
    <gs-item value="true" name="Enabled"></gs-item>
    <gs-item value="false" name="Disabled" selected></gs-item>
</gs-form-group>

<!-- BY spec, it shoud be merged
<gs-form-group css="m-1" name="crlMerged" label="CRL Merged" selectable
    description="Distribution point generation model.">
    <gs-item value="true" name="Enabled"></gs-item>
    <gs-item value="false" name="Disabled"></gs-item>
</gs-form-group>
-->