<div class="row form-group m-1">
    <div class="col-md-4 col-sm-4 col-xs-12 text-md-end ">
        <label class="control-label " for="organization">Organization</label>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-11">
        <input class="form-control" id="organization" name="organization" type="text" autocomplete="off" required>
    </div>
    <div class="col-auto ">
        <gs-tooltip placement="right" title="Company name."></gs-tooltip>
        <i class="bi bi-info-circle-fill text-primary me-2 fs-5"></i>
    </div>
</div>

<div class="row form-group m-1">
    <div class="col-md-4 col-sm-4 col-xs-12 text-md-end ">
        <label class="control-label " for="location">Location</label>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-11">
        <input class="form-control" id="location" pattern="[A-Za-z ]+" name="location" type="text" autocomplete="off" required>
    </div>
    <div class="col-auto ">
        <gs-tooltip placement="right" title="City name."></gs-tooltip>
        <i class="bi bi-info-circle-fill text-primary me-2 fs-5"></i>
    </div>
</div>

<div class="row form-group m-1">
    <div class="col-md-4 col-sm-4 col-xs-12 text-md-end ">
        <label class="control-label " for="state">State</label>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-11">
        <input class="form-control" id="state" maxlength="3" pattern="[a-zA-Z]{1,3}" name="state" type="text" autocomplete="off" required>
    </div>
    <div class="col-auto ">
        <gs-tooltip placement="right" title="Country state abbreviation."></gs-tooltip>
        <i class="bi bi-info-circle-fill text-primary me-2 fs-5"></i>
    </div>
</div>

<div class="row form-group m-1">
    <div class="col-md-4 col-sm-4 col-xs-12 text-md-end ">
        <label class="control-label " for="country">Country</label>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-11">
        <input class="form-control" id="country" name="country" maxlength="2" pattern="[A-Za-z]{2}" type="text" autocomplete="off" required>
    </div>
    <div class="col-auto ">
        <gs-tooltip placement="right" title="Country of origin."></gs-tooltip>
        <i class="bi bi-info-circle-fill text-primary me-2 fs-5"></i>
    </div>
</div>

<div class="row form-group m-1">
    <div class="col-md-4 col-sm-4 col-xs-12 text-md-end ">
        <label class="control-label " for="email">E-mail</label>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-11">
        <input class="form-control" id="email" name="email" type="email" autocomplete="off" required>
    </div>
    <div class="col-auto ">
        <gs-tooltip placement="right" title="Contact email address."></gs-tooltip>
        <i class="bi bi-info-circle-fill text-primary me-2 fs-5"></i>
    </div>
</div>

<div class="row form-group m-1">
    <div class="col-md-4 col-sm-4 col-xs-12 text-md-end ">
        <label class="control-label " for="expire">Expiration</label>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-11">
        <input class="form-control" id="expire" name="expire" type="number" autocomplete="off" required>
    </div>
    <div class="col-auto ">
        <gs-tooltip placement="right" title="Enter certificate validity in years."></gs-tooltip>
        <i class="bi bi-info-circle-fill text-primary me-2 fs-5"></i>
    </div>
</div>