<gs-form-group css="m-1" name="commonNameServer" label="Common Name" autocomplete="off" 
    description="Enter server domain name used to access from browser.">
</gs-form-group>

<gs-form-group css="m-1" name="organizationUnitServer" label="Display name" autocomplete="off" 
    description="Enter company branch or department for example.">
</gs-form-group>

<gs-form-group css="m-1" name="alternativeNames" label="Alternative Names" autocomplete="off" 
    description="Enter alternative domain names or IP addresses. Each in new line.">
    <template>
        <textarea clasS="form-control" rows="5" name="alternativeNames" id="alternativeNames"></textarea>
    </template>
</gs-form-group>
