<gs-form-group css="m-1" name="server.commonName" label="Common Name" autocomplete="off" 
    description="Enter server domain name used to access from browser.">
</gs-form-group>

<gs-form-group css="m-1" name="server.organizationUnit" label="Display name" autocomplete="off" 
    description="Enter company branch or department for example.">
</gs-form-group>

<gs-form-group css="m-1" name="server.alternativeNames" label="Alternative Names" autocomplete="off" rows="5"
    description="Enter alternative domain names or IP addresses. Each in new line.">
</gs-form-group>

<gs-form-group css="m-1" name="server.expire" label="Expiration" required
    type="number" value="1"
    description="Enter certificate validity in years.">
</gs-form-group>