<gs-form beep block slot="body" css="flex-fill">
    <template>        
        <datalist id="wscsts">
            <option value="*NONE"></option>
            <option value="*SAME"></option>
            <option value="EMPTY"></option>
            <option value="EMPTYBDO"></option>
        </datalist>
    
        <datalist id="libs">
            <option value="*LIBL"></option>
            <option value="*CURLIB"></option>
            <option value="QGPL"></option>
            <option value="GRNSCREENS"></option>
          </datalist>
       
          <datalist id="models">
            <option value="*SAME" ></option>
            <option value="*HP4" ></option>
            <option value="*HP5" ></option>
            <option value="*HP6" ></option>
            <option value="*NONE" ></option>
            <option value="*PDF" ></option>
            <option value="*WSCST" ></option>
            <option value="*WSCSTA3" ></option>
            <option value="*WSCSTA4" ></option>
            <option value="*WSCSTA5" ></option>
            <option value="*WSCSTB4" ></option>
            <option value="*WSCSTB5" ></option>
            <option value="*WSCSTCONT132" ></option>
            <option value="*WSCSTCONT80" ></option>
            <option value="*WSCSTEXECUTIVE" ></option>
            <option value="*WSCSTLEDGER" ></option>
            <option value="*WSCSTLEGAL" ></option>
            <option value="*WSCSTLETTER" ></option>
            <option value="*WSCSTNONE" ></option>					    
        </datalist>	         
    
        <gs-form-group css="m-1" name="uuid" label="UUID" readonly disabled>
        </gs-form-group>
        
        <gs-form-group css="m-1" name="host" label="Host" readonly disabled>
        </gs-form-group>
    
        <gs-form-group css="m-1" name="printerName" label="Printer Name" required
            maxlength="10" pattern="[0-9a-zA-Z_]+" css-field="text-uppercase"
            description="Virtual Printer Name.">
        </gs-form-group>
        
        <div class="d-flex flex-column align-items-center">
            <hr class="w-75">
        </div>
    
        <gs-form-group css="m-1" name="hostTransform" label="Host Transform" selectable
            description="Transform SCS spool on IBM I server. If enabled, WSCST object must be defined.">
            <gs-item value="0" name="Disabled" data-type="0" selected></gs-item>
            <gs-item value="1" name="Enabled" data-type="tfr"></gs-item>
        </gs-form-group>
    
        <div class="d-flex flex-column align-items-center">
            <hr class="w-75">
        </div>
        
        <gs-form-group css="m-1" data-type="tfr" name="sourceCodePag" label="CHRID (EBCDIC)" disabled
            maxlength="10" pattern="[0-9a-zA-Z]+"
            description="EBCIDIC code page to convert from.">
        </gs-form-group>
    
        <gs-form-group css="m-1" data-type="tfr" name="targetCodePage" label="CHRID (ANSI/ASCII)" disabled
            maxlength="10" pattern="[0-9a-zA-Z]+"
            description="ANSI or ASCII code page to convert to.">
        </gs-form-group>
    
        <gs-form-group css="m-1" data-type="tfr" name="wscstObject" label="Host Transform" disabled        
            list="wscsts" default="*NONE"  maxlength="10"
            description="WSCST object name.">
        </gs-form-group>
    
        <gs-form-group css="m-1" data-type="tfr" name="wscstLib" label="WSCST Library" disabled        
            maxlength="10" list="libs" default="*LIBL"
            description="Library for WSCST object.">
        </gs-form-group>
    
        <gs-form-group css="m-1" data-type="tfr" name="printerModel" label="Printer Model" list="models" disabled        
            css-field="text-uppercase" _maxlength="10" pattern="[\*0-9a-zA-Z]+"
            description="Use printer model for SCS data transform.">      
        </gs-form-group>
    
        <gs-form-group css="m-1" data-type="tfr" name="drawer1" label="Drawer 1" selectable disabled
            description="Printer drawer paper size.">
            <gs-item value="*SAME" selected></gs-item>
            <gs-item value="*NONE"></gs-item>
            <gs-item value="*MFRTYPMDL"></gs-item>
            <gs-item value="*LETTER"></gs-item>
            <gs-item value="*LEGAL"></gs-item>
            <gs-item value="*EXECUTIVE"></gs-item>
            <gs-item value="*A4"></gs-item>
            <gs-item value="*A5"></gs-item>
            <gs-item value="*B5"></optiogs-item>
            <gs-item value="*CONT80"></gs-item>
            <gs-item value="*CONT132"></gs-item>
            <gs-item value="*A3"></gs-item>
            <gs-item value="*B4"></gs-item>
            <gs-item value="*LEDGER"></gs-item>
        </gs-form-group>
    
        <gs-form-group css="m-1" data-type="tfr" name="drawer2" label="Drawer 2" selectable disabled
            description="Printer drawer paper size.">
            <gs-item value="*SAME" selected></gs-item>
            <gs-item value="*NONE"></gs-item>
            <gs-item value="*MFRTYPMDL"></gs-item>
            <gs-item value="*LETTER"></gs-item>
            <gs-item value="*LEGAL"></gs-item>
            <gs-item value="*EXECUTIVE"></gs-item>
            <gs-item value="*A4"></gs-item>
            <gs-item value="*A5"></gs-item>
            <gs-item value="*B5"></optiogs-item>
            <gs-item value="*CONT80"></gs-item>
            <gs-item value="*CONT132"></gs-item>
            <gs-item value="*A3"></gs-item>
            <gs-item value="*B4"></gs-item>
            <gs-item value="*LEDGER"></gs-item>
        </gs-form-group>
    
        <gs-form-group css="m-1" data-type="tfr" name="envelope" label="Envelope" selectable disabled
            description="Printer drawer paper size.">
            <gs-item value="*SAME" selected></gs-item>
            <gs-item value="*NONE"></gs-item>
            <gs-item value="*MFRTYPMDL"></gs-item>
            <gs-item value="*B5"></gs-item>
            <gs-item value="*MONARCH"></gs-item>
            <gs-item value="*NUMBER9"></gs-item>
            <gs-item value="*NUMBER10"></gs-item>
            <gs-item value="*C5"></gs-item>
            <gs-item value="*DL"></gs-item>  
        </gs-form-group>
    </template>    
</gs-form>