		<gs-form-group css="m-1" name="enabled" label="Status" autocomplete="off" selectable required
			description="Enable Lite SSO.">
			<gs-item value="false" name="Disabled" selected></gs-item>
			<gs-item value="true" name="Enabled"></gs-item>		
		</gs-form-group>

		<gs-form-group css="m-1" name="ldapUser" autocomplete="off" required
			label="User" description="Service user used for delegation">
		</gs-form-group>
		
		<gs-form-group css="m-1" name="ldapPassword" required
			autocomplete="off" type="password"
			label="Password" description="Service user credentials">
		</gs-form-group>
		