	<gs-form-group css="m-1" name="enabled" label="Status"  
	    description="Enable Lite SSO.">
	    <template>
	        <select class="form-select" id="enabled" name="enabled" required>
	            <option value="false" selected>Disabled</option>
	            <option value="true">Enabled</option>
	      </select>        
	    </template>
	</gs-form-group>
	    
	<gs-form-group css="m-1" name="ldapUser" autocomplete="off" required
		label="User" description="Service user used for delegation">
	</gs-form-group>
	
	<gs-form-group css="m-1" name="ldapPassword" required reveal
		autocomplete="off" type="password"
		label="Password" description="Service user credentials">
	</gs-form-group>