<div class="row form-group m-1">
    <div class="col-md-4 col-sm-4 col-xs-12 text-md-end">
        <label class="control-label" for="adminDisplay">Admin Display</label>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-11">
        <input class="form-control" id="adminDisplay" name="adminDisplay" type="text" maxlength="10" pattern="[a-zA-Z0-9]{1,10}" autocomplete="off" value="DSPGSADMIN">
    </div>
    <div class="col-auto">
        <gs-tooltip placement="right" title="Display Name for administration. Does not require License Key to access IBM host. *DEVD will be generated automatically upon product install on the host machine."></gs-tooltip>
        <i class="bi bi-info-circle-fill text-primary me-2 fs-5"></i>
    </div>
</div>