<div class="row form-group m-1">
    <div class="col-md-4 col-sm-4 col-xs-12 text-md-end ">
        <label class="control-label " for="centralUUID">UUID Group</label>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-11">
        <input class="form-control" id="centralUUID" name="centralUUID" type="text" maxlength="64"  pattern="[0-9a-zA-Z_]{1,64}" autocomplete="off">
    </div>
    <div class="col-auto ">
        <gs-tooltip placement="right" title="UUID as defined in host configuration."></gs-tooltip>
        <i class="bi bi-info-circle-fill text-primary me-2 fs-5"></i>
    </div>
</div>

<div class="row form-group m-1">
    <div class="col-md-4 col-sm-4 col-xs-12 text-md-end ">
        <label class="control-label " for="centralHost">Host Name</label>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-11">
        <input class="form-control" id="centralHost" name="centralHost" type="text" maxlength="64"  pattern="[0-9a-zA-Z_]{1,64}" autocomplete="off">
    </div>
    <div class="col-auto ">
        <gs-tooltip placement="right" title="Virtual host name as defined in host configuration."></gs-tooltip>
        <i class="bi bi-info-circle-fill text-primary me-2 fs-5"></i>
    </div>
</div>