<gs-form-group css="m-1" name="session" label="Session Timeout (sec)"  required
    type="number" value="2"
    description="Timeout will set for how long mobile session will be kept in a case of user inactivity. Minimum recommended value is 60sec.
    NOTE: This will determine for how long mobile sessions are kept during network switch/reset. If mobile app is put to background, this might cause session loss.">
</gs-form-group>

<gs-form-group css="m-1" name="timeout" label="Bypass timeout (sec)" required
    type="number" value="2"
    description="Timeout will set for how long generated access key is valid. If set to 0, timeout will not be checked. Recommended value is 2sec.
    NOTE: This feature protects web terminal access when user and password are used for bypass sign-on.">
</gs-form-group>

<gs-form-group css="m-1" name="cookieProtection" label="Cookie Protection" required
    description="When enabled, session cookie not available from JavaScript. NOTE: Server restart required!">
    <template>
        <select class="form-select" id="cookieProtection" name="cookieProtection" required="" >
            <option value="false">Disabled</option>
            <option value="true">Enabled</option>
      </select>        
    </template>
</gs-form-group>

<gs-form-group css="m-1" name="forcedSSL" label="Cookie Forced SSL" 
    description="When enabled, session cookie will be available only if SSL is used. NOTE: Server restart required!">
    <template>
        <select class="form-select" id="forcedSSL" name="forcedSSL" required="" >
            <option value="false">Disabled</option>
            <option value="true">Enabled</option>
      </select>        
    </template>
</gs-form-group>

<gs-form-group css="m-1" name="autoDiscovery" label="Discovery Service" 
    description="Used by mobile app to auto-detect server in local network. <br> Should be disabled in cloud environment.">
    <template>
        <select class="form-select" id="autoDiscovery" name="autoDiscovery" required="" >
            <option value="false">Disabled</option>
            <option value="true">Enabled</option>
      </select>        
    </template>
</gs-form-group>
