<gs-form-group css="m-1" name="session" label="Session Timeout (sec)"  required
    type="number" value="2"
    description="Timeout will set for how long mobile session will be kept in a case of user inactivity. Minimum recommended value is 60sec.
    NOTE: This will determine for how long mobile sessions are kept during network switch/reset. If mobile app is put to background, this might cause session loss.">
</gs-form-group>

<gs-form-group css="m-1" name="timeout" label="Bypass timeout (sec)" required
    type="number" value="2"
    description="Timeout will set for how long generated access key is valid. If set to 0, timeout will not be checked. Recommended value is 2sec.
    NOTE: This feature protects web terminal access when user and password are used for bypass sign-on.">
</gs-form-group>

<gs-form-group css="m-1" name="cookieProtection" label="Cookie Protection" required selectable
    description="When enabled, session cookie not available from JavaScript. NOTE: Server restart required!">
    <gs-item value="false" name="Disabled" selected></gs-item>
    <gs-item value="true" name="Enabled"></gs-item>
</gs-form-group>

<gs-form-group css="m-1" name="forcedSSL" label="Force SSL" selectable
    description="When enabled, session cookie will be available only if SSL is used. NOTE: Server restart required!">
    <gs-item value="false" name="Disabled"></gs-item>
    <gs-item value="true" name="Enabled"></gs-item>
</gs-form-group>

<gs-form-group css="m-1" name="allowEmbed" label="Allow Embed" selectable
    description="When enabled, allow terminal to be embedded within other web context (iframe). NOTE: SSL forced required!">
    <gs-item value="false" name="Disabled" selected></gs-item>
    <gs-item value="true" name="Enabled"></gs-item>
</gs-form-group>

<gs-form-group css="m-1" name="autoDiscovery" label="Discovery Service" selectable
    description="Used by mobile app to auto-detect server in local network. <br> Should be disabled in cloud environment.">
    <gs-item value="false" name="Disabled" selected></gs-item>
    <gs-item value="true" name="Enabled"></gs-item>
</gs-form-group>
