<gs-form-group css="m-1" name="sharing" label="File Sharing" selectable
    description="Enable or disable File Sharing option between workstation operators.">
    <gs-item value="false" name="Disabled" selected></gs-item>
    <gs-item value="true" name="Enabled"></gs-item>
</gs-form-group>

<gs-form-group css="m-1" name="sharingLimit" label="Size limit in MB" required
    type="number" value="0"
    description="File sharing size upload limit in MB. If set to 0, no limit. NOTE: Some servers have internal option to limit file upload size.">
</gs-form-group>
