<gs-form-group css="m-1" name="sharing" label="File Sharing" 
    description="Enable or disable File Sharing option between workstation operators.">
    <template>
        <select class="form-select" id="sharing" name="sharing" required="" selected="false">
            <option value="false">Disabled</option>
            <option value="true">Enabled</option>
      </select>        
    </template>
</gs-form-group>

<gs-form-group css="m-1" name="sharingLimit" label="Size limit in MB" required
    type="number" value="0"
    description="File sharing size upload limit in MB. If set to 0, no limit. NOTE: Some servers have internal option to limit file upload size.">
</gs-form-group>
