<div class="mt-4">
    <h4>Automatic Execution</h4>
    <div class="list-group text-bg-light shadow-sm">

        <div class="list-group-item bg-light" ignore>
            <div class="d-flex w-100 justify-content-between">
                <label class="form-check-label fw-bold" for="ext_status">Allow auto execution</label>
                <div class="form-check form-switch fs-4">
                    <input is="gs-ext-input" class="form-check-input" type="checkbox" role="switch" id="ext_status" name="ext_status">
                </div>
            </div>
            <p class="mb-1 text-muted">If enabled, on mouse click, will automatically execute links from web terminal.</p>
        </div>

        <div class="list-group-item bg-light" ignore>
            <div class="d-flex w-100 justify-content-between">
                <label class="form-label fw-bold" for="ext_ext">File Extension</label>
                <div class="fs-4">
                    <input is="gs-ext-input" class="form-control" type="text" id="ext_ext" name="ext_ext">
                </div>
            </div>
            <p class="mb-1 text-muted">File extension to attach to extracted screen value.</p>
        </div>

        <div class="list-group-item bg-light" ignore>
            <div class="d-flex w-100 justify-content-between">
                <label class="form-label fw-bold" for="ext_pgm">Program</label>
                <div class="fs-4">
                    <input is="gs-ext-input" class="form-control" type="text" id="ext_pgm" name="ext_pgm">
                </div>
            </div>
            <p class="mb-1 text-muted">Program to execute on extracted screen value.</p>
        </div>


        <div class="list-group-item bg-light" ignore>
            <div class="d-flex w-100 justify-content-between">
                <label class="form-label fw-bold" for="ext_path">Path</label>
                <div class="fs-4">
                    <input is="gs-ext-input" class="form-control" type="text" id="ext_path" name="ext_path">
                </div>
            </div>
            <p class="mb-1 text-muted">Directory path where extensions are located...</p>
        </div>

        <div class="list-group-item bg-light" ignore>
            This feature requires Web2Desktop integration module (PCH) installed.
        </div>

    </div>
</div>