<div class="list-group ">

	<div class="list-group-item bg-light" ignore>
		<div class="d-flex w-100 justify-content-between">
			<label class="form-check-label fw-bold" for="font_status_wide">Use custom fonts</label>
			<div class="form-check form-switch fs-4">
				<input is="gs-ext-input" class="form-check-input" type="checkbox" role="switch" id="font_status_wide"
					name="font_status_wide">
			</div>
		</div>
		<p class="mb-1 text-muted">Enable or disable font customization for 27x132 screens.</p>
	</div>

	<div class="list-group-item bg-light" ignore>
		<div class="d-flex w-100 justify-content-between">
			<label class="form-label fw-bold" for="font_family_wide">Font Type</label>
			<div class="fs-4">
				<select is="gs-ext-select" class="form-control " id="font_family_wide" name="font_family_wide">
					<option value="Courier New">Courier New</option>
					<option value="Lucida Console">Lucida Console</option>
					<option value="Tahoma">Tahoma</option>
				</select>
			</div>
		</div>
		<p class="mb-1 text-muted">Select font style for terminal screen.</p>
	</div>

	<div class="list-group-item bg-light" ignore>
		<div class="d-flex w-100 justify-content-between">
			<label class="form-label fw-bold" for="font_size_wide">Font size (%)</label>
			<div class="fs-4">
				<input is="gs-ext-input" data="client" class="form-control " id="font_size_wide" name="font_size_wide" required="required"
					type="number" min="0" max="200" value="100">
			</div>
		</div>
		<p class="mb-1 text-muted">Use to increase or decrease font size.</p>
	</div>

</div>