<div class="mt-4">
	<h4>Desktop Integration</h4>
	<div class="list-group text-bg-light shadow-sm">

		<div class="list-group-item bg-light" ignore>
			<div class="d-flex w-100 justify-content-between">
				<label class="form-check-label fw-bold" for="printlink_status">Web2Desktop Module (PCH)</label>
				<div class="form-check form-switch fs-4">
					<input is="gs-ext-input" class="form-check-input" type="checkbox" role="switch" id="printlink_status"
						name="printlink_status">
				</div>
			</div>
			<p class="mb-1 text-muted">Enable desktop integration for Remote Command and Direct Print.</p>
		</div>


		<div class="list-group-item bg-light" ignore>
			<div class="d-flex w-100 justify-content-between">
				<label class="form-check-label fw-bold" for="hll_status">HLL Module</label>
				<div class="form-check form-switch fs-4">
					<input is="gs-ext-input" class="form-check-input" type="checkbox" role="switch" id="hll_status" name="hll_status">
				</div>
			</div>
			<p class="mb-1 text-muted">Enable linking external app through HLL protocol.</p>
		</div>

		<div class="list-group-item bg-light" ignore>
			<a class="text-primary" href="https://www.greenscreens.io/link.html" target="_blank">Download integration module</a>
		</div>

	</div>
</div>