<div class="row form-group m-1 ">
    <label class="text-md-end control-label col-md-4 col-sm-4 col-xs-12" for="printlink_status">PCH</label>

    <div class="col-md-4 col-sm-6 col-xs-11">
        <select class="form-control " id="printlink_status" name="printlink_status" selected="false">
            <option value="false">Disabled</option>
            <option value="true">Enabled</option>
        </select>
    </div>
    <div class="col-auto ">
        <gs-tooltip placement="right" title="Enable or disable Remote Command and Print Link."></gs-tooltip>
        <i class="bi bi-info-circle-fill text-primary me-2 fs-5"></i>
    </div>

</div>

<div class="row form-group m-1 ">
    <label class="text-md-end control-label col-md-4 col-sm-4 col-xs-12" for="hll_status">HLL</label>

    <div class="col-md-4 col-sm-6 col-xs-11">
        <select class="form-control " id="hll_status" name="hll_status" selected="false">
            <option value="false">Disabled</option>
            <option value="true">Enabled</option>
        </select>
    </div>

    <div class="col-auto ">
        <gs-tooltip placement="right" title="Enable or disable HLL link."></gs-tooltip>
        <i class="bi bi-info-circle-fill text-primary me-2 fs-5"></i>
    </div>

</div>

<div class="row">
    <div class="col text-center">
        <a href="https://www.greenscreens.io/link.html" target="_blank" class="align-middle">Download integration module</a>
    </div>
</div>