<gs-form-group css="m-1" name="friendlyName" label="Friendly Name" required autofocus
autocomplete="off"
description="Client First and last name.">
</gs-form-group> 

<gs-form-group css="m-1" name="commonNameClient" label="Common Name" required
autocomplete="off"
description="First and Last user name.">
</gs-form-group> 

<gs-form-group css="m-1" name="organizationUnitClient" label="Organization Unit" required
autocomplete="off"
description="Group to which user belongs. Usually branch or department.">
</gs-form-group> 

<gs-form-group css="m-1" name="emailClient" label="Email" required
type="email" autocomplete="off"
description="Client email address.">
</gs-form-group> 

<gs-form-group css="m-1" name="expire" label="Expiration" required
type="number" min="1" autocomplete="off" value="1"
description="When certificate will expire.">
</gs-form-group> 

<gs-form-group css="m-1" name="expirationType" label="Expiration Type" required selectable
description="Expiration value type.">
  <gs-item value="0" name="Hours"></gs-item>
  <gs-item value="1" name="Days"></gs-item>
  <gs-item value="2" name="Months"></gs-item>
  <gs-item value="3" name="Years" selected></gs-item>
</gs-form-group> 
