<gs-form-group css="m-1" name="uuid" label="UUID" autocomplete="off"
css-field="text-uppercase" maxlength="64" pattern="[a-zA-Z10-9_]{1,10}" 
description="Server configuration group. Optional to limit servers access.">
</gs-form-group> 

<gs-form-group css="m-1" name="host" label="Host" autocomplete="off"
css-field="text-uppercase" maxlength="64" pattern="[a-zA-Z10-9_]{1,10}" 
description="Virtual IBM i server name. Leave blank to allow all within the server group.">
</gs-form-group> 

<gs-form-group css="m-1" name="user" label="User Name" autocomplete="off"
css-field="text-uppercase" maxlength="10" 
description="IBM i server user name. Optional, set to limit user allowed with this certificate to login.">
</gs-form-group> 