<div class="container-fluid"> 
<div class="row">
    <gs-alert css="alert-primary border shadow-sm" delay="3" dismissible="false">
        <gs-item title="When running on HTTPS, printer URI schema must be HTTPS and printer must support IPPS."></gs-item>
        <gs-item title="If HTTPS not supported by printer, use HTTP for this page and HTTP for printer URI."></gs-item>
        <gs-item title="If CORS not supported by printer, start browser with --disable-web-security  --user-data-dir=&quot;c:\\temp&quot;"></gs-item>
    </gs-alert>
</div>

<div class="row pb-2">
    <div class="col-md-12 p-2">
        <div class="input-group">
            <input class="form-control fw-bold" id="printerURI" name="uri" title="IPP Printer URI address" placeholder="http://printer.local:631/printers/Laserjet" value="http://printer.local:631/printers/Laserjet">
            <gs-button css="btn btn-outline-secondary fw-bold" action="register" id="btnReg" title="Register"></gs-button>
          </div>
    </div>
</div>

<div class="row">

    <gs-tab css="bg-light border shadow-sm p-2" css-nav="nav-tabs" css-pane="" placement="top">
        <gs-item active="true" title="Printer Attributes" css-nav="active fw-bold" css-pane="" >
            <template>
                <gs-ipp-attributes id="ippattr"></gs-ipp-attributes>
            </template>
        </gs-item>
        <gs-item title="Printer Jobs" css-nav="fw-bold" css-pane="">
            <template>
                <gs-ipp-jobs></gs-ipp-jobs>
            </template>
        </gs-item>
        <gs-item title="Console" css-nav="fw-bold" css-pane="">
            <template>
                <gs-ipp-console id="log"></gs-ipp-console>
            </template>
        </gs-item>        
    </gs-tab>

</div>

</div>