<div class="row form-group m-1">
    <div class="col-md-4 col-sm-4 col-xs-12 text-md-end ">
        <label class="control-label " for="defaultUUID">Default UUID</label>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-11">
        <input class="form-control text-uppercase" id="defaultUUID" name="defaultUUID" type="text" maxlength="64" pattern="[0-9a-zA-Z_]+">
    </div>
    <div class="col-auto ">
        <gs-tooltip placement="right" title="Default UUID value on login screen."></gs-tooltip>
        <i class="bi bi-info-circle-fill text-primary me-2 fs-5"></i>
    </div>
</div>

<div class="row form-group m-1">
    <div class="col-md-4 col-sm-4 col-xs-12 text-md-end ">
        <label class="control-label" for="defaultHost">Default Host</label>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-11">
        <input class="form-control text-uppercase" id="defaultHost" name="defaultHost" type="text" maxlength="64" pattern="[0-9a-zA-Z_]+">
    </div>
    <div class="col-auto ">
        <gs-tooltip placement="right" title="Default host name on login screen."></gs-tooltip>
        <i class="bi bi-info-circle-fill text-primary me-2 fs-5"></i>
    </div>
</div>

<div class="row form-group m-1">
    <div class="col-md-4 col-sm-4 col-xs-12 text-md-end ">
        <label class="control-label " for="enlist">Enlist configs</label>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-11">
        <select class="form-select" id="enlist" name="enlist" required>
            <option value="false">Disabled</option>
            <option value="true">Enabled</option>
      </select>        
    </div>
    <div class="col-auto ">
        <gs-tooltip placement="right" title="Show selection list for UUID/HOST on main login page."></gs-tooltip>
        <i class="bi bi-info-circle-fill text-primary me-2 fs-5"></i>
    </div>
</div>