<gs-form-group css="m-1" name="defaultUUID" label="Default UUID"  
    autocomplete="off" maxlength="64" pattern="[0-9a-zA-Z_]+"
    description="Default UUID name on login screen.">
</gs-form-group>

<gs-form-group css="m-1" name="defaultHost" label="Default Host" 
    autocomplete="off" maxlength="64" pattern="[0-9a-zA-Z_]+"
    description="Default host name on login screen.">
</gs-form-group>

<gs-form-group css="m-1" name="enlist" label="Enlist configs" required selectable
    description="Show selection list for UUID/HOST on main login page.">
    <gs-item value="false" name="Disabled"></gs-item>
    <gs-item value="true" name="Enabled" selected></gs-item>
</gs-form-group>
