<gs-form-group css="m-1" name="readOnlyUUID" label="Readonly UUID" required
    description="Disable entry in UUID field.">
    <template>
        <select class="form-select" id="readOnlyUUID" name="readOnlyUUID" required>
            <option value="false">False</option>
            <option value="true">True</option>
        </select>
    </template>
</gs-form-group>

<gs-form-group css="m-1" name="readOnlyHost" label="Readonly Host" required
    description="Disable entry in Host field.">
    <template>
        <select class="form-select"  id="readOnlyHost" name="readOnlyHost" required>
            <option value="false">False</option>
            <option value="true">True</option>
        </select>        
    </template>    
</gs-form-group>
