<div class="row form-group m-1">
    <div class="col-md-4 col-sm-4 col-xs-12 text-md-end">
        <label class="control-label" for="readOnlyUUID">Readonly UUID</label>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-11">
        <select class="form-select" id="readOnlyUUID" name="readOnlyUUID" required>
            <option value="false">False</option>
            <option value="true">True</option>
        </select>
    </div>
    <div class="col-auto">
        <gs-tooltip placement="right" title="Disable entry in UUID field."></gs-tooltip>
        <i class="bi bi-info-circle-fill text-primary me-2 fs-5"></i>
    </div>
</div>

<div class="row form-group m-1">
    <div class="col-md-4 col-sm-4 col-xs-12 text-md-end">
        <label class="control-label" for="readOnlyHost">Readonly Host</label>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-11">
        <select class="form-select"  id="readOnlyHost" name="readOnlyHost" required>
            <option value="false">False</option>
            <option value="true">True</option>
        </select>
    </div>
    <div class="col-auto">
        <gs-tooltip placement="right" title="Disable entry in Host field."></gs-tooltip>
        <i class="bi bi-info-circle-fill text-primary me-2 fs-5"></i>
    </div>
</div>