<gs-form-group css="m-1" name="readOnlyUUID" label="Readonly UUID" required selectable
    description="Disable entry in UUID field.">
    <gs-item value="false" name="No" selected></gs-item>
    <gs-item value="true" name="Yes"></gs-item>
</gs-form-group>

<gs-form-group css="m-1" name="readOnlyHost" label="Readonly Host" required selectable
    description="Disable entry in Host field.">
    <gs-item value="false" name="No" selected></gs-item>
    <gs-item value="true" name="Yes"></gs-item> 
</gs-form-group>
