<gs-form-group css="m-1" name="hiddenUUID" label="Hidden UUID" required
    autocomplete="off" 
    description="Hide UUID field.">
    <template>
        <select class="form-select" id="hiddenUUID" name="hiddenUUID" required>
            <option value="false">False</option>
            <option value="true">True</option>
        </select>        
    </template>    
</gs-form-group>

<gs-form-group css="m-1" name="hiddenHost" label="Hidden Host" autocomplete="off" 
    description="Hide Host field.">
    <template>
        <select class="form-select"  id="hiddenHost" name="hiddenHost" required>
            <option value="false">False</option>
            <option value="true">True</option>
        </select>
    </template>
</gs-form-group>
