<gs-form-group css="m-1" name="hiddenUUID" label="Hidden UUID" required selectable
    autocomplete="off" 
    description="Hide UUID field.">
    <gs-item value="false" name="No" selected></gs-item>
    <gs-item value="true" name="Yes"></gs-item>   
</gs-form-group>

<gs-form-group css="m-1" name="hiddenHost" label="Hidden Host" selectable
    autocomplete="off" 
    description="Hide Host field.">
    <gs-item value="false" name="No" selected></gs-item>
    <gs-item value="true" name="Yes"></gs-item>
</gs-form-group>
