<gs-form slot="body" css="flex-fill">
	    
	<gs-form-group css="m-1" name="Office" label="Office" 
	    description="Employee office location">
	</gs-form-group>
	
	<gs-form-group css="m-1" name="Name" label="Employee"
	    description="Employee full name">
	</gs-form-group>
	
	<gs-form-group css="m-1" name="Position" label="Position" 
	    description="Employee role">
	</gs-form-group>

	<gs-form-group css="m-1" name="Age" label="Age" type="number"
	    description="Employee age">
	</gs-form-group>
    
	<gs-form-group css="m-1" name="Salary" label="Salary" type="number"
	    description="Employee salary">
	</gs-form-group>    
    
</gs-form>