<form slot="body" is="gs-ext-form" id="form-main" class="flex-fill" novalidate="">

    <gs-tab flat="true" css-nav="nav-tabs fw-bold" css-pane="d-flex justify-content-center border-t flex-fill p-2">
        <gs-item title="Root Certificate" css-pane="flex-fill" active="true">
            <template>
                <div class="row form-group m-1">
                    <div class="col-12">
                        <p>Root CA public certificate key in PEM format.</p>
                    </div>
    
                    <div class="col-12">
                        <textarea class="form-control" rows="15" required id="rootCA" name="rootCAPub"  type="text" autocomplete="off"></textarea>
                    </div>
            </template>            
        </gs-item>
        <gs-item title="Root Private Key"  css-pane="flex-fill">
            <template>
                <div class="row form-group m-1">
                    <div class="col-md-1 col-sm-1 col-xs-12 text-md-end ">
                        <label class="control-label " for="rootPass">Password</label>
                    </div>
                    <div class="col-md-10 col-sm-10 col-xs-11">
                        <input class="form-control" id="rootPass" name="rootPass" type="text" autocomplete="off">
                    </div>
                    <div class="col-md-1 col-sm-1 ">
                        <gs-tooltip placement="right" title="If Root Private Key is protected by password, enter it here."></gs-tooltip>
                        <i class="bi bi-info-circle-fill text-primary me-2 fs-5"></i>
                    </div>
                </div>
                <div class="row form-group m-1">
                    <div class="col-12">
                        <p>Root CA private certificate key in PEM format.</p>
                    </div>
    
                    <div class="col-12">
                        <textarea class="form-control col-md-7 col-xs-12" rows="15" pattern="alphanumeric" id="rootCA" name="rootCAPriv"  type="text" autocomplete="off"></textarea>
                    </div>                
                </div>
            </template>
        </gs-item>  
        <gs-item title="Server Certificate" css-pane="flex-fill">
            <template>
                <div class="row form-group m-1">
                    <div class="col-12">
                        <p>Server public certificate key in PEM format.</p>
                    </div>
    
                    <div class="col-12">
                        <textarea class="form-control col-md-7 col-xs-12" rows="15" required id="serverPub" name="serverPub"  type="text" autocomplete="off"></textarea>
                    </div>                
                </div>
            </template>
        </gs-item>  
        <gs-item title="Server Private Key" css-pane="flex-fill">
            <template>
                <div class="row form-group m-1">
                    <div class="col-md-1 col-sm-1 col-xs-12 text-md-end ">
                        <label class="control-label " for="serverPass">Password</label>
                    </div>
                    <div class="col-md-10 col-sm-10 col-xs-11">
                        <input class="form-control" id="serverPass" name="serverPass" type="text" autocomplete="off">
                    </div>
                    <div class="col-md-1 col-sm-1 ">
                        <gs-tooltip placement="right" title="If Server Private Key is protected by password, enter it here."></gs-tooltip>
                        <i class="bi bi-info-circle-fill text-primary me-2 fs-5"></i>
                    </div>
                </div>
                <div class="row form-group m-1">
                    <div class="col-12">
                        <p>Server private certificate key in PEM format.</p>
                    </div>
    
                    <div class="col-12">
                        <textarea class="form-control col-md-7 col-xs-12" rows="15" required id="serverPriv" name="serverPriv"  type="text" autocomplete="off"></textarea>
                    </div>
                </div>
            </template>
        </gs-item>  
    </gs-tab>

</form>