<form slot="body" is="gs-ext-form" id="form-main" class="flex-fill" novalidate="">

    <div class="row form-group m-1">
        <div class="col-md-4 col-sm-4 col-xs-12 text-md-end ">
            <label class="control-label " for="otpIssuer">Issuer</label>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-11">
            <input class="form-control" id="otpIssuer"  name="otpIssuer" type="text" autocomplete="off" required>
        </div>
        <div class="col-auto ">
            <gs-tooltip placement="right" title="Company name."></gs-tooltip>
            <i class="bi bi-info-circle-fill text-primary me-2 fs-5"></i>
        </div>
    </div>

    <div class="row form-group m-1">
        <div class="col-md-4 col-sm-4 col-xs-12 text-md-end ">
            <label class="control-label " for="otpDomain">Domain</label>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-11">
            <input class="form-control" id="otpDomain"  name="otpDomain" type="text" autocomplete="off" required>
        </div>
        <div class="col-auto ">
            <gs-tooltip placement="right" title="Domain name."></gs-tooltip>
            <i class="bi bi-info-circle-fill text-primary me-2 fs-5"></i>
        </div>
    </div>
    
    <div class="row form-group m-1">
        <div class="col-md-4 col-sm-4 col-xs-12 text-md-end ">
            <label class="control-label " for="otpLimit">Login Attempts</label>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-11">
            <input class="form-control" id="otpLimit"  name="otpLimit" type="text" autocomplete="off" required>
        </div>
        <div class="col-auto ">
            <gs-tooltip placement="right" title="Invalid login attempts before disabling token."></gs-tooltip>
            <i class="bi bi-info-circle-fill text-primary me-2 fs-5"></i>
        </div>
    </div>    
    
</form>