<form slot="body" is="gs-ext-form" id="form-main" class="flex-fill" novalidate="">
    <div class="row" style="user-select: all;">
        <div class="col-md-12">
            <a href="#" id="qlink" target="_blank">
                <img id="qrcode"></img>
            </a>
        </div>
        <div class="col-md-12">
            <b>OTP Token</b>
            <div id="key"></div>
        </div>
        <div class="col-md-12 mt-2">
            <b>Recovery Keys</b>
            <div id="scratchcodes">

            </div>
        </div>
    </div>
</form>