<form slot="body" is="gs-ext-form"  class="flex-fill" novalidate="">
    <gs-tab flat="true" css-nav="nav-tabs fw-bold" css-pane="d-flex justify-content-center border-t flex-fill p-2">
        <gs-item title="Root CA" template="//dialogs/certificate/root.html" css-pane="flex-fill" active="true"></gs-item>
        <gs-item title="Intermediate CA" template="//dialogs/certificate/inter.html" css-pane="flex-fill"></gs-item>
        <gs-item title="Server Certificate" template="//dialogs/certificate/server.html" css-pane="flex-fill" ></gs-item>  
        <gs-item title="Timestamp" template="//dialogs/certificate/timestamp.html" css-pane="flex-fill" ></gs-item>  
        <gs-item title="Options" template="//dialogs/certificate/options.html" css-pane="flex-fill" ></gs-item>
        <gs-item title="ACME Service" template="//dialogs/certificate/acme.html" css-pane="flex-fill" ></gs-item>
    </gs-tab>
</form>
