<gs-form beep block slot="body" css="flex-fill">
    <input id="id" name="id" type="hidden">
    <gs-tab-group type="tabs" css-panel="p-2" css-tab="fw-bold">
        <gs-tab name="tab1" slot="tabs" title="General" active autofocus ></gs-tab>
        <gs-tab name="tab2" slot="tabs" title="Options"></gs-tab>
    
        <gs-tab-panel name="tab1" slot="panels" template="//dialogs/client/general.html" active></gs-tab-panel>
        <gs-tab-panel name="tab2" slot="panels" template="//dialogs/client/options.html"></gs-tab-panel>
    </gs-tab-group>
</gs-form>

