<form slot="body" is="gs-ext-form"  class="flex-fill" novalidate="">

    <gs-form-group css="m-1" name="type" label="Storage" 
		description="Storage type. AUTO will import ROOT, INTERMEDIATE, SERVER or TRUST. JRE will import trusted signers for IBM i SSL access.">
    	<template>
			<select class="form-select" id="type" name="type" required>
                <option value="0">Automatic</option>
            	<option value="1">Root</option>
            	<option value="2">Intermediate</option>
            	<option value="3">Server</option>
                <option value="6">Timestamp</option>
            	<option value="4">Trust</option>
            	<option value="7">JRE</option>
            </select>
        </template>
    </gs-form-group>
            
    <gs-form-group css="m-1" name="password" label="Password" type="password" autocomplete="off" reveal 
        description="Certificate store password.">
    </gs-form-group>                
    <div class="row form-group m-1">
        <div class="col-12">
            <gs-filebox multiple="false" elid="file" name="file" 
            accept="application/pkcs12,application/x-pkcs12,.p12,.pfx,.pem,.cer"
            css="" css-input="" css-label="mb-2 text-secondary" css-list="text-info"></gs-filebox>
        </div>
    </div>
    
</form>