<gs-form beep block slot="body" css="flex-fill">
    <template>
        <gs-formui-handler></gs-formui-handler>
        <input id="id" name="id" type="hidden">
        <gs-tab-group type="tabs" css-panel="p-2" css-tab="fw-bold">
            <gs-tab-header name="tab1" slot="tabs" title="General" active autofocus ></gs-tab-header>
            <gs-tab-header name="tab2" slot="tabs" title="Options"></gs-tab-header>
        
            <gs-tab-panel name="tab1" slot="panels" template="//dialogs/client/general.html" active></gs-tab-panel>
            <gs-tab-panel name="tab2" slot="panels" template="//dialogs/client/options.html"></gs-tab-panel>
        </gs-tab-group>
    </template>
</gs-form>

