<form slot="body" is="gs-ext-form" id="form-main" class="flex-fill" novalidate="">

    <gs-form-group css="m-1" name="ipAddress" label="Remote location" readonly disabled>
    </gs-form-group>

    <gs-form-group css="m-1" name="user" label="User name" css-field="text-uppercase" maxlength="10" required autofocus
        description="High permission user name to access AS/400 for license and product installation. This user and password are not saved.">
    </gs-form-group>

    <gs-form-group css="m-1" name="password" label="User password" required type="password" maxlength="64"
        description="Password for given user. Password and user are not saved.">
    </gs-form-group>

    <hr class="text-secondary ms-4 me-4">

    <gs-form-group css="m-1" name="library" label="Library" required css-field="text-uppercase" maxlength="10"
        placeholder="QGPL" value="QGPL" description="Library where SAVF with product definition will be transfered.">
    </gs-form-group>

    <gs-form-group css="m-1" name="file" label="Save File" required css-field="text-uppercase" maxlength="10"
        placeholder="GREENSCREENS" value="GREENSCREENS" description="SAVF name in given library location.">
    </gs-form-group>

    <gs-form-group css="m-1" name="ifs" label="IFS path" required placeholder="/tmp" value="/tmp"
        pattern="^(\/{1}|(\/([^\/\s]+))+)$"
        description="Path on IFS system where SAVF will be transfered before importing to given LIBRARY/FILE">
    </gs-form-group>


</form>