<gs-form slot="body" css="flex-fill" data-gsf-disable="sso" data-gsf-value="false">
	    
	<gs-form-group css="m-1" name="sso" label="Status" autocomplete="off" selectable required
	    description="Enable Single Sign On. IBM system must be configured to use Kerberos for signon.">
		<gs-item value="false" name="Disabled" selected></gs-item>
		<gs-item value="true" name="Enabled"></gs-item>		
	</gs-form-group>


	<gs-form-group css="m-1" name="ssoKDC" label="KDC" 
	    autocomplete="off"
	    description="Kerberos V5 service. If empty, auto discovery is used. DNS SRV must be properly set. Useful if multiple KDC services used.">
	</gs-form-group>
	
	<gs-form-group css="m-1" name="ssoSPN" label="SPN" autocomplete="off" list="spn"
	    description="SPN name for this service.">
		<datalist slot="footer" id="spn" is="gs-ext-datalist"></datalist>
	</gs-form-group>
	
	<gs-form-group css="m-1" name="btnKDC" label="" icon="false" placement="start"
	    description="Resync data from KDC">
	    <template>
	        <gs-button data-gs-action="reload-kerberos" id="btnKDC" css="btn btn-sm btn-secondary d-inline" title="Reload"></gs-button>
	    </template>
	</gs-form-group>

</gs-form>