<form slot="body" is="gs-ext-form"  class="flex-fill py-3" novalidate="" autocorrect="off" autocapitalize="off" autocomplete="off">

    <gs-form-group css="m-1" name="password" label="Admin Password" required
        autocomplete="off" type="password" maxlength="64" reveal  autofocus 
        description="Password to access this web admin console. Leave empty to keep current password.">
    </gs-form-group> 

    <gs-form-group css="m-1" name="password2" label="Repeat Password" required reveal
        autocomplete="off" type="password" maxlength="64"
        description="Repeat password to confirm valid entry">
    </gs-form-group> 
    
</form>