<form slot="body" is="gs-ext-form" id="form-main" class="flex-fill" novalidate="">
    <gs-tab flat="true" css-nav="nav-tabs fw-bold" css-pane="d-flex justify-content-center border-t flex-fill p-2">
        <gs-item title="Defaults" template="//dialogs/login/defaults.html" css-pane="flex-fill" active="true"></gs-item>
        <gs-item title="Disabled" template="//dialogs/login/disabled.html" css-pane="flex-fill" ></gs-item>  
        <gs-item title="Hidden" template="//dialogs/login/hidden.html" css-pane="flex-fill" ></gs-item>
    </gs-tab>
</form>
