<gs-form beep block slot="body" css="flex-fill" autocomplete="off">
    <template>
        <div class="row m-1">
            <gs-alert css="alert-danger" css-active="fade" message="Server restart is required for a change to take effect!" dismissable="false"></gs-alert>
            <gs-alert css="alert-danger" css-active="fade" message="Migrate data only from previous version!" dismissable="false"></gs-alert>
        </div>
        
        <gs-form-group css="m-1" name="path" label="Data folder" autocomplete="off" type="text"
            description="Select previous version directory from which to migrate the data.">
        </gs-form-group> 
    </template>    
</gs-form>