<gs-form beep block slot="body" css="flex-fill" autocomplete="off">
    <template>        
        <div class="row m-1">
            <gs-alert css="alert-danger" css-active="fade" message="Server restart is required for a change to take effect!" dismissable="false"></gs-alert>
        </div>
    
        <gs-form-group css="m-1" name="port" label="Http Port" required autofocus
            type="number" min="1" max="65535"
            description="Unsecured network port on which server will listen.">
        </gs-form-group> 
    
        <gs-form-group css="m-1" name="sslPort" label="Https Port" required
            type="number" min="1" max="65535"
            description="Secure network port on which server will listen.">
        </gs-form-group> 
        
        <gs-form-group css="m-1" name="intf" label="Interface" autocomplete="off" required
            pattern="^((25[0-5]|(2[0-4]|1\d|[1-9]|)\d)\.?\b){4}$"
            description="Enter IP address on which server will listen for connections.">
        </gs-form-group> 
    
        <gs-form-group css="m-1" name="restart" label="Restart Server" autocomplete="off" required selectable
            description="Restart server immediately. If restart selected, session will logout. Active web terminal sessions will be terminated.">
            <gs-item value="0" name="No" selected></gs-item>
            <gs-item value="1" name="Yes"></gs-item>
        </gs-form-group> 
    </template>    
</gs-form>