<form slot="body" is="gs-ext-form" id="form-main" class="flex-fill" novalidate="">
    
    <div class="row m-1">
        <gs-alert css="alert-danger" css-active="fade" message="Server restart is required for a change to take effect!" dismissable="false"></gs-alert>
    </div>

    <gs-form-group css="m-1" name="port" label="Http Port" type="number" required
        description="Unsecured network port on which server will listen.">
    </gs-form-group> 

    <gs-form-group css="m-1" name="sslPort" label="Https Port" type="number" required
        description="Secure network port on which server will listen.">
    </gs-form-group> 
    
    <gs-form-group css="m-1" name="intf" label="Interface" autocomplete="off" required
        pattern="^((25[0-5]|(2[0-4]|1\d|[1-9]|)\d)\.?\b){4}$"
        description="Enter IP address on which server will listen for connections.">
    </gs-form-group> 

    <gs-form-group css="m-1" name="restart" label="Restart Server" autocomplete="off" required
        description="Restart server immediately. If restart selected, session will logout. Active web terminal sessions will be terminated.">
        <template>
            <select class="form-select" id="restart" name="restart" required>
                <option selected value="0">No</option>
                <option value="1">Yes</option>
            </select>
        </template>
    </gs-form-group> 
    
</form>