<gs-form beep block slot="body" css="flex-fill">
    <template>
        <gs-form-group css="m-1" name="otpIssuer" label="Issuer" autocomplete="off" required autofocus
            description="Company name.">
        </gs-form-group>  
    
        <gs-form-group css="m-1" name="otpDomain" label="Domain" autocomplete="off" required
            description="Domain name.">
        </gs-form-group> 
        
        <gs-form-group css="m-1" name="otpLimit" label="Login Attempts" required
            type="number" value="0"
            description="Invalid login attempts before disabling token.">
        </gs-form-group> 
    </template>
</gs-form>