
<form slot="body" is="gs-ext-form"  class="flex-fill py-3" novalidate="" autocomplete="off">
    
    <div class="row m-1">
        <gs-alert css="alert-danger" css-active="fade" message="Server restart is required for a change to take effect!" dismissable="false"></gs-alert>
    </div>

	<gs-form-group css="m-1" name="proxyMode" label="Proxy Mode" autocomplete="off"
	    description="Enable only if behind a trusted proxy. Use to select X-Forwarded-* / Forwarded headers.">
	    <template>
	        <select class="form-select" id="proxyMode" name="proxyMode"  autofocus required>
	            <option value="0" selected>NONE</option>
	            <option value="1">Forward</option>
	            <option value="2">RFC7239</option>	            
	      </select>        
	    </template>
	</gs-form-group>

	<gs-form-group css="m-1" name="proxyChannel" label="Proxy Channel" autocomplete="off"
	    description="Select network channel used for proxy.">
	    <template>
	        <select class="form-select" id="proxyChannel" name="proxyChannel" required>
	            <option value="0" selected>HTTP</option>
	            <option value="1">HTTPS</option>
	            <option value="2">Both</option>
	      </select>        
	    </template>
	</gs-form-group>


	<gs-form-group css="m-1" name="proxyProtocol" label="Proxy Protocol" autocomplete="off"
	    description="Use proxy protocol (HAProxy etc.)">
	    <template>
	        <select class="form-select" id="proxyProtocol" name="proxyProtocol" required>
	            <option value="true" selected>ENABLE</option>
	            <option value="false">DISABLE</option>
	      </select>        
	    </template>
	</gs-form-group>


	<gs-form-group css="m-1" name="strict" label="Proxy Only" autocomplete="off"
	    description="Restrict access only for verified proxies.">
	    <template>
	        <select class="form-select" id="strict" name="strict" required>
	            <option value="true" selected>ENABLE</option>
	            <option value="false">DISABLE</option>
	      </select>        
	    </template>
	</gs-form-group>

    <gs-form-group css="m-1" name="proxies" label="Proxies" autocomplete="off" 
        description="Comma separated list of allowed proxies. If not set, default 127.0.0.1 is used.">
    </gs-form-group> 
	
    <gs-form-group css="m-1" name="restart" label="Restart Server" autocomplete="off" required
        description="Restart server immediately. If restart selected, session will logout. Active web terminal sessions will be terminated.">
        <template>
            <select class="form-select" id="restart" name="restart" required>
                <option selected value="0">No</option>
                <option value="1">Yes</option>
            </select>
        </template>
    </gs-form-group> 
    
</form>