<form slot="body" is="gs-ext-form"  class="flex-fill" novalidate="">
    <div class="container">
        <div class="row">
            <div class="col-12 justify-content-center text-center">
                <a href="#" target="_blank">
                    <img src="" id="qrcode">
                </a>
            </div>
            <div class="col-12 fs-bold text-center fw-bold mt-1">
                Key
            </div>
            <div class="col-12 text-center" id="token">

            </div>
            <div class="col-12 fs-bold text-center fw-bold mt-1">
                Scratch codes
            </div>
            <div class="col-12 text-center" id="scratch">

            </div>
        </div>
    </div>
</form>