<form slot="body" is="gs-ext-form" id="form-main" class="flex-fill" novalidate="">
    
    <div class="row form-group m-1">
        <div class="col-md-4 col-sm-4 col-xs-12 text-md-end">
            <label class="control-label" for="module">Module</label>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-11">
            <input type="text" class="form-control" id="module" name="module" readonly disabled>
        </div>
        <div class="col-auto">
            <gs-tooltip placement="right" title="Service module"></gs-tooltip>
            <i class="bi bi-info-circle-fill text-primary me-2 fs-5"></i>
        </div>
    </div>

    <div class="row form-group m-1">
        <div class="col-md-4 col-sm-4 col-xs-12 text-md-end">
            <label class="control-label" for="property">Property</label>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-11">
            <input type="text" class="form-control" id="property" name="property" readonly disabled>
        </div>
        <div class="col-auto">
            <gs-tooltip placement="right" title="Service property"></gs-tooltip>
            <i class="bi bi-info-circle-fill text-primary me-2 fs-5"></i>
        </div>
    </div>
    
    <div class="row form-group m-1">
        <div class="col-md-4 col-sm-4 col-xs-12 text-md-end">
            <label class="control-label" for="value">Value</label>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-11">
            <div>
                <input type="number" class="form-control" id="value" name="value"  min="0" max="10000000" >
            </div>
        </div>
        <div class="col-auto">
            <gs-tooltip placement="right" title="Service value"></gs-tooltip>
            <i class="bi bi-info-circle-fill text-primary me-2 fs-5"></i>
        </div>
    </div>    

    </form>