<gs-form beep block slot="body" css="flex-fill" autocomplete="off">
    <template>        
		<gs-alert css="alert-info" css-active="fade" message="Server configuration console (advanced usage)!" dismissable="false"></gs-alert>
				
		<gs-form-group css="m-1" name="commands" autocomplete="off" required></gs-form-group>
    </template>	    

	<div class="row form-group m-1">
      <div class=" col-md-12 col-sm-12 col-xs-11 mt-3">
        <output class="form-control text-bg-dark" style="white-space: pre-line;" name="result" id="result"></output>
      </div>      
    </div>

</gs-form>

