<div class="container-fluid ms-4">

    <div class="row -border shadow-sm rounded-3 ms-4 ps-4 py-4 bg-light mb-4">
        <div class="col">
            <h4 class="text-muted user-select-none">Terminal UI Customization</h4>
        </div>
    </div>

    <div class="row border shadow-sm rounded ms-4 bg-light">

        <div class="col-12 border-bottom d-flex justify-content-end p-1">
            <gs-button action="save" select="false" comment="Save changes" css="text-bg-light"
                icon="bi bi-check-circle fs-4 fw-bold"></gs-button>
            <gs-button action="refresh" select="false" comment="Refresh data" css="text-bg-light"
                icon="bi bi-arrow-repeat fs-4 fw-bold"></gs-button>
        </div>

        <div class="col-12 p-0">

            <form is="gs-ext-form" id="form-main" class="flex-fill" novalidate="">
                <gs-tab flat="true" css-nav="nav-tabs fw-bold" css-pane="d-flex justify-content-center border-t flex-fill p-2">
                    <gs-item title="Header" css-pane="flex-fill" active="true">
                        <template>
							<div class="item form-group">
                                <div class="col-xs-12 p-1 text-muted">
                                    <small>
                                        Code added here will be injecetd to the web terminal page header. Use "style", "script or "link" tags.
                                    </small>
                                </div>
								<div class="col-xs-12">
									<textarea rows="20" class="form-control col-xs-12 " id="header" name="header"></textarea>
								</div>
							</div>
                        </template>
                    </gs-item>
                    <gs-item title="Footer" css-pane="flex-fill" >
                        <template>
							<div class="item form-group">
                                <div class="col-xs-12 p-1 text-muted">
                                    <small>
                                        Code added here will be injecetd to the web terminal page footer. Use "style", "script or "link" tags.
                                    </small>
                                </div>                                
								<div class="col-xs-12">
									<textarea rows="20" class="form-control col-xs-12 " id="footer" name="footer"></textarea>
								</div>
							</div>                            
                        </template>                        
                    </gs-item>
                    <gs-item title="UI" css-pane="flex-fill" >
                        <template>
                            <div class="col-xs-12 p-1 text-muted">
                                <small>
                                    Code added here will be injecetd to the modernization UI. 
                                </small>
                            </div>                            
							<div class="item form-group">
								<div class="col-xs-12">
									<textarea rows="20" class="form-control col-xs-12 " id="ui" name="ui"></textarea>
								</div>
							</div>                            
                        </template>                        
                    </gs-item>
                </gs-tab>
            </form>

        </div>
    </div>
</div>