<div class="container-fluid ms-4">

    <template id="header">
        <div class="item form-group">
            <div class="col-xs-12 p-1 text-muted">
                <small>
                    Code added here will be injecetd to the web terminal page header. Use "style", "script or "link" tags.
                </small>
            </div>
            <div class="col-xs-12">
                <textarea rows="20" class="form-control col-xs-12 " id="header" name="header"></textarea>
            </div>
        </div>
    </template>
    
    <template id="footer">
        <div class="item form-group">
            <div class="col-xs-12 p-1 text-muted">
                <small>
                    Code added here will be injecetd to the web terminal page footer. Use "style", "script or "link" tags.
                </small>
            </div>
            <div class="col-xs-12">
                <textarea rows="20" class="form-control col-xs-12 " id="footer" name="footer"></textarea>
            </div>
        </div>
    </template>

    <template id="ui">
        <div class="col-xs-12 p-1 text-muted">
            <small>
                Code added here will be injecetd to the modernization UI. 
            </small>
        </div>                            
        <div class="item form-group">
            <div class="col-xs-12">
                <textarea rows="20" class="form-control col-xs-12 " id="ui" name="ui"></textarea>
            </div>
        </div> 
    </template>

    <div class="row -border shadow-sm rounded-3 ms-4 ps-4 py-4 bg-light mb-4">
        <div class="col">
            <h4 class="text-muted user-select-none">Terminal UI Customization</h4>
        </div>
    </div>

    <div class="row border shadow-sm rounded ms-4 bg-light">

        <div class="col-12 border-bottom d-flex justify-content-end p-1">
            <gs-button data-gs-action="save" tooltip="Save changes" 
            color="light" text="dark" -hover-css="gs-pulse" click-css="gs-shake" css="shadow-none border-0"
            icon="check-circle fs-4 fw-bold"></gs-button>

            <gs-button data-gs-action="refresh" tooltip="Refresh data" 
            color="light" text="dark" -hover-css="gs-pulse" click-css="gs-shake" css="shadow-none border-0"
            icon="arrow-repeat fs-4 fw-bold"></gs-button>
        </div>

        <div class="col-12 p-0">

            <gs-form beep block slot="body" css="flex-fill">
                <template>
                    <gs-tab-group type="tabs" css-tab="fw-bold" css-panel="p-2">
                        <gs-item title="Header" template="#header" active></gs-item>
                        <gs-item title="Footer" template="#footer" ></gs-item>
                        <gs-item title="UI" template="#ui" ></gs-item>
                    </gs-tab-group>                
                </template>
            </gs-form>

        </div>
    </div>
</div>