<div class="container-fluid ms-4">

    <div class="row -border shadow-sm rounded-3 ms-4 ps-4 py-4 bg-light mb-4">
        <div class="col">
            <h4 class="text-muted user-select-none">Mobile Filter Records</h4>
        </div>
        <div class="col-2">
            <select name="filter" title="Filter status" class="form-select">
                <option value="0" selected>Disabled</option>
                <option value="1">Enabled</option>
                <option value="2">Learning</option>
            </select>
            <gs-tooltip title="Turn ON/OFF Mobile Filter"></gs-tooltip>
        </div>        
    </div>

    <div class="row border shadow-sm rounded ms-4 pb-4 bg-light ">

        <div class="col-12 border-bottom d-flex justify-content-end p-1 align-items-center">
            <gs-button data-gs-action="create" tooltip="Add new configuration" 
            color="light" text="dark" -hover-css="gs-pulse" click-css="gs-shake" css="shadow-none border-0"
            icon="file-earmark fs-4 fw-bold"></gs-button>

            <gs-button data-gs-action="refresh" tooltip="Refresh data" 
            color="light" text="dark" -hover-css="gs-pulse" click-css="gs-shake" css="shadow-none border-0"
            icon="arrow-repeat fs-4 fw-bold"></gs-button>
        </div>

        <div class="col-12 p-0">

            <gs-data-handler src="data/filter-mobile.json" id="filtermobile" type="cached" limit=15>
                <gs-item name="id"></gs-item>
                <gs-item name="rule"></gs-item>
                <gs-item name="deviceID"></gs-item>
                <gs-item name="mobile"></gs-item>
                <gs-item name="fullname"></gs-item>
                <gs-item name="user"></gs-item>
                <gs-item name="active"></gs-item>
                <gs-item name="timestamp"></gs-item>
            </gs-data-handler>

            <gs-table id="table-main" storage="filtermobile" 
                selectable hover bordered shadow -divider sortable multisort
                class="flex-fill" css-filter="rounded-0" css-header="border"
                color="light" select-color="primary" head-color="secondary">  
                <gs-item title="Rule" name="rule" filter fixed>
                    <gs-item value="0" map="Allow"></gs-item>
                    <gs-item value="1" map="Deny"></gs-item>   
               </gs-item>
               <gs-item title="Mobile" name="mobile" filter></gs-item>
               <gs-item title="Device ID" name="deviceID" filter></gs-item>
               <gs-item title="Owner" name="user" filter></gs-item>
               <gs-item title="Status" name="active" filter fixed>
                   <gs-item value="true" map="Active"></gs-item>
                   <gs-item value="false" map="Inactive"></gs-item>
               </gs-item>
                <gs-context slot="extra" target="tbody" filter="[selected]" offset="4">
                    <gs-item name="Details" data-gs-action="details"></gs-item>
                    <gs-item></gs-item>
                    <gs-item name="Remove" data-gs-action="remove"></gs-item>
                </gs-context>
            </gs-table>
            
            <gs-pagination slot="extra" storage="filtermobile" pages="5" css="justify-content-center p-1 m-1" first last previous next></gs-pagination>

            <gs-admin-dialog id="modal-main" css-modal="modal-lg" css-body="p-0" css-header="p-3"
                title="Mobile Filter" template="//forms/filter-mobile.html">
            </gs-admin-dialog>

        </div>

    </div>
</div>