<div class="container-fluid ms-4">

    <div class="row -border shadow-sm rounded-3 ms-4 ps-4 py-4 bg-light mb-4">
        <div class="col">
            <h4 class="text-muted user-select-none">Netowrk IP Filter Records</h4>
        </div>
        <div class="col-2">
            <select name="filter" title="Filter status" class="form-select">
                <option value="0" selected>Disabled</option>
                <option value="1">Enabled</option>
                <option value="2">Learning</option>
            </select>
            <gs-tooltip title="Turn ON/OFF Network Filter"></gs-tooltip>
        </div>          
    </div>

    <div class="row border shadow-sm rounded ms-4 pb-4 bg-light ">

        <div class="col-12 border-bottom d-flex justify-content-end p-1 align-items-center">
            <gs-button action="create" select="false" comment="Add new configuration" css="text-bg-light"
                icon="bi bi-file-earmark fs-4 fw-bold"></gs-button>           
            <gs-button action="refresh" select="false" comment="Refresh data" css="text-bg-light"
                icon="bi bi-arrow-repeat fs-4 fw-bold"></gs-button>
        </div>

        <div class="col-12 p-0">

            <gs-table id="table-main" index=false class="flex-fill"
                css="table table-light table-hover user-select-none m-0" css-select="table-active table-primary"
                css-header="user-select-none" css-filter="" css-columns="table-secondary">
                <gs-header>
                    <gs-column title="Rule" name="rule" filter="true" list="fixed">
                        <gs-item map="true" filter="true">
                            <gs-item value="0" map="Allow"></gs-item>
                            <gs-item value="1" map="Deny"></gs-item>   
                        </gs-item>
                    </gs-column>
                    <gs-column title="Type" name="type" filter="true" list="fixed">
                        <gs-item map="true" filter="true">
                            <gs-item value="" map="All"></gs-item>
                            <gs-item value="0" map="IP"></gs-item>
                            <gs-item value="1" map="Mask"></gs-item>   
                            <gs-item value="2" map="Expr"></gs-item>   
                        </gs-item>                        
                    </gs-column>
                    <gs-column title="Value" name="value"></gs-column>
                    <gs-column title="Status" name="active" filter="true" list="fixed">
                        <gs-item filter="true" map="true">
                            <gs-item value="true" map="Active"></gs-item>
                            <gs-item value="false" map="Inactive"></gs-item>                           
                        </gs-item>                        
                    </gs-column>
                </gs-header>
                <gs-store src="data/filter-ip.json" id="sessions" limit=15>
                    <gs-item name="id"></gs-item>
                    <gs-item name="rule"></gs-item>
                    <gs-item name="type"></gs-item>
                    <gs-item name="value"></gs-item>
                    <gs-item name="subval"></gs-item>
                    <gs-item name="active"></gs-item>
                    <gs-item name="timestamp"></gs-item>
                </gs-store>
                <gs-context slot="extra" target="tbody tr">
                    <gs-item name="Details" action="details"></gs-item>
                    <gs-item></gs-item>
                    <gs-item name="Remove" action="remove"></gs-item>
                </gs-context>
                <gs-pager slot="extra" previous="&laquo;" next="&raquo;" firstlast="false" pages="0"></gs-pager>
            </gs-table>

            <gs-admin-dialog-filter id="modal-main"></gs-admin-dialog-filter>

        </div>

    </div>
</div>