<div class="container-fluid ms-4">

    <div class="row -border shadow-sm rounded-3 ms-4 ps-4 py-4 bg-light mb-4">
        <div class="col">
            <h4 class="text-muted user-select-none">OTP Token Records</h4>
        </div>
    </div>

    <div class="row border shadow-sm rounded ms-4 pb-4 bg-light ">

        <div class="col-12 d-flex justify-content-end p-1 ">
            <gs-button data-gs-action="refresh" tooltip="Refresh data" 
            color="light" text="dark" -hover-css="gs-pulse" click-css="gs-shake" css="shadow-none border-0"
            icon="arrow-repeat fs-4 fw-bold"></gs-button>
        </div>
        
        <div class="col-12 p-0">

            <gs-data-handler src="data/keys-otp.json" id="keyotp" type="cached" limit=15>
                <gs-item name="id"></gs-item>
                <gs-item name="uuid"></gs-item>
                <gs-item name="host"></gs-item>
                <gs-item name="user"></gs-item>
                <gs-item name="key"></gs-item>
                <gs-item name="attempts"></gs-item>
                <gs-item name="verificationCode"></gs-item>
                <gs-item name="scratchCodes"></gs-item>
                <gs-item name="active"></gs-item>
                <gs-item name="locked"></gs-item>
                <gs-item name="url"></gs-item>
                <gs-item name="created"></gs-item>
                <gs-item name="userName"></gs-item>
            </gs-data-handler>
            
            <gs-table id="table-main" storage="keyotp" 
                selectable hover bordered shadow -divider sortable multisort
                class="flex-fill" css-filter="rounded-0" css-header="border"
                color="light" select-color="primary" head-color="secondary">  

                <gs-item title="UUID" name="uuid" filter></gs-item>
                <gs-item title="Host" name="host" filter></gs-item>
                <gs-item title="User" name="user" filter></gs-item>
                <gs-item title="User Name" name="userName"></gs-item>
                <gs-item title="Created" name="created" type="timestamp" format="HH:mm:ss DD.MM.YYYY"></gs-item>
                <gs-item title="Invalid Logins" name="attempts"></gs-item>
                <gs-item title="Status" name="locked" filter fixed>
                    <gs-item value="true" map="Locked"></gs-item>
                    <gs-item value="false" map="Unlocked"></gs-item>
                </gs-item>
                <gs-item title="Activity" name="active" filter fixed>
                    <gs-item value="true" map="Enabled"></gs-item>
                    <gs-item value="false" map="Disabled"></gs-item>
                </gs-item>

                <gs-context>
                    <gs-item name="Details" data-gs-action="details"></gs-item>
                    <gs-item name="Toggle state" data-gs-action="toggle"></gs-item>
                    <gs-item></gs-item>
                    <gs-item name="Remove" data-gs-action="remove"></gs-item>
                </gs-context>
            </gs-table>
            
            <gs-pagination storage="keyotp" pages="5" css="justify-content-center p-1 m-1" first last previous next></gs-pagination>

            <gs-admin-dialog id="modal-main" css-body="p-0" css-header="p-3 " 
                title="OTP Key" template="//forms/key-otp.html">
            </gs-admin-dialog>

        </div>

    </div>
</div>