<div class="container-fluid ms-4">
    <div class="row border shadow-sm ms-4 ps-4 py-4 bg-light border shadow-sm  mb-4">
        <div class="col">
            <h4 class="text-muted">OTP Token Records</h4>
        </div>
    </div>

    <div class="row border shadow-sm ms-4 pb-4 bg-light border shadow-sm ">

        <div class="col-12 border-bottom d-flex justify-content-end ">
            <gs-button action="refresh" select="false" comment="Refresh data" css="text-bg-light"
                icon="bi bi-arrow-repeat fs-4 fw-bold"></gs-button>
        </div>
        
        <div class="col-12">

            <gs-table id="table-main" index=false class="flex-fill"
                css="table table-light table-hover user-select-none m-0" css-select="table-active table-primary"
                css-header="user-select-none" css-columns="table-secondary">
                <gs-header>
                    <gs-column title="UUID" name="uuid" filter="true"></gs-column>
                    <gs-column title="Host" name="host" filter="true"></gs-column>
                    <gs-column title="User" name="user" filter="true"></gs-column>
                    <gs-column title="User Name" name="userName"></gs-column>
                    <gs-column title="Created" name="created" type="timestamp" format="HH:mm:ss DD.MM.YYYY"></gs-column>
                    <gs-column title="Invalid Logins" name="attempts"></gs-column>
                    <gs-column title="Status" name="locked"></gs-column>
                    <gs-column title="Activity" name="active">
                        <gs-item map="true">
                            <gs-item value="true" map="Enabled"></gs-item>
                            <gs-item value="false" map="Disabled"></gs-item>
                        </gs-item>                        
                    </gs-column>
                </gs-header>
                <gs-store src="data/keys-otp.json" id="sessions" limit=15>
                    <gs-item name="id"></gs-item>
                    <gs-item name="uuid"></gs-item>
                    <gs-item name="host"></gs-item>
                    <gs-item name="user"></gs-item>
                    <gs-item name="key"></gs-item>
                    <gs-item name="attempts"></gs-item>
                    <gs-item name="verificationCode"></gs-item>
                    <gs-item name="scratchCodes"></gs-item>
                    <gs-item name="active"></gs-item>
                    <gs-item name="locked"></gs-item>
                    <gs-item name="url"></gs-item>
                    <gs-item name="created"></gs-item>
                    <gs-item name="userName"></gs-item>
                </gs-store>
                <gs-context slot="extra" target="tbody tr">
                    <gs-item name="Details" action="details"></gs-item>
                    <gs-item name="Toggle state" action="toggle"></gs-item>
                    <gs-item></gs-item>
                    <gs-item name="Remove" action="remove"></gs-item>
                </gs-context>
                <gs-pager slot="extra" previous="&laquo;" next="&raquo;" firstlast="false" pages="0"></gs-pager>
            </gs-table>

            <gs-modal id="modal-main" visible="false" css-body="p-0" css-header = "p-3 dialog-title" css-title = "fs-5 fw-bold">
                <h4 slot="title">OTP Key</h4>
                <gs-template slot="body" href="//forms/key-otp.html"></gs-template>
            </gs-modal>

        </div>

    </div>
</div>