<div class="container-fluid ms-4">

    <div class="row -border shadow-sm rounded-3 ms-4 ps-4 py-4 bg-light mb-4">
        <div class="col">
            <h4 class="text-muted user-select-none">API Key Records</h4>
        </div>
    </div>

    <div class="row border shadow-sm rounded ms-4 pb-4 bg-light ">

        <div class="col-12 d-flex justify-content-end p-1 ">
            <gs-button data-gs-action="create" tooltip="Add new configuration" 
            color="light" text="dark" -hover-css="gs-pulse" click-css="gs-shake" css="shadow-none border-0"
            icon="file-earmark fs-4 fw-bold"></gs-button>

            <gs-button data-gs-action="refresh" tooltip="Refresh data" 
            color="light" text="dark" -hover-css="gs-pulse" click-css="gs-shake" css="shadow-none border-0"
            icon="arrow-repeat fs-4 fw-bold"></gs-button>
        </div>

        <div class="col-12 p-0">

            <gs-data-handler src="data/keys-api.json" id="keysapi" type="cached" limit=15>
                <gs-item name="uuid"></gs-item>
                <gs-item name="host"></gs-item>
                <gs-item name="ip"></gs-item>
                <gs-item name="key"></gs-item>
                <gs-item name="allowOveride"></gs-item>
                <gs-item name="serviceUser"></gs-item>
                <gs-item name="active"></gs-item>
                <gs-item name="user"></gs-item>
                <gs-item name="password"></gs-item>
                <gs-item name="service"></gs-item>
                <gs-item name="created"></gs-item>
                <gs-item name="id"></gs-item>
            </gs-data-handler>

            <gs-table id="table-main" storage="keysapi" 
                selectable hover bordered shadow -divider sortable multisort
                class="flex-fill" css-filter="rounded-0" css-header="border"
                color="light" select-color="primary" head-color="secondary">  

                <gs-item title="UUID" name="uuid" filter></gs-item>
                <gs-item title="Host" name="host" filter></gs-item>
                <gs-item title="IP" name="ip" filter></gs-item>
                <gs-item title="Key" name="key" filter></gs-item>
                <gs-item title="Allow Overide" name="allowOveride" filter></gs-item>
                <gs-item title="Service User" name="serviceUser" filter></gs-item>
                <gs-item title="User" name="user" filter></gs-item>
                <gs-item title="Service" name="service" filter></gs-item>
                <gs-item title="Created" name="created" type="timestamp" format="HH:mm:ss DD.MM.YYYY"></gs-item>
                <gs-item title="Status" name="active" filter fixed>
                    <gs-item value="" map="All"></gs-item>
                    <gs-item value="true" map="Enabled"></gs-item>
                    <gs-item value="false" map="Disabled"></gs-item>
                </gs-item>

                <gs-context>
                    <gs-item name="Details" data-gs-action="details"></gs-item>
                    <gs-item name="Toggle state" data-gs-action="toggle"></gs-item>
                    <gs-item></gs-item>
                    <gs-item name="Remove" data-gs-action="remove"></gs-item>
                </gs-context>
            </gs-table>

            <gs-pagination storage="keysapi" pages="5" css="justify-content-center p-1 m-1" first last previous next></gs-pagination>

            <gs-admin-dialog id="modal-main" css-body="p-0" css-header="p-3 "
                 template="//forms/key-api.html" title="API Key">
            </gs-admin-dialog>

        </div>

    </div>
</div>