<div class="container-fluid ms-4">

    <div class="row -border shadow-sm rounded-3 ms-4 ps-4 py-4 bg-light mb-4">
        <div class="col">
            <h4 class="text-muted user-select-none">Biometric Records</h4>
        </div>
    </div>

    <div class="row border shadow-sm rounded ms-4 pb-4 bg-light ">

        <div class="col-12 d-flex justify-content-end p-1 ">
            <gs-button data-gs-action="refresh" tooltip="Refresh data" 
            color="light" text="dark" -hover-css="gs-pulse" click-css="gs-shake" css="shadow-none border-0"
            icon="arrow-repeat fs-4 fw-bold"></gs-button>
        </div>

        <div class="col-12 p-0">

            <gs-data-handler src="data/keys-bio.json" id="keysbio" type="cached" limit=15>
                <gs-item name="uuid"></gs-item>
                <gs-item name="host"></gs-item>
                <gs-item name="user"></gs-item>
                <gs-item name="clientID"></gs-item>
                <gs-item name="origin"></gs-item>
                <gs-item name="aaguid"></gs-item>
                <gs-item name="desc"></gs-item>
                <gs-item name="created"></gs-item>
            </gs-data-handler>
            
            <gs-table id="table-main" storage="keysbio" 
                selectable hover bordered shadow -divider sortable multisort
                class="flex-fill" css-filter="rounded-0" css-header="border"
                color="light" select-color="primary" head-color="secondary">  

                <gs-item title="UUID" name="uuid" filter hidden></gs-item>
                <gs-item title="Host" name="host" filter hidden></gs-item>
                <gs-item title="User" name="user" filter hidden></gs-item>
                <gs-item title="Origin" name="origin" filter hidden></gs-item>

                <gs-item title="AAGUID" name="aaguid" colspan="2"></gs-item>
                <gs-item title="Description" name="desc" colspan="4" ref="aaguid" src="data/fido.json"></gs-item>
                <gs-item title="Created" name="created" type="timestamp" format="HH:mm:ss DD.MM.YYYY"></gs-item>

                <gs-context>
                    <gs-item name="Remove" data-gs-action="remove"></gs-item>
                </gs-context>
            </gs-table>
            
            <gs-pagination storage="keysbio" pages="5" css="justify-content-center p-1 m-1" first last previous next></gs-pagination>

        </div>

    </div>
</div>