<div class="container-fluid ms-4">

    <div class="row -border shadow-sm rounded-3 ms-4 ps-4 py-4 bg-light mb-4">
            <div class="col">
                <h4 class="text-muted user-select-none">Application Modules</h4>
            </div>
        </div>

        <div class="row border shadow-sm rounded ms-4 pb-4 bg-light">

            <div class="col-12 d-flex justify-content-end p-1 ">
                <gs-button data-gs-action="refresh" tooltip="Refresh data" 
                color="light" text="dark" -hover-css="gs-pulse" click-css="gs-shake" css="shadow-none border-0"
                icon="arrow-repeat fs-4 fw-bold"></gs-button>
            </div>

            <div class="col-12 p-0">

                <gs-data-handler src="data/modules.json" id="modules" type="cached" limit=15>
                    <gs-item name="name"></gs-item>
                    <gs-item name="active"></gs-item>
                    <gs-item name="hash"></gs-item>
                    <gs-item name="timestamp"></gs-item>
                    <gs-item name="enabled"></gs-item>
                    <gs-item name="disabled"></gs-item>
                </gs-data-handler>    

                <gs-table id="table-main" storage="modules" 
                    selectable hover bordered shadow -divider sortable multisort
                    class="flex-fill" css-filter="rounded-0" css-header="border"
                    color="light" select-color="primary" head-color="secondary">  

                    <gs-item title="Name" name="name" filter></gs-item>
                    <gs-item title="Status" name="active" filter fixed>
                        <gs-item value="true" map="Started"></gs-item>
                        <gs-item value="false" map="Stopped"></gs-item>
                    </gs-item>
                    <gs-item title="File Hash" name="hash"></gs-item>
                    <gs-item title="Timestamp" name="timestamp" type="timestamp" format></gs-item>
                    <gs-item title="Enabled Time" name="enabled" type="timestamp" format></gs-item>
                    <gs-item title="Disabled Time" name="disabled" type="timestamp" format></gs-item>

                    <gs-context>
                        <gs-item name="Start" data-gs-action="start"></gs-item>
                        <gs-item name="Stop" data-gs-action="stop"></gs-item>
                        <gs-item name="Restart" data-gs-action="restart"></gs-item>
                    </gs-context>
                </gs-table>

                <gs-pagination storage="modules" pages="5" css="justify-content-center p-1 m-1" first last previous next></gs-pagination>

            </div>

    </div>
</div>