<div class="container-fluid ms-4">
    <div class="row border shadow-sm ms-4 ps-4 py-4 bg-light border shadow-sm  mb-4">
            <div class="col">
                <h4 class="text-muted">Application Modules</h4>
            </div>
        </div>

        <div class="row border shadow-sm ms-4 pb-4 bg-light border shadow-sm ">

            <div class="col-12 border-bottom">
                <gs-template href="//shell/toolbar2.html" id="toolbar"></gs-template>
            </div>

            <div class="col-12 mt-2">
                <gs-table id="table-main" index=false class="flex-fill"
                    css="table table-light table-hover user-select-none m-0" css-select="table-active table-primary"
                    css-header="user-select-none" css-columns="table-secondary">
                    <gs-header>
                        <gs-column title="Name" name="name"></gs-column>
                        <gs-column title="Status" name="active">
                            <gs-item map="true">
                                <gs-item value="true" map="Started"></gs-item>
                                <gs-item value="false" map="Stopped"></gs-item>
                            </gs-item>
                        </gs-column>
                    </gs-header>
                    <gs-store src="data/modules.json" id="sessions" limit=10>
                        <gs-item name="name"></gs-item>
                        <gs-item name="active"></gs-item>
                    </gs-store>    
                    <gs-context slot="extra" target="tbody tr">
                        <gs-item name="Start" action="start"></gs-item>
                        <gs-item name="Stop" action="stop"></gs-item>
                        <gs-item name="Restart" action="restart"></gs-item>
                    </gs-context>
                    <gs-pager slot="extra" previous="&laquo;" next="&raquo;" firstlast="false" pages="0"></gs-pager>
                </gs-table>

            </div>

    </div>
</div>