<div class="container-fluid ms-4">

    <div class="row -border shadow-sm rounded-3 ms-4 ps-4 py-4 bg-light mb-4">
        <div class="col">
            <h4 class="text-muted user-select-none">Background Task Records</h4>
        </div>
    </div>

    <div class="row border shadow-sm rounded ms-4 pb-4 bg-light">

        <div class="col-12 d-flex justify-content-end p-1 ">
            <gs-button data-gs-action="create" tooltip="Add new configuration" 
            color="light" text="dark" -hover-css="gs-pulse" click-css="gs-shake" css="shadow-none border-0"
            icon="file-earmark fs-4 fw-bold"></gs-button>

            <gs-button data-gs-action="refresh" tooltip="Refresh data" 
            color="light" text="dark" -hover-css="gs-pulse" click-css="gs-shake" css="shadow-none border-0"
            icon="arrow-repeat fs-4 fw-bold"></gs-button>
        </div>

        <div class="col-12 p-0">

            <gs-data-handler src="data/schedulers.json" id="schedulers" type="cached" limit=15>
                <gs-item name="id"></gs-item>
                <gs-item name="status"></gs-item>
                <gs-item name="internal"></gs-item>
                <gs-item name="day"></gs-item>
                <gs-item name="data"></gs-item>
                <gs-item name="name"></gs-item>
                <gs-item name="type"></gs-item>
                <gs-item name="time"></gs-item>
            </gs-data-handler>

            <gs-table id="table-main" storage="schedulers" 
                selectable hover bordered shadow -divider sortable multisort
                class="flex-fill" css-filter="rounded-0" css-header="border"
                color="light" select-color="primary" head-color="secondary">  

                <gs-item title="Type" name="type" filter fixed>
                    <gs-item value="" map="All"></gs-item>
                    <gs-item value="0" map="Internal"></gs-item>
                    <gs-item value="1" map="Service Event"></gs-item>    
                    <gs-item value="2" map="Web Access On"></gs-item>
                    <gs-item value="3" map="Web Access Off"></gs-item>    
                    <gs-item value="4" map="Server Restart"></gs-item>   
                    <gs-item value="5" map="Modernization Cache"></gs-item>   
                    <gs-item value="6" map="Central Management"></gs-item>
                </gs-item>
                <gs-item title="Name" name="name"></gs-item>
                <gs-item title="Day" name="day">
                    <gs-item value="0" map="Every"></gs-item>
                    <gs-item value="1" map="Monday"></gs-item>
                    <gs-item value="2" map="Tuesday"></gs-item>
                    <gs-item value="3" map="Wednesday"></gs-item>
                    <gs-item value="4" map="Thursday"></gs-item>
                    <gs-item value="5" map="Friday"></gs-item>
                    <gs-item value="6" map="Saturday"></gs-item>
                    <gs-item value="7" map="Sunday"></gs-item>
                    <gs-item value="8" map="Work Days"></gs-item>
                    <gs-item value="9" map="Weekends"></gs-item>
                </gs-item>
                <gs-item title="Time" name="time"></gs-item>
                <gs-item title="Status" name="status" filter fixed>
                    <gs-item value="" map="All"></gs-item>
                    <gs-item value="true" map="Enabled"></gs-item>
                    <gs-item value="false" map="Disabled"></gs-item>                         
                </gs-item>                    

                <gs-context>
                    <gs-item name="Details" data-gs-action="details"></gs-item>
                    <gs-item name="Remove" data-gs-action="remove"></gs-item>
                    <gs-item></gs-item>
                    <gs-item name="Run Now" data-gs-action="run"></gs-item>
                </gs-context>
            </gs-table>

            <gs-pagination storage="schedulers" pages="5" css="justify-content-center p-1 m-1" first last previous next></gs-pagination>

            <gs-admin-dialog id="modal-main" css-body="p-0" css-header="p-3 " 
                title="Scheduler Task" template="//forms/scheduler.html">
            </gs-admin-dialog>

        </div>

    </div>
</div>