<div class="container-fluid ms-4">
    <div class="row border shadow-sm ms-4 ps-4 py-4 bg-light border shadow-sm  mb-4">
        <div class="col">
            <h4 class="text-muted">Service Modules Settings</h4>
        </div>
    </div>

    
    <div class="row border shadow-sm ms-4 pb-4 bg-light border shadow-sm ">

        <div class="col-12 border-bottom">
            <gs-template href="//shell/toolbar2.html" id="toolbar"></gs-template>
        </div>

        <div class="col-12 mt-2">

            <gs-table id="table-main" index=false class="flex-fill"
                css="table table-light table-hover user-select-none m-0" css-select="table-active table-primary"
                css-header="user-select-none" css-columns="table-secondary">
                <gs-header>
                    <gs-column title="Module" name="module"></gs-column>
                    <gs-column title="Property" name="property"></gs-column>
                    <gs-column title="Value" name="value"></gs-column>
                    <gs-column title="Description" name="desc"></gs-column>
                </gs-header>
                <gs-store src="data/services.json" id="sessions" limit=10>
                    <gs-item name="module"></gs-item>
                    <gs-item name="desc"></gs-item>
                    <gs-item name="type"></gs-item>
                    <gs-item name="property"></gs-item>
                    <gs-item name="value"></gs-item>
                </gs-store>
                <gs-context slot="extra" target="tbody tr">
                    <gs-item name="Edit" action="edit"></gs-item>
                </gs-context>
                <gs-pager slot="extra" previous="&laquo;" next="&raquo;" firstlast="false" pages="0"></gs-pager>
            </gs-table>

            <gs-modal id="modal-main" visible="false" css-body="p-0">
                <h4 slot="title">Terminal Session</h4>
                <gs-template slot="body" href="//forms/service.html"></gs-template>
            </gs-modal>

        </div>

    </div>
</div>