<div class="container-fluid ms-4">

    <div class="row -border shadow-sm rounded-3 ms-4 ps-4 py-4 bg-light mb-4">
        <div class="col">
            <h4 class="text-muted user-select-none">Service Modules Settings</h4>
        </div>
    </div>
    
    <div class="row border shadow-sm rounded ms-4 pb-4 bg-light">

        <div class="col-12 d-flex justify-content-end p-1 ">
            <gs-button data-gs-action="export" tooltip="Export table data" 
            color="light" text="dark" -hover-css="gs-pulse" click-css="gs-shake" css="shadow-none border-0"
            icon="download fs-4 fw-bold"></gs-button>

            <gs-button data-gs-action="refresh" tooltip="Refresh data" 
            color="light" text="dark" -hover-css="gs-pulse" click-css="gs-shake" css="shadow-none border-0"
            icon="arrow-repeat fs-4 fw-bold"></gs-button>
        </div>

        <div class="col-12 mt-2 p-0">

            <gs-data-handler src="data/services.json" id="services" type="cached" limit=15>
                <gs-item name="module"></gs-item>
                <gs-item name="desc"></gs-item>
                <gs-item name="type"></gs-item>
                <gs-item name="property"></gs-item>
                <gs-item name="value"></gs-item>
            </gs-data-handler>

            <gs-table id="table-main" storage="services" 
                selectable hover bordered shadow -divider sortable multisort
                class="flex-fill" css-filter="rounded-0" css-header="border"
                color="light" select-color="primary" head-color="secondary">  

                <gs-item title="Module" name="module" filter></gs-item>
                <gs-item title="Property" name="property" filter></gs-item>
                <gs-item title="Value" name="value"></gs-item>
                <gs-item title="Description" name="desc"></gs-item>

                <gs-context>
                    <gs-item name="Edit" data-gs-action="details"></gs-item>
                </gs-context>
            </gs-table>

            <gs-pagination storage="services" pages="5" css="justify-content-center p-1 m-1" first last previous next></gs-pagination>

            <gs-admin-dialog-service id="modal-main"></gs-admin-dialog-service>

        </div>

    </div>
</div>