<div class="container-fluid ms-4">

    <div class="row -border shadow-sm rounded-3 ms-4 ps-4 py-4 bg-light mb-4">
        <div class="col">
            <h4 class="text-muted user-select-none">Service Modules Settings</h4>
        </div>
    </div>
    
    <div class="row border shadow-sm rounded ms-4 pb-4 bg-light">

        <div class="col-12 border-bottom">
            <gs-template href="//shell/toolbar2.html" id="toolbar"></gs-template>
        </div>

        <div class="col-12 mt-2 p-0">

            <gs-table id="table-main" index=false class="flex-fill"
                css="table table-light table-hover user-select-none m-0" css-select="table-active table-primary"
                css-header="user-select-none" css-columns="table-secondary">
                <gs-header>
                    <gs-column title="Module" name="module"></gs-column>
                    <gs-column title="Property" name="property"></gs-column>
                    <gs-column title="Value" name="value"></gs-column>
                    <gs-column title="Description" name="desc"></gs-column>
                </gs-header>
                <gs-store src="data/services.json" id="sessions" limit=15>
                    <gs-item name="module"></gs-item>
                    <gs-item name="desc"></gs-item>
                    <gs-item name="type"></gs-item>
                    <gs-item name="property"></gs-item>
                    <gs-item name="value"></gs-item>
                </gs-store>
                <gs-context slot="extra" target="tbody tr">
                    <gs-item name="Edit" action="details"></gs-item>
                </gs-context>
                <gs-pager slot="extra" previous="&laquo;" next="&raquo;" firstlast="false" pages="0"></gs-pager>
            </gs-table>

            <gs-admin-dialog-service id="modal-main"></gs-admin-dialog-service>

        </div>

    </div>
</div>