<div class="container-fluid ms-4">

    <div class="row border shadow-sm ms-4 ps-4 py-4 bg-light border shadow-sm mb-4">
        <div class="col">
            <h4 class="text-muted">Network Proxy/Tunnel Configuration</h4>
        </div>
    </div>

    <div class="row border shadow-sm ms-4 pb-4 bg-light border shadow-sm ">

        <div class="col-12 border-bottom d-flex justify-content-end ">
            <gs-button action="create" select="false" comment="Add new configuration" css="text-bg-light"
                icon="bi bi-file-earmark fs-4 fw-bold"></gs-button>                 
            <gs-button action="refresh" select="false" comment="Refresh data" css="text-bg-light"
                icon="bi bi-arrow-repeat fs-4 fw-bold"></gs-button>
        </div>

        <div class="col-12 mt-2 p-0">

            <gs-table id="table-main" index=false class="flex-fill"
                css="table table-light table-hover user-select-none m-0" css-select="table-active table-primary"
                css-header="user-select-none" css-columns="table-secondary">
                <gs-header>
                    <gs-column title="Name" name="name"></gs-column>
                    <gs-column title="Remote IP" name="ip"></gs-column>
                    <gs-column title="Remote Port" name="port"></gs-column>
                    <gs-column title="Local Port" name="localPort"></gs-column>
                    <gs-column title="Protocol" name="unix">
                        <gs-item map="true">
                            <gs-item value="true" map="AF_UNIX"></gs-item>
                            <gs-item value="false" map="AF_TCP"></gs-item>
                        </gs-item>                         
                    </gs-column>
                    <gs-column title="Type" name="type">
                        <gs-item map="true">
                            <gs-item value="0" map="SOCK5"></gs-item>
                            <gs-item value="1" map="VPN"></gs-item>
                            <gs-item value="2" map="SSH"></gs-item>
                        </gs-item>                        
                    </gs-column>
                    <gs-column title="Rule" name="enabled">
                        <gs-item map="true" filter="true">
                            <gs-item value="true" map="Enabled"></gs-item>
                            <gs-item value="false" map="Disabled"></gs-item>                         
                        </gs-item>
                    </gs-column>
                    <gs-column title="Status" name="active">
                        <gs-item map="true" filter="true">
                            <gs-item value="true" map="Active"></gs-item>
                            <gs-item value="false" map="Inactive"></gs-item>                         
                        </gs-item>                        
                    </gs-column>
                    <gs-column title="Connections" name="connections"></gs-column>

                </gs-header>
                <gs-store src="data/proxy.json" id="sessions" limit=15>
                    <gs-item name="name"></gs-item>
                    <gs-item name="localPort"></gs-item>
                    <gs-item name="unix"></gs-item>
                    <gs-item name="enabled"></gs-item>
                    <gs-item name="active"></gs-item>
                    <gs-item name="type"></gs-item>
                    <gs-item name="connections" type="number"></gs-item>
                    <gs-item name="timestamp"></gs-item>
                    <gs-item name="port"></gs-item>
                    <gs-item name="id"></gs-item>
                    <gs-item name="ip"></gs-item>
                </gs-store>
                <gs-context slot="extra" target="tbody tr">
                    <gs-item name="Details" action="details"></gs-item>
                    <gs-item></gs-item>
                    <gs-item name="Clone" action="clone"></gs-item>
                    <gs-item name="Remove" action="remove"></gs-item>
                    <gs-item></gs-item>
                    <gs-item name="Start" action="start"></gs-item>
                    <gs-item name="Stop" action="stop"></gs-item>
                    <gs-item name="Download" action="download"></gs-item>
                </gs-context>
                <gs-pager slot="extra" previous="&laquo;" next="&raquo;" firstlast="false" pages="0"></gs-pager>
            </gs-table>

            <gs-modal id="modal-main" visible="false" css-modal="modal-lg" css-body="p-0" css-header="p-3 dialog-title"
                css-title="fs-5 fw-bold">
                <h4 slot="title">Network tunnel</h4>
                <gs-template slot="body" href="//forms/tunnel.html"></gs-template>
            </gs-modal>

        </div>

    </div>
</div>