<div class="container-fluid ms-4">

    <div class="row -border shadow-sm rounded-3 ms-4 ps-4 py-4 bg-light mb-4">
        <div class="col">
            <h4 class="text-muted user-select-none">Network Proxy/Tunnel Configuration</h4>
        </div>
    </div>

    <div class="row border shadow-sm rounded ms-4 pb-4 bg-light">

        <div class="col-12 d-flex justify-content-end p-1 ">
            <gs-button data-gs-action="create" tooltip="Add new configuration" 
            color="light" text="dark" -hover-css="gs-pulse" click-css="gs-shake" css="shadow-none border-0"
            icon="file-earmark fs-4 fw-bold"></gs-button>

            <gs-button data-gs-action="refresh" tooltip="Refresh data" 
            color="light" text="dark" -hover-css="gs-pulse" click-css="gs-shake" css="shadow-none border-0"
            icon="arrow-repeat fs-4 fw-bold"></gs-button>
        </div>

        <div class="col-12 mt-2 p-0">

            <gs-data-handler src="data/proxy.json" id="tunnel" type="cached" limit=15>
                <gs-item name="id" key></gs-item>
                <gs-item name="name"></gs-item>
                <gs-item name="localPort"></gs-item>
                <gs-item name="enabled"></gs-item>
                <gs-item name="active"></gs-item>
                <gs-item name="type"></gs-item>
                <gs-item name="connections" type="number"></gs-item>
                <gs-item name="timestamp"></gs-item>
                <gs-item name="port"></gs-item>
                <gs-item name="ip"></gs-item>
            </gs-data-handler>

            <gs-table id="table-main" storage="tunnel" 
                selectable hover bordered shadow -divider sortable multisort
                class="flex-fill" css-filter="rounded-0" css-header="border"
                color="light" select-color="primary" head-color="secondary">                 
                <gs-item title="Name" name="name"></gs-item>
                <gs-item title="Remote IP" name="ip"></gs-item>
                <gs-item title="Remote Port" name="port"></gs-item>
                <gs-item title="Local Port" name="localPort"></gs-item>
                <gs-item title="Type" name="type">
                    <gs-item value="0" map="SOCK5"></gs-item>
                    <gs-item value="1" map="SSH"></gs-item>
                </gs-item>
                <gs-item title="Rule" name="enabled">
                    <gs-item value="true" map="Enabled"></gs-item>
                    <gs-item value="false" map="Disabled"></gs-item>                         
                </gs-item>
                <gs-item title="Status" name="active">
                    <gs-item value="true" map="Active"></gs-item>
                    <gs-item value="false" map="Inactive"></gs-item>                         
                </gs-item>
                <gs-item title="Connections" name="connections"></gs-item>

                <gs-context>
                    <gs-item name="Details" data-gs-action="details"></gs-item>
                    <gs-item></gs-item>
                    <gs-item name="Clone" data-gs-action="clone"></gs-item>
                    <gs-item name="Remove" data-gs-action="remove"></gs-item>
                    <gs-item></gs-item>
                    <gs-item name="Start" data-gs-action="start"></gs-item>
                    <gs-item name="Stop" data-gs-action="stop"></gs-item>
                    <gs-item name="Restart" data-gs-action="rstart"></gs-item>
                </gs-context>
            </gs-table>
            
            <gs-pagination slot="extra" storage="tunnel" pages="5" css="justify-content-center p-1 m-1" first last previous next></gs-pagination>

            <gs-admin-dialog-tunnel id="modal-main" css-modal="modal-lg" css-body="p-0" css-header="p-3" title="Network tunnel"></gs-admin-dialog-tunnel>

        </div>

    </div>
</div>