<div class="container-fluid ms-4">

    <div class="row -border shadow-sm rounded-3 ms-4 ps-4 py-4 bg-light mb-4">
        <div class="col">
            <h4 class="text-muted user-select-none">User Configuration Records </h4>
        </div>
    </div>

    <div class="row border shadow-sm rounded ms-4 pb-4 bg-light">

        <div class="col-12 d-flex justify-content-end p-1 ">
            <gs-button data-gs-action="create" tooltip="Add new configuration" 
            color="light" text="dark" -hover-css="gs-pulse" click-css="gs-shake" css="shadow-none border-0"
            icon="file-earmark fs-4 fw-bold"></gs-button>

            <gs-button data-gs-action="commit" tooltip="Commit all changes to database" 
            color="light" text="dark" -hover-css="gs-pulse" click-css="gs-shake" css="shadow-none border-0"
            icon="check-circle fs-4 fw-bold"></gs-button>

            <gs-button data-gs-action="resync" tooltip="Resync from database" 
            color="light" text="dark" -hover-css="gs-pulse" click-css="gs-shake" css="shadow-none border-0"
            icon="bootstrap-reboot fs-4 fw-bold"></gs-button>

            <gs-button data-gs-action="refresh" tooltip="Refresh data" 
            color="light" text="dark" -hover-css="gs-pulse" click-css="gs-shake" css="shadow-none border-0"
            icon="arrow-repeat fs-4 fw-bold"></gs-button>
        </div>

        <div class="col-12 p-0">

            <gs-data-handler src="data/users.json" id="users" type="cached" limit=15>
                <gs-item name="id"></gs-item>
                <gs-item name="confid"></gs-item>
                <gs-item name="uuid"></gs-item>
                <gs-item name="host"></gs-item>
                <gs-item name="user"></gs-item>
                <gs-item name="display"></gs-item>
                <gs-item name="outq"></gs-item>
                <gs-item name="enhanced"></gs-item>
                <gs-item name="drawer2"></gs-item>
                <gs-item name="drawer1"></gs-item>
                <gs-item name="driver"></gs-item>
                <gs-item name="devtype"></gs-item>
                <gs-item name="program"></gs-item>
                <gs-item name="menu"></gs-item>
                <gs-item name="program"></gs-item>
                <gs-item name="library"></gs-item>
                <gs-item name="$changed"></gs-item>
            </gs-data-handler>

            <gs-table id="table-main" storage="users" 
                selectable hover bordered shadow -divider sortable multisort
                class="flex-fill" css-filter="rounded-0" css-header="border"
                color="light" select-color="primary" head-color="secondary">  

                <gs-item title="Config ID" name="confid" filter></gs-item>
                <gs-item title="Type" name="devtype" filter fixed>
                    <gs-item value="0" map="Both"></gs-item>
                    <gs-item value="1" map="Display"></gs-item>
                    <gs-item value="2" map="Printer"></gs-item>
                </gs-item>
                <gs-item title="UUID" name="uuid" filter></gs-item>
                <gs-item title="Host" name="host" filter></gs-item>
                <gs-item title="User" name="user" filter></gs-item>
                <gs-item title="Device Name" name="display" filter></gs-item>
                <gs-item title="Printer Outq" name="outq" filter></gs-item>
                <gs-item title="Spool Driver" name="driver" filter fixed>
                    <gs-item value="" map=""></gs-item>
                    <gs-item value="0" map="PDF"></gs-item>
                    <gs-item value="1" map="HTML"></gs-item>
                    <gs-item value="2" map="TEXT"></gs-item>
                    <gs-item value="3" map="JSON"></gs-item>
                    <gs-item value="4" map="RAW"></gs-item>
                    <gs-item value="5" map="ETL"></gs-item>
                    <gs-item value="6" map="JSX"></gs-item>
                </gs-item>
                <gs-item title="Printer" name="printer" filter></gs-item>

                <gs-context>
                    <gs-item name="Details" data-gs-action="details"></gs-item>
                    <gs-item name="Clone" data-gs-action="clone"></gs-item>
                    <gs-item></gs-item>
                    <gs-item name="Remove" data-gs-action="remove"></gs-item>
                </gs-context>
            </gs-table>

            <gs-pagination storage="users" pages="5" css="justify-content-center p-1 m-1" first last previous next></gs-pagination>

            <gs-admin-dialog id="modal-main" css-body="p-0" css-header="p-3 " 
                title="User Configuration" template="//forms/user.html">
            </gs-admin-dialog>

        </div>

    </div>
</div>

