<div class="container-fluid ms-4">

    <div class="row -border shadow-sm rounded-3 ms-4 ps-4 py-4 bg-light mb-4">
        <div class="col">
            <h4 class="text-muted user-select-none">Live Terminal Sessions</h4>
        </div>
    </div>

    <div class="row border shadow-sm rounded ms-4 pb-4 bg-light ">

        <div class="col-12 d-flex justify-content-end p-1 ">
            
            <gs-button data-gs-action="message-filter" tooltip="Send message by filter" 
            color="light" text="dark" -hover-css="gs-pulse" click-css="gs-shake" css="shadow-none border-0"
            icon="chat fs-4 fw-bold"></gs-button>
            
            <gs-button data-gs-action="download" tooltip="Export sessions by filter" 
            color="light" text="dark" -hover-css="gs-pulse" click-css="gs-shake" css="shadow-none border-0"
            icon="download fs-4 fw-bold"></gs-button>

            <gs-button data-gs-action="kill-filter" tooltip="Kill sessions by filter" 
            color="light" text="dark" -hover-css="gs-pulse" click-css="gs-shake" css="shadow-none border-0"
            icon="dash-circle fs-4 fw-bold"></gs-button>

            <gs-button data-gs-action="refresh" tooltip="Refresh data" 
            color="light" text="dark" -hover-css="gs-pulse" click-css="gs-shake" css="shadow-none border-0"
            icon="arrow-repeat fs-4 fw-bold"></gs-button>
        </div>

        <div class="col-12 p-0">

            <gs-data-handler src="data/workstations.json" id="workstations" type="cached" limit=15>
                <gs-item name="sessionID"></gs-item>
                <gs-item name="sessionUUID"></gs-item>
                <gs-item name="ipAddress"></gs-item>
                <gs-item name="viewID"></gs-item>
                <gs-item name="deviceID"></gs-item>
                <gs-item name="deviceType"></gs-item>
                <gs-item name="uuid"></gs-item>
                <gs-item name="host"></gs-item>
                <gs-item name="token"></gs-item>
                <gs-item name="clientType"></gs-item>
                <gs-item name="agent"></gs-item>
                <gs-item name="display"></gs-item>
                <gs-item name="user"></gs-item>
                <gs-item name="message"></gs-item>
                <gs-item name="proxy"></gs-item>
                <gs-item name="created"></gs-item>
                <gs-item name="lastActivity"></gs-item>
                <gs-item name="printCount"></gs-item>
                <gs-item name="state"></gs-item>
                <gs-item name="certificate"></gs-item>
                <gs-item name="logging"></gs-item>
            </gs-data-handler>

            <gs-table id="table-main" storage="workstations" 
                selectable hover bordered shadow -divider sortable multisort
                class="flex-fill" css-filter="rounded-0" css-header="border"
                color="light" select-color="primary" head-color="secondary">  

                <gs-item title="IP Address" name="ipAddress" filter></gs-item>
                <gs-item title="Proxy" name="proxy" filter></gs-item>
                <gs-item title="UUID" name="uuid" filter></gs-item>
                <gs-item title="Host" name="host" filter></gs-item>
                <gs-item title="Display" name="display" filter></gs-item>
                <gs-item title="User" name="user" filter></gs-item>
                <gs-item title="Device" name="deviceID" filter></gs-item>
                <gs-item title="Device Type" name="deviceType" filter fixed>
                    <gs-item value="" map="All"></gs-item>
                    <gs-item value="DSP" map="DISPLAY"></gs-item>
                    <gs-item value="PRT" map="PRINTER"></gs-item>
                </gs-item>
                <gs-item title="Client Type" name="clientType" filter fixed>
                    <gs-item value="" map="All"></gs-item>
                    <gs-item value="BROWSER"></gs-item>                         
                    <gs-item value="MOBILE"></gs-item>
                </gs-item>
                <gs-item title="State" name="state" filter fixed>
                    <gs-item value="" map="All"></gs-item>
                    <gs-item value="1" map="Active"></gs-item>
                    <gs-item value="-1" map="Inactive"></gs-item>                         
                </gs-item>
                <gs-item title="Logging" name="logging">
                    <gs-item value="true" map="Active"></gs-item>
                    <gs-item value="false" map="Inactive"></gs-item>   
                </gs-item>                    

                <gs-context>
                    <gs-item name="Details" data-gs-action="details"></gs-item>
                    <gs-item name="Message" data-gs-action="message"></gs-item>
                    <gs-item name="Logging" data-gs-action="logging"></gs-item>
                    <gs-item></gs-item>
                    <gs-item name="Kill" data-gs-action="kill"></gs-item>
                </gs-context>
            </gs-table>

            <gs-pagination storage="workstations" pages="5" css="justify-content-center p-1 m-1" first last previous next></gs-pagination>

            <gs-admin-dialog-workstation button-align="center" id="modal-main"></gs-admin-dialog-workstation>

        </div>

    </div>
</div>