
<div class="row form-group m-1">
    <div class="col-md-4 col-sm-4 col-xs-12 text-md-end ">
        <label class="control-label " for="modernization">Modernization</label>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-11">
        <select class="form-select" id="modernization" name="modernization" required>
            <option selected value="false">NO</option>
            <option value="true">YES</option>
        </select>
    </div>
    <div class="col-auto ">
        <gs-tooltip placement="right" title="Enable automatic screen conversion to GUI interface. NOTE: Requires definition and screen templates."></gs-tooltip>
        <i class="bi bi-info-circle-fill text-primary me-2 fs-5"></i>
    </div>
</div>

<div class="row form-group m-1">
    <div class="col-md-4 col-sm-4 col-xs-12 text-md-end ">
        <label class="control-label " for="editing">Editing</label>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-11">
        <select class="form-select" id="editing" name="editing">
            <option selected value="false">NO</option>
            <option value="true">YES</option>
        </select>
    </div>
    <div class="col-auto ">
        <gs-tooltip placement="right" title="Enable template editing."></gs-tooltip>
        <i class="bi bi-info-circle-fill text-primary me-2 fs-5"></i>
    </div>
</div>

<div class="row form-group m-1">
    <div class="col-md-4 col-sm-4 col-xs-12 text-md-end ">
        <label class="control-label " for="cacheTimeout">Cache Timeout</label>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-11">
        <select class="form-select" id="cacheTimeout" name="cacheTimeout" selected="0">
            <option value="0">HOURS</option>
            <option value="1">DAYS</option>
            <option value="2">WEEKS</option>
            <option value="3">MONTHS</option>
        </select>
    </div>
    <div class="col-auto ">
        <gs-tooltip placement="right" title="Cache value type."></gs-tooltip>
        <i class="bi bi-info-circle-fill text-primary me-2 fs-5"></i>
    </div>
</div>


<div class="row form-group m-1">
    <div class="col-md-4 col-sm-4 col-xs-12 text-md-end ">
        <label class="control-label " for="cacheValue">Cache Value</label>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-11">
        <input class="form-control  text-uppercase" id="cacheValue" name="cacheValue" type="number" min="0" value="0">
    </div>
    <div class="col-auto ">
        <gs-tooltip placement="right" title="Cache value.Set 0 to unlimited (default)."></gs-tooltip>
        <i class="bi bi-info-circle-fill text-primary me-2 fs-5"></i>
    </div>
</div>
