:root {
    --bs-body-bg: #f7f7f7;
    --bs-body-bg-rgb: 247, 247, 247;
    --gs-secondary-rgb: 244, 248, 251;
    --gs-backdrop-blur : 4px;
}

dialog {
    min-width: 470px;
}

dialog::backdrop {
    transform: translate3d(0px, 0px, 0px);
}

.offcanvas,
.offcanvas-xxl,
.offcanvas-xl,
.offcanvas-lg,
.offcanvas-md,
.offcanvas-sm {
    --bs-offcanvas-bg: #f4f8fb !important
}

.list-group {
    --bs-list-group-bg: var( --bs-offcanvas-bg);
    --bs-list-group-action-hover-bg: var(--bs-gray-200);
}

.nav-link:hover,
.nav-link:focus {
    background-color: rgb(67 89 113 / 13%) !important;
}

.zindex-10k {
    z-index: 10000;
}

.card {
    --bs-card-header-bg: ghostwhite;
}

.card-header {
    background-color: var(--bs-card-header-bg);
}

.logo {
    background-image: url(/bootstrap-lit/assets/img/logo.png);
    background-repeat: no-repeat;
    background-size: 12rem;
    background-position: 50% 50%;
}

.btn-primary {
    --bs-btn-bg: #f16000;
    --bs-btn-border-color: #f16000;
    --bs-btn-hover-bg: #ff6500;
    --bs-btn-hover-border-color: #ff6500;
    --bs-btn-active-bg: #ff6500;
    --bs-btn-active-border-color: #ff6500;
    --bs-btn-disabled-bg: #d37639;
    --bs-btn-disabled-border-color: #d37639;
}

.form-control:focus,
.form-select:focus {
    background-color: aliceblue;
}

.list-group {
    --bs-list-group-color: #697e93;
}

.table-secondary {
    --bs-table-bg: #f4f8fb;
}