<gs-form css="text-start" autocomplete="off">
<template>
	<gs-formui-handler></gs-formui-handler>
    <gs-form-group layout="vertical" css="mb-3" name="email" label="Email address" 
	    autocomplete="off" required autofocus autovalidate>
	</gs-form-group>
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>

    <gs-form-group layout="vertical" css="mb-3" type="password" name="password" label="Password" 
	    autocomplete="off" placeholder="enter password" required>
	</gs-form-group>

</template>    
</gs-form>
