<gs-form-group css="m-1" name="devtype" label="Device type"
    description="Type of device configuration.">
    <template>
        <select class="form-select" id="devtype" name="devtype" required>
            <option selected value="0">0 - Both</option>
            <option value="1">1 - Display</option>
            <option value="2">2 - Printer</option>
        </select>
    </template>
</gs-form-group>

<gs-form-group css="m-1" name="display" label="Display name"
    css-field="text-uppercase"
    description="Display name for terminal session (optional).">
</gs-form-group>

<gs-form-group css="m-1" name="outq" label="OUTQ"
    css-field="text-uppercase" maxlength="10"
    description="Spool output QUEUE for terminal session (optional).Spool output QUEUE for terminal session (optional).">
</gs-form-group>

<gs-form-group css="m-1" name="printer" label="Printer" css-field="text-uppercase"
    description="Local printer name.">
</gs-form-group>

<gs-form-group css="m-1" name="driver" label="Driver"
    description="Printer driver (optional).">
    <template>
        <select class="form-select" id="driver" name="driver" required>
            <option selected value="0">0 - PDF</option>
            <option value="1">1 - HTML</option>
            <option value="2">2 - TEXT</option>
            <option value="3">3 - JSON</option>
            <option value="4">4 - RAW</option>
            <option value="5">5 - ETL</option>
            <option value="6">6 - JSX</option>
            <option value="9">99 - EXT</option>
        </select>        
    </template>
</gs-form-group>

<gs-form-group css="m-1" name="drawer1" label="Drawer 1"
    description="Default paper size for printer sessions for drawer 1. When user select DEFAULT, this option will be used.">    <template>
        <select class="form-select"  name="drawer1" required>
            <option value="-1" selected>Drawer 1 (Default)</option>
            <option value="1">LETTER</option>
            <option value="2">LEGAL</option>
            <option value="3">EXECUTIVE</option>
            <option value="4">A4</option>
            <option value="5">A5</option>
            <option value="6">B5</option>
            <option value="9">LEDGER</option>
            <option value="10">A3</option>
            <option value="11">B4</option>
            <option value="12">NONE</option>
        </select>        
    </template>
</gs-form-group>

<gs-form-group css="m-1" name="drawer2" label="Drawer 2"
    description="Default paper size for printer sessions for drawer 2. When user select DEFAULT, this option will be used.">
    <template>
        <select class="form-select"  name="drawer2" required>
            <option value="-1" selected>Drawer 2 (Default)</option>
            <option value="1">LETTER</option>
            <option value="2">LEGAL</option>
            <option value="3">EXECUTIVE</option>
            <option value="4">A4</option>
            <option value="5">A5</option>
            <option value="6">B5</option>
            <option value="9">LEDGER</option>
            <option value="10">A3</option>
            <option value="11">B4</option>
            <option value="12">NONE</option>
        </select>        
    </template>
</gs-form-group>

<gs-form-group css="m-1" name="enhanced" label="Enhanced"
    description="Enable only if PDF driver has script processing. Might decrease processing performance if enabled.">
    <template>
        <select class="form-select" id="enhanced" name="enhanced" required>
            <option value="0">FALSE</option>
            <option selected value="1">TRUE</option>
        </select>        
    </template>
</gs-form-group>
