<gs-form-group selectable required
    css="m-1" name="devtype" label="Device type"
    description="Type of device configuration.">
    <gs-item value="0" name="0 - Both" selected></gs-item>     
    <gs-item value="1" name="1 - Display"></gs-item>
    <gs-item value="2" name="2 - Printer"></gs-item> 
</gs-form-group>

<gs-form-group css="m-1" name="display" label="Display name"
    css-field="text-uppercase"
    description="Display name for terminal session (optional).">
</gs-form-group>

<gs-form-group css="m-1" name="outq" label="OUTQ"
    css-field="text-uppercase" maxlength="10"
    description="Spool output QUEUE for terminal session (optional).Spool output QUEUE for terminal session (optional).">
</gs-form-group>

<gs-form-group css="m-1" name="printer" label="Printer" css-field="text-uppercase"
    description="Local printer name.">
</gs-form-group>

<gs-form-group  selectable required
    css="m-1" name="driver" label="Driver"
    description="Printer driver (optional).">
    <gs-item value="0" name="0 - PDF" selected></gs-item>
    <gs-item value="1" name="1 - HTML"></gs-item>
    <gs-item value="2" name="2 - TEXT"></gs-item>
    <gs-item value="3" name="3 - JSON"></gs-item>
    <gs-item value="4" name="4 - RAW"></gs-item>
    <gs-item value="5" name="5 - ETL"></gs-item>
    <gs-item value="6" name="6 - JSX"></optiogs-item>
    <gs-item value="9" name="99 - EXT"></gs-item>
</gs-form-group>

<gs-form-group  selectable required
    css="m-1" name="drawer1" label="Drawer 1"
    description="Default paper size for printer sessions for drawer 1. When user select DEFAULT, this option will be used.">  
    <gs-item value="-1" name="Drawer 1 (Default)" selected></gs-item>
    <gs-item value="1" name="*LETTER"></gs-item>
    <gs-item value="2" name="*LEGAL"></gs-item>
    <gs-item value="3" name="*EXECUTIVE"></gs-item>
    <gs-item value="4" name="*A4"></gs-item>
    <gs-item value="5" name="*A5"></gs-item>
    <gs-item value="6" name="*B5"></optiogs-item>
    <gs-item value="9" name="*LEDGER"></gs-item>
    <gs-item value="10" name="*A3"></gs-item>
    <gs-item value="11" name="*B4"></gs-item>
    <gs-item value="12" name="*NONE"></gs-item>
</gs-form-group>

<gs-form-group  selectable required
    css="m-1" name="drawer2" label="Drawer 2"
    description="Default paper size for printer sessions for drawer 2. When user select DEFAULT, this option will be used.">
    <gs-item value="-1" name="Drawer 2 (Default)" selected></gs-item>
    <gs-item value="1" name="*LETTER"></gs-item>
    <gs-item value="2" name="*LEGAL"></gs-item>
    <gs-item value="3" name="*EXECUTIVE"></gs-item>
    <gs-item value="4" name="*A4"></gs-item>
    <gs-item value="5" name="*A5"></gs-item>
    <gs-item value="6" name="*B5"></optiogs-item>
    <gs-item value="9" name="*LEDGER"></gs-item>
    <gs-item value="10" name="*A3"></gs-item>
    <gs-item value="11" name="*B4"></gs-item>
    <gs-item value="12" name="*NONE"></gs-item>
</gs-form-group>

<gs-form-group  selectable required
    css="m-1" name="enhanced" label="Enhanced"
    description="Enable only if PDF driver has script processing. Might decrease processing performance if enabled.">
    <gs-item selected value="1" name="Enabled"></gs-item>
    <gs-item value="0" name="Disabled"></gs-item>    
</gs-form-group>
