<div class="row form-group m-1">
    <div class="col-md-4 col-sm-4 col-xs-12 text-md-end">
        <label class="control-label" for="confid">Config code</label>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-11">
        <input class="form-control  text-uppercase" id="confid" name="confid" type="text">
    </div>
    <div class="col-auto">
        <gs-tooltip placement="right" title="Configuration ID to group set of configurations for user."></gs-tooltip>
        <i class="bi bi-info-circle-fill text-primary me-2 fs-5"></i>
    </div>
</div>

<div class="row form-group m-1">
    <div class="col-md-4 col-sm-4 col-xs-12 text-md-end">
        <label class="control-label" for="uuid">UUID</label>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-11">
        <input class="form-control  text-uppercase" id="uuid" name="uuid" type="text">
    </div>
    <div class="col-auto">
        <gs-tooltip placement="right" title="UUID virtual host group."></gs-tooltip>
        <i class="bi bi-info-circle-fill text-primary me-2 fs-5"></i>
    </div>
</div>

<div class="row form-group m-1">
    <div class="col-md-4 col-sm-4 col-xs-12 text-md-end">
        <label class="control-label" for="host">Host</label>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-11">
        <input class="form-control  text-uppercase" id="host" name="host" type="text">
    </div>
    <div class="col-auto">
        <gs-tooltip placement="right" title="Virtual host name."></gs-tooltip>
        <i class="bi bi-info-circle-fill text-primary me-2 fs-5"></i>
    </div>
</div>

<div class="row form-group m-1">
    <div class="col-md-4 col-sm-4 col-xs-12 text-md-end">
        <label class="control-label" for="user">User</label>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-11">
        <input class="form-control  text-uppercase" id="user" name="user" type="text" maxlength="10" pattern="[a-zA-Z10-9]{0,10}" placeholder="Enter workstation name">
    </div>
    <div class="col-auto">
        <gs-tooltip placement="right" title="User Name to access to the remote host."></gs-tooltip>
        <i class="bi bi-info-circle-fill text-primary me-2 fs-5"></i>
    </div>
</div>