<div class="row form-group m-1">
    <div class="col-md-4 col-sm-4 col-xs-12 text-md-end">
        <label class="control-label" for="program">Program</label>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-11">
        <input class="form-control  text-uppercase" id="program" name="program" type="text" maxlength="10">
    </div>
    <div class="col-auto">
        <gs-tooltip placement="right" title="Initial program name for terminal session (optional)."></gs-tooltip>
        <i class="bi bi-info-circle-fill text-primary me-2 fs-5"></i>
    </div>
</div>

<div class="row form-group m-1">
    <div class="col-md-4 col-sm-4 col-xs-12 text-md-end">
        <label class="control-label" for="menu">Menu</label>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-11">
        <input class="form-control  text-uppercase" id="menu" name="menu" type="text" maxlength="10">
    </div>
    <div class="col-auto">
        <gs-tooltip placement="right" title="Initial menu name for terminal session (optional)."></gs-tooltip>
        <i class="bi bi-info-circle-fill text-primary me-2 fs-5"></i>
    </div>
</div>

<div class="row form-group m-1">
    <div class="col-md-4 col-sm-4 col-xs-12 text-md-end">
        <label class="control-label" for="library">Library</label>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-11">
        <input class="form-control  text-uppercase" id="library" name="library" type="text" maxlength="10">
    </div>
    <div class="col-auto">
        <gs-tooltip placement="right" title="Initial library name for terminal session (optional)."></gs-tooltip>
        <i class="bi bi-info-circle-fill text-primary me-2 fs-5"></i>
    </div>
</div>
