<gs-form-group css="m-1" name="program" label="Program" css-field="text-uppercase"
    maxlength="10"
    description="Initial program name for terminal session (optional).">
</gs-form-group>

<gs-form-group css="m-1" name="menu" label="Menu" css-field="text-uppercase"
    maxlength="10"
    description="Initial menu name for terminal session (optional).">
</gs-form-group>

<gs-form-group css="m-1" name="library" label="Library" css-field="text-uppercase"
    maxlength="10"
    description="Initial library name for terminal session (optional).">
</gs-form-group>
