<gs-table id="table-jobs" index=false css="border table table-light table-hover table-striped user-select-none m-0"
css-select="table-active table-dark _fw-bold" css-header="user-select-none table-light">
<gs-header>
    <gs-column title="Job ID" width="200px" name="job-id"></gs-column>
    <gs-column  title="Job URI" name="job-uri"></gs-column>
</gs-header>
<gs-store id="jobs" limit=10>
    <gs-item name="job-uri"></gs-item>
    <gs-item name="job-id"></gs-item>
</gs-store>
<gs-context slot="extra" target="tbody tr" anchor="self">
    <gs-item name="Details" action="details"></gs-item>
    <gs-item name="Cancel Job" action="cancelJob"></gs-item>
    <gs-item></gs-item>
    <gs-item name="Print Sample" action="printUri"></gs-item>
    <gs-item name="Clear Queue" action="purgeJobs"></gs-item>    
    <gs-item></gs-item>
    <gs-item name="Refresh" action="refresh"></gs-item>
</gs-context>
<gs-pager slot="extra" previous="&laquo;" next="&raquo;" firstlast="false"></gs-pager>
</gs-table>

<gs-table id="table-job-attributes" index=false css="border table table-light table-hover table-striped user-select-none m-0"
css-select="table-active" css-header="user-select-none table-light">
<gs-header>
    <gs-column title="Property" width="500px" name="key"></gs-column>
    <gs-column  title="Value" name="value"></gs-column>
</gs-header>
<gs-store id="job-attributes">
    <gs-item name="key"></gs-item>
    <gs-item name="value"></gs-item>
</gs-store>
</gs-table>