<gs-nav class="flex-fill px-3" css-nav="fw-bold" type="underline" vertical>
    <gs-nav-item title="Settings" icon="bi-gear me-2 fs-5" css="flex-fill" css-nav="nav-pill" data-gs-inject="gs-ext-settings" data-gs-target="#content" active="true"></gs-nav-item>
    <gs-nav-item title="Colors"   icon="bi-eye-fill me-2 fs-5" css="flex-fill" data-gs-inject="gs-ext-colors" data-gs-target="#content"></gs-nav-item>
    <gs-nav-item title="Sessions" icon="bi-display me-2 fs-5" css="flex-fill" data-gs-inject="gs-ext-sessions" data-gs-target="#content"></gs-nav-item>
    <gs-nav-item title="Import Data" icon="bi-upload me-2 fs-5" css-nav-wrap="mt-3" selectable="false" data-gs-action="import"></gs-nav-item>
    <gs-nav-item title="Export Data" icon="bi-download me-2 fs-5" selectable="false" action="export"></gs-nav-item>
    <gs-nav-item title="About" icon="bi-info-circle-fill me-2 fs-5" css="flex-fill" css-nav-wrap="mt-3" data-gs-inject="//views/about.html" data-gs-target="#content"></gs-nav-item>
</gs-nav>
