<gs-nav class="flex-fill px-3" css-nav="fw-bold" type="pills" vertical>
    <gs-nav-item title="Settings" icon="gear me-2 fs-5" css="flex-fill" css-nav="nav-pill" data-gs-swap="gs-ext-settings" data-gs-target="#content" active></gs-nav-item>
    <gs-nav-item title="Colors"   icon="eye-fill me-2 fs-5" css="flex-fill" data-gs-swap="gs-ext-colors" data-gs-target="#content"></gs-nav-item>
    <gs-nav-item title="Sessions" icon="display me-2 fs-5" css="flex-fill" data-gs-swap="gs-ext-sessions" data-gs-target="#content"></gs-nav-item>
    <gs-nav-item title="Import Data" icon="upload me-2 fs-5" css-nav-wrap="mt-3" selectable="false" data-gs-target="gs-actions" data-gs-action="import"></gs-nav-item>
    <gs-nav-item title="Export Data" icon="download me-2 fs-5" selectable="false" data-gs-target="gs-actions" data-gs-action="export"></gs-nav-item>
    <gs-nav-item title="About" icon="info-circle-fill me-2 fs-5" css="flex-fill" css-nav-wrap="mt-3" data-gs-swap="//views/about.html" data-gs-target="#content"></gs-nav-item>
</gs-nav>
