<div class="d-flex justify-content-between align-items-center">

    <gs-search class="w-25" name="search"></gs-search>
    <div>
        <gs-button id="create" title="Create" action="create" select="false" comment="Add new definition" css="text-bg-light"
            icon="bi-file-earmark-medical fs-4 fw-bold"></gs-button>
        <gs-button id="refresh" title="Refresh" action="refresh" select="false" comment="Refresh data" css="text-bg-light"
            icon="bi-arrow-repeat fs-4 fw-bold"></gs-button>
    </div>
</div>
