<div class="row form-group m-1">
    <div class="col-md-4 col-sm-4 col-xs-12 text-md-end ">
        <label class="control-label " for="sso">SSO Status</label>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-11">
        <select class="form-select" id="sso" name="sso" required="" selected="false">
            <option value="false">Disabled</option>
            <option value="true">Enabled</option>
      </select>
    </div>
    <div class="col-auto ">
        <gs-tooltip placement="right" title="Enable Single Sign On. IBM system must be configured to use Kerberos for signon."></gs-tooltip>
        <i class="bi bi-info-circle-fill text-primary me-2 fs-5"></i>
    </div>
</div>

<div class="row form-group m-1">
    <div class="col-md-4 col-sm-4 col-xs-12 text-md-end ">
        <label class="control-label " for="ssoKDC">KDC</label>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-11">
        <input class="form-control" id="ssoKDC" name="ssoKDC" type="text">
    </div>
    <div class="col-auto ">
        <gs-tooltip placement="right" title="Kerberos V5 service. If empty, auto discovery is used.  DNS SRV must be properly set. Useful if multiple KDC services used."></gs-tooltip>
        <i class="bi bi-info-circle-fill text-primary me-2 fs-5"></i>
    </div>
</div>

<div class="row form-group m-1">
    <div class="col-md-4 col-sm-4 col-xs-12 text-md-end ">
        <label class="control-label " for="ssoSPN">SPN</label>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-11">
        <input class="form-control" id="ssoSPN" name="ssoSPN" type="text">
    </div>
    <div class="col-auto ">
        <gs-tooltip placement="right" title="SPN name for this service."></gs-tooltip>
        <i class="bi bi-info-circle-fill text-primary me-2 fs-5"></i>
    </div>
</div>

<div class="row form-group m-1">
    <div class="col-md-4 col-sm-4 col-xs-12 text-md-end ">
        
    </div>    
    <div class="col-md-6 col-sm-6 col-xs-11">
        <button id="btnKDC" type="button" class="btn btn-secondary d-inline">Reload</button>
    </div>
    <div class="col-auto">
        <gs-tooltip placement="right" title="Resync data from KDC"></gs-tooltip>
        <i class="bi bi-info-circle-fill text-primary me-2 fs-5"></i>
    </div>
</div>