
    <gs-form-group css="m-1" name="subject" label="Subject" autofocus required 
        description="Default email subject">
    </gs-form-group> 

    <gs-form-group css="m-1" name="message" label="Message" autofocus required 
        description="Default email message">
    </gs-form-group> 

	<hr>

    <gs-form-group css="m-1" name="altSender" label="Alternative Sender" autofocus  
        type="email" description="Alternative email sender">
    </gs-form-group> 

    <gs-form-group css="m-1" name="altName" label="Alternative Name" autofocus  
        description="Alternative email sender namne">
    </gs-form-group> 
	