<div class="row ">
	<div class="col-md-6">
		<div class="card border m-4 p-4">
			<div class="x_title">
				<h3>About</h3>
				<div class="clearfix"></div>
			</div>
			<div class="x_content">
				<ul>
					<li>Browser Extension for Green Screens Web Terminal</li>
					<li><b>Version:</b> <span id="version">5.1.0.154</span></li>
					<li><b>Release:</b> <span id="release">03.06.2022.</span></li>
				</ul>
			</div>
		</div>
	</div>

	<div class="col-md-6">
		<div class="card border m-4 p-4">
			<div class="x_title">
				<h3>What's New</h3>
				<div class="clearfix"></div>
			</div>
			<div class="x_content">
				<ul>
					<li>Printer drawer page selections</li>
					<li>Color Theme export to CSS</li>
					<li>Custom Color Themes per configuration</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="col-md-12">
		<div class="x_panel frame">
			<div class="x_title">
				<h3>Tips</h3>
				<div class="clearfix"></div>
			</div>

			<div class="x_content">				
				<ul class="list-group">

					<a href="#" class="m-1 border shadow-sm text-bg-light list-group-item list-group-item-action d-flex justify-content-between align-items-center">
						<div class="flex-column">
							Use omnibox - type <b><u>webterm UUID HOST</u></b> in address bar for quick terminal access
							<p><small>omnibox is browser address bar</small></p>
							<span class="badge bg-danger"> omnibox</span>
						</div>
					</a>

					<a href="#" class="m-1 border shadow-sm text-bg-light list-group-item list-group-item-action d-flex justify-content-between align-items-center">
						<div class="flex-column">
							Use legacy mode to switch terminal display between 4:3 and 16:9 ratio
							<p><small>switch terminal display</small></p>
							<span class="badge bg-danger">display</span>
						</div>
					</a>

					<a href="#" class="m-1 border shadow-sm text-bg-light list-group-item list-group-item-action d-flex justify-content-between align-items-center">
						<div class="flex-column">
							Use font options to adjust custom terminal font sizes and styling
							<p><small>switch terminal font</small></p>
							<span class="badge bg-danger">display</span>
						</div>
					</a>

					<a href="#" class="m-1 border shadow-sm text-bg-light list-group-item list-group-item-action d-flex justify-content-between align-items-center">
						<div class="flex-column">
							When customizing display theme colors, open web terminal in parallel to monito immediate changes on the screen.
							<p><small>switch terminal colors</small></p>
							<span class="badge bg-danger">display</span>
						</div>
					</a>					
				</ul>
			</div>
		</div>
	</div>

</div>
