
<gs-script auto="false" type="module" url="/demos/extension/scripts/colors.mjs"></gs-script>

<div class="d-flex justify-content-between align-items-center bg-light border shadow-sm px-4">
    <div class="fs-5 fw-bold">Color Themes</div>
    <div class="w-50 input-group">
        <i class="input-group-text bg-white bi bi-search"></i>
        <input class="form-control border-start-0" placeholder="search" name="search" id="search">
    </div>
    <div>
        <gs-button select="false" comment="Add new definition" css="text-bg-light" icon="bi bi-file-earmark-medical fs-4 fw-bold"></gs-button>
        <gs-button select="false" comment="Refresh data" css="text-bg-light" icon="bi bi-arrow-repeat fs-4 fw-bold">
        </gs-button>
    </div>
</div>

<div class="d-flex justify-content-between align-items-center bg-light border shadow-sm">

    <gs-table id="table-colors" index=false class="flex-fill"
        css="table table-light table-hover user-select-none m-0"
        css-select="table-active table-primary" 
        css-header="user-select-none table-secondary">
        <gs-header>
            <gs-column title="Name" name="name" width="250px" filter="false"></gs-column>
            <gs-column title="Description" name="description" filter="false"></gs-column>
        </gs-header>
        <gs-data src="data/colors.json" id="colors" limit=10>
            <gs-item name="name"></gs-item>
            <gs-item name="description"></gs-item>
        </gs-data>
        <gs-context slot="extra" target="tbody tr">
            <gs-item name="Details" action="details"></gs-item>
            <gs-item name="Clone" action="clone"></gs-item>
            <gs-item name="Export to CSS" action="export"></gs-item>
            <gs-item name="Remove" action="remove"></gs-item>
        </gs-context>
        <!--
            <gs-pager slot="extra" previous="&laquo;" next="&raquo;" firstlast="false"></gs-pager>
         -->
    </gs-table>

    <gs-modal id="modal-color" visible="false">
        <h4 slot="title">Theme Colors</h4>
        <gs-template slot="body" href="//color-dialog.html"></gs-template>
    </gs-modal>    
</div>