<gs-nav class="flex-fill px-3" css-nav="nav-pills fw-bold" bar="false">
    <gs-item title="Settings" icon="bi bi-gear me-2 fs-5" css="flex-fill"  css-nav-wrap="" css-nav="nav-pill" inject="gs-ext-settings" target="#content"></gs-item>
    <gs-item title="Colors" icon="bi bi-eye-fill me-2 fs-5" css="flex-fill" inject="gs-ext-colors" target="#content"></gs-item>
    <gs-item title="Sessions" icon="bi bi-display me-2 fs-5" css="flex-fill" inject="gs-ext-sessions" target="#content"></gs-item>
    <gs-item title="Import Data" icon="bi bi-upload me-2 fs-5" css-nav-wrap="mt-3" selectable="false" action="import"></gs-item>
    <gs-item title="Export Data" icon="bi bi-download me-2 fs-5" selectable="false" action="export"></gs-item>
    <gs-item title="About" icon="bi bi-info-circle-fill me-2 fs-5" css="flex-fill" css-nav-wrap="mt-3" inject="//about.html" target="#content"></gs-item>
</gs-nav>