<div class="d-flex justify-content-between align-items-center bg-light border shadow-sm px-4">
    <div class="fs-5 fw-bold"><slot></slot></div>
    <gs-search class="w-50" name="search"></gs-search>
    <div>
        <gs-button id="create" action="create" select="false" comment="Add new definition" css="text-bg-light" icon="bi bi-file-earmark-medical fs-4 fw-bold"></gs-button>
        <gs-button id="refresh" action="refresh" select="false" comment="Refresh data" css="text-bg-light" icon="bi bi-arrow-repeat fs-4 fw-bold"></gs-button>
    </div>
</div>