<div class="container-fluid">
    <div class="row border shadow-sm ms-4 ps-4 py-4 bg-light border shadow-sm ">

        <div class="row">
            <div class="col">
                <h4 class="text-muted">Color Themes</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-12">

                <gs-template flat src="//shell/toolbar.html" id="toolbar"></gs-template>

                <gs-data-handler  src="data/colors.json" id="colors" limit=10 type="cached" autoload>
                    <gs-item name="name"></gs-item>
                    <gs-item name="description"></gs-item>
                </gs-data-handler>
                
                <gs-table id="table-main" storage="colors" class="flex-fill"  selectable
                    css="table table-light table-hover user-select-none m-0 border" 
                    css-select="table-active table-primary"
                    css-header="user-select-none table-secondary">
                    <gs-item title="Name" name="name" width="250px"></gs-item>
                    <gs-item title="Description" name="description"></gs-item>
                    <gs-context slot="extra" filter="tbody tr">
                        <gs-item name="Details" action="details"></gs-item>
                        <gs-item name="Clone" action="clone"></gs-item>
                        <gs-item name="Export to CSS" action="export"></gs-item>
                        <gs-item></gs-item>
                        <gs-item name="Remove" action="remove"></gs-item>
                    </gs-context>
                    <gs-pagination slot="extra" storage="colors" pages="5" label-previous="&laquo;" label-next="&raquo;" css="justify-content-center m-2" previous next></gs-pagination>
                </gs-table>
    
                <gs-dialog id="modal-main" template="//forms/color.html" closable cancelable>
                    <h4 slot="title">Theme Colors</h4>
                </gs-dialog>

            </div>
        </div>

    </div>
</div>
