<div class="container-fluid">
    <div class="row border shadow-sm ms-4 ps-4 py-4 bg-light border shadow-sm ">

        <div class="row">
            <div class="col">
                <h4 class="text-muted">Terminal Sessions</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-12">

                <gs-template flat src="//shell/toolbar.html" id="toolbar"></gs-template>

                <gs-data-handler src="data/sessions.json" id="sessions" limit=10 type="cached" autoload>
                    <gs-item name="name"></gs-item>
                    <gs-item name="uuid"></gs-item>
                    <gs-item name="host"></gs-item>
                    <gs-item name="display"></gs-item>
                    <gs-item name="printer"></gs-item>
                    <gs-item name="user"></gs-item>
                    <gs-item name="codepage"></gs-item>
                    <gs-item name="sessionID"></gs-item>
                    <gs-item name="theme"></gs-item>
                </gs-data-handler>
                
                <gs-table id="table-main" storage="sessions" class="flex-fill" selectable
                    css="table table-light table-hover user-select-none m-0 border" 
                    css-select="table-active table-primary"
                    css-header="user-select-none table-secondary">
                    <gs-item title="Name" name="name"></gs-item>
                    <gs-item title="UUID" name="uuid"></gs-item>
                    <gs-item title="Host" name="host"></gs-item>
                    <gs-item title="Display Name" name="display"></gs-item>
                    <gs-item title="Printer Name" name="printer"></gs-item>
                    <gs-item title="User" name="user"></gs-item>
                    <gs-item title="Code Page" name="codepage"></gs-item>
                    <gs-item title="Session ID" name="sessionID"></gs-item>
                    <gs-item title="Theme" name="theme"></gs-item>
                    <gs-context slot="extra" filter="tbody tr">
                        <gs-item name="Details" action="details"></gs-item>
                        <gs-item name="Clone" action="clone"></gs-item>
                        <gs-item name="Export to CSS" action="export"></gs-item>
                        <gs-item></gs-item>
                        <gs-item name="Remove" action="remove"></gs-item>
                    </gs-context>
                    <gs-pagination slot="extra" storage="sessions" pages="5" label-previous="&laquo;" label-next="&raquo;" css="justify-content-center m-2" previous next></gs-pagination>
                </gs-table>
    
                <gs-session-dialog id="modal-main"></gs-session-dialog>

            </div>
        </div>

    </div>
</div>

