<div class="container mt-4 mb-4 pb-4">

    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-12 col-lg-8 overflow-hidden">
            
            <div class="flex-fill mb-4 pb-4" novalidate="">
                
                <gs-template flat src="//settings/service.html" css="flex-fill"></gs-template>
                
                <gs-template flat src="//settings/display.html" css="flex-fill"></gs-template>
                
                <gs-template flat src="//settings/font.html" css="flex-fill"></gs-template>
                
                <gs-template flat src="//settings/link.html" css="flex-fill"></gs-template>

                <gs-template flat src="//settings/extension.html" css="flex-fill"></gs-template>
                
            </div>
            
        </div>
    </div>
    
</div>
<br><br><br><br>
