<div class="container mt-4 mb-4 pb-4">

    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-12 col-lg-8 overflow-hidden">
            
            <form is="gs-ext-form" id="form-settings" class="flex-fill mb-4 pb-4" novalidate="">
                
                <gs-template flat="true" href="//settings/service.html" css="flex-fill"></gs-template>
                
                <gs-template flat="true" href="//settings/display.html" css="flex-fill"></gs-template>
                
                <gs-template flat="true" href="//settings/font.html" css="flex-fill"></gs-template>
                
                <gs-template flat="true" href="//settings/link.html" css="flex-fill"></gs-template>

                <gs-template flat="true" href="//settings/extension.html" css="flex-fill"></gs-template>
                
            </form>
            
        </div>
    </div>
    
</div>
