<div class="d-flex justify-content-between align-items-center bg-light border shadow-sm">

    <form is="gs-ext-form" id="form-settings" class="flex-fill" novalidate="">
        <gs-tab css-nav="nav-tabs" css-pane="d-flex justify-content-center p-4 mt-1 flex-fill">
            <gs-item title="Service" template="//settings/service.html" css-pane="flex-fill" active="true"></gs-item>
            <gs-item title="Display" template="//settings/display.html" css-pane="flex-fill"></gs-item>
            <gs-item title="Font"    template="//settings/font.html" css-pane="flex-fill"></gs-item>
            <gs-item title="Link"    template="//settings/link.html" css-pane="flex-fill"></gs-item>
            <gs-item title="Extension" template="//settings/extension.html" css-pane="flex-fill"></gs-item>
        </gs-tab>
        
        <div class="d-flex justify-content-center align-items-center m-3">
            <button type="submit" class="btn btn-primary me-1" data-action="submit">Save</button>            
        </div>        
    </form>

</div>
