	<gs-form-group selectable required css="m-1" name="sso" label="Status" autocomplete="off"  
	    description="Enable Single Sign On. IBM system must be configured to use Kerberos for signon.">
		<gs-item value="false" selected>Disabled</gs-item>
		<gs-item value="true">Enabled</gs-item>
	</gs-form-group>


	<gs-form-group css="m-1" name="ssoKDC" label="KDC" 
	    autocomplete="off"
	    description="Kerberos V5 service. If empty, auto discovery is used. DNS SRV must be properly set. Useful if multiple KDC services used.">
	</gs-form-group>
	
	<gs-form-group css="m-1" name="ssoSPN" label="SPN" autocomplete="off" list="spn"
		placeholder="HTTP/host.domain.com@REALM.COM"
	    description="SPN name for this service.">
		<datalist slot="footer" id="spn" is="gs-ext-datalist"></datalist>
	</gs-form-group>